<div waiRole="presentation" dojoAttachPoint="titleNode" dojoAttachEvent='onclick:onClick'>
    <div waiRole="presentation" class='dijitTabInnerDiv' dojoAttachPoint='innerDiv'>
        <div waiRole="presentation" class='dijitTabContent' dojoAttachPoint='tabContent'>
        	<div waiRole="presentation" dojoAttachPoint='focusNode'>
		        <img src="${_blankGif}" alt="" class="dijitIcon" dojoAttachPoint='iconNode' />
		        <span dojoAttachPoint='containerNode' class='tabLabel'></span>
		        <span class="dijitInline dijitTabCloseButton dijitTabCloseIcon" dojoAttachPoint='closeNode'
		        		dojoAttachEvent='onclick: onClickCloseButton' waiRole="presentation">
		            <span dojoAttachPoint='closeText' class='dijitTabCloseText'>x</span
		        ></span>
			</div>
        </div>
    </div>
</div>
