<div dojoAttachEvent='onclick:_onTitleClick' class='dijitAccordionTitle'>
	<div dojoAttachPoint='titleNode,focusNode' dojoAttachEvent='onkeypress:_onTitleKeyPress'
			class='dijitAccordionTitleFocus' wairole="tab" waiState="expanded-false"
		><span class='dijitInline dijitAccordionArrow' waiRole="presentation"></span
		><span class='arrowTextUp' waiRole="presentation">+</span
		><span class='arrowTextDown' waiRole="presentation">-</span
		><img src="${_blankGif}" alt="" class="dijitIcon" dojoAttachPoint='iconNode' style="vertical-align: middle" waiRole="presentation"/>
		<span waiRole="presentation" dojoAttachPoint='titleTextNode' class='dijitAccordionText'></span>
	</div>
</div>
