.sketch  .dijitColorPalette {
	outline: 1px solid #769dc0; 
	border: 1px solid #c0ccdf;
	background:#fff;

	-moz-border-radius: 0px;
}

.sketch .dijitColorPalette .dijitPaletteImg {
	/* transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
	 * displays border around a color swatch
	 * overrides border color in dijit.css */

	border: 1px solid #cecece;
}
	
.sketch .dijitColorPalette .dijitPaletteCellHover .dijitPaletteImg {
	border: 1px solid #000;
}


.sketch .dijitColorPalette .dijitPaletteCellActive .dijitPaletteImg,
.sketch .dijitColorPalette .dijitPaletteCellSelected .dijitPaletteImg {
	border: 2px solid #000;
}
