/*Single Sorting*/
.gridxRtl .gridxArrowButtonNode{
	float:left;
	margin:2px 5px 0 4px;
}
/* NestedSorting */
.dijitRtl .gridxSortNode {
	text-align: right;
}

.dijitRtl .gridxSortBtn {
	float: left;
}

.dijitRtl .gridxSortBtnNested {
	width: 20px;
	background-position: -156px 5px;
	text-align: right;
}

.dijitRtl th.gridxCell:hover .gridxSortBtn,
.dijitRtl th.gridxCellSortFocus .gridxSortBtn {
	border-right: 1px solid #bbb;
	border-left: none;
}
.dijitRtl .gridxCellSortedAsc .gridxSortBtnNested {
	background-position: -117px 5px;
}
.dijitRtl .gridxCellSortedDesc .gridxSortBtnNested {
	background-position: -97px 5px;
}
.dijitRtl th.gridxCell:hover.gridxCellSortedAsc .gridxSortBtnNested,
.dijitRtl th.gridxCellSortFocus.gridxCellSortedAsc .gridxSortBtnNested {
	background-position: -137px 5px;
}
.dijitRtl th.gridxCell:hover.gridxCellSortedDesc .gridxSortBtnNested,
.dijitRtl th.gridxCellSortFocus.gridxCellSortedDesc .gridxSortBtnNested {
	background-position: -177px 5px;
}
.dijitRtl .gridxNestedSorted th.gridxCell:hover .gridxSortBtnSingle,
.dijitRtl .gridxNestedSorted th.gridxCellSortFocus .gridxSortBtnSingle {
	background-position: -159px 5px;
}






