/*Single Sorting*/
/* Single Sort */
.gridxSortNode {
	text-decoration:none;
	display:block;
	overflow: hidden;
}
.gridxArrowButtonChar {
	display:none;
	float:right;
}
.gridxArrowButtonNode{
	background:transparent url("images/spriteArrows.png") no-repeat scroll left center;
	display:block;
	float:right;
	height:1em;
	margin:2px 4px 0 5px;
	padding-left:0;
	width:7px;
}
.gridxSortUp .gridxArrowButtonNode {
	background-position:-21px 50%;
}

/*Nested Sorting*/
.gridxSortBtn {
	background: transparent url(images/sprite_icons.png) no-repeat -159px 5px;
	float: right;
	cursor: pointer;
	width: 10px;
	display: none;
}

.gridxSortBtnNested {
	width: 20px;
	background-position: -149px 5px;
}

.gridxSortBtn:hover,
.gridxSortBtnFocus {
    /*background-color: #ddd;*/
}

.gridxCellSorted .gridxSortBtnSingle, 
.gridxNestedSorted .gridxCellSorted .gridxSortBtnNested,

th.gridxCell:hover .gridxSortBtnSingle,
.gridxSingleSorted th.gridxCell:hover .gridxSortBtn,
.gridxNestedSorted th.gridxCell:hover .gridxSortBtn,

.gridxHeader th.gridxCellSortFocus .gridxSortBtnSingle,
.gridxSingleSorted th.gridxCellSortFocus .gridxSortBtn,
.gridxNestedSorted th.gridxCellSortFocus .gridxSortBtn,

.gridxSingleSorted .gridxHeaderHover .gridxCellSortedMain .gridxSortBtnNested,
.gridxSingleSorted .gridxHeaderFocus .gridxCellSortedMain .gridxSortBtnNested
{
	display: block;
}

.gridxSingleSorted .gridxHeader th.gridxCellSortedMain:hover .gridxSortBtnNested,
.gridxSingleSorted .gridxHeader th.gridxCellSortedMain.gridxCellSortFocus .gridxSortBtnNested,
.gridxSingleSorted .gridxHeaderHover th.gridxCellSortedMain .gridxSortBtnSingle,
.gridxSingleSorted .gridxHeaderFocus th.gridxCellSortedMain .gridxSortBtnSingle,
.gridxNestedSorted .gridxSortBtnSingle {
	display: none;
}

.gridxSingleSorted .gridxHeaderHover .gridxCellSortedMain:hover .gridxSortBtnSingle,
.gridxSingleSorted .gridxHeaderFocus .gridxCellSortedMain.gridxCellSortFocus .gridxSortBtnSingle {
	display: block;
}

th.gridxCell:hover .gridxSortBtn,
th.gridxCellSortFocus .gridxSortBtn {
/*    border-left: 1px solid #bbb;*/
}
.gridxCellSortedAsc .gridxSortBtnSingle {
	background-position: -120px 5px;
}
.gridxCellSortedAsc .gridxSortBtnNested {
	background-position: -110px 5px;
}
.gridxCellSortedDesc .gridxSortBtnSingle {
	background-position: -100px 5px;
}
.gridxCellSortedDesc .gridxSortBtnNested {
	background-position: -90px 5px;
}
th.gridxCell:hover.gridxCellSortedAsc .gridxSortBtnSingle,
th.gridxCellSortFocus.gridxCellSortedAsc .gridxSortBtnSingle {
	background-position: -140px 5px;
}
th.gridxCell:hover.gridxCellSortedAsc .gridxSortBtnNested,
th.gridxCellSortFocus.gridxCellSortedAsc .gridxSortBtnNested {
	background-position: -130px 5px;
}
th.gridxCell:hover.gridxCellSortedDesc .gridxSortBtnSingle,
th.gridxCellSortFocus.gridxCellSortedDesc .gridxSortBtnSingle {
	background-position: -180px 5px;
}
th.gridxCell:hover.gridxCellSortedDesc .gridxSortBtnNested,
th.gridxCellSortFocus.gridxCellSortedDesc .gridxSortBtnNested {
	background-position: -170px 5px;
}
.gridxNestedSorted th.gridxCell:hover .gridxSortBtnSingle,
.gridxNestedSorted th.gridxCellSortFocus .gridxSortBtnSingle {
	background-position: -159px 5px;
}





