<div>
  <div>
    ${dojoxNLS.fixedSpliterInputOrientation}
    <input id="orientationH" name="orientation" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="orientationHRadioButton" data-dojo-attach-event="onChange:_onChangeRadioButton" style="margin-left: 20px"/><label for="orientationH">${dojoxNLS.fixedSpliterInputHorizontal}</label>
    <input id="orientationV" name="orientation" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="orientationVRadioButton" data-dojo-attach-event="onChange:_onChangeRadioButton" style="margin-left: 10px"/><label for="orientationV">${dojoxNLS.fixedSpliterInputVertical}</label>
  </div>
	<div data-dojo-attach-point="rows" style="display: table; width: 100%"></div>
</div>
