<div class="gradientDialog" style="position:relative" dojoAttachPoint="_fileDialog">
	<p>
	Test Content!
	
	</p>
	
		<table class='templateTable'> 
			<tr> 
			<td class='templateFiller3'>&nbsp;</td>
				<td class='templateFiller4'>&nbsp;</td> 
				<td class='templateButton'><span dojoType='dijit.form.Button' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='OK' disabled /></td> 
				<td class='templateFiller4'>&nbsp;</td> 
				<td class='templateButton'><span dojoType='dijit.form.Button' dojoAttachEvent='onClick:cancelButton' label='Cancel'/></td> 
				<td class='templateFiller4'>&nbsp;</td> 
				<td class='templateFiller3'>&nbsp;</td>
			</tr> 
		</table> 
		
		
</div>
