<div class="propertiesTitleBar" style="display: none">
	<div class='propertiesWidgetDescription'>
		<span class='propertiesWidgetDescriptionFor'>${veNLS.toolBarFor}</span>
		<span data-dojo-attach-point="descNode">${veNLS.noSelection}</span>
	</div>

	<div class="propertiesTitleBarPropertiesContainer">
		<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="propertiesTitleBarProperties property_table_stretchable">
			<colgroup><col style="width:10px;"><col class="gap02"><col class="gap03"><col style="width:10px;"><col style="width:6px;"></colgroup>
			<tbody>
				<tr class="cssPropertySection">
					<td></td>
					<td class="propertyDisplayName">${veNLS.toolBarClass}&nbsp;</td>
					<td class="propertyInputField">
					  <input data-dojo-type="dijit.form.ComboBox" data-dojo-attach-point="classComboBox" label="" data-dojo-attach-event="onChange:_onChangeClassAttribute,onFocus:_onFieldFocus,onBlur:_onFieldBlur" style="width: 100%" searchAttr="name"/>
					</td>
					<td nowrap="true" class="propertyExtra"></td>
					<td></td>
				</tr>
	
				<tr class="cssPropertySection">
					<td></td>
					<td class="propertyDisplayName">${veNLS.toolBarId}&nbsp;</td>
					<td class="propertyInputField">
					  <input data-dojo-type="dijit.form.ValidationTextBox" data-dojo-attach-point="idTextBox" label="" data-dojo-attach-event="onChange:_onChangeIDAttribute,onKeyPress:_onKeyPress,onFocus:_onFieldFocus,onBlur:_onFieldBlur" style="width: 100%"/>
					</td>
					<td nowrap="true" class="propertyExtra"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
