/* ColorPalette
 * 
 * Styling of the ColorPalette consists of the following:
 * 
 * 1. the whole color palette
 *		.dijitColorPalette - for outline, border, and background color of the whole color palette
 *		Note: outline does not work for IE
 *
 * 2. the color swatch 
 *		.dijitColorPalette .dijitPaletteImg
 *		transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
 *		displays border around a color swatch
 *
 * 3. hovered swatch
 * 		.dijitColorPalette .dijitPaletteCellHover .dijitPaletteImg
 *		the hovered state of the color swatch - adds border
 * 	
 * 4. active and selected swatch
 * 		.dijitColorPalette .dijitPaletteCellActive .dijitPaletteImg
 *		.dijitColorPalette .dijitPaletteCellSelected .dijitPaletteImg
 *		adds border for active or selected state
 */

.claro  .dijitColorPalette {
	outline: 1px solid #769dc0; 
	border: 1px solid #c0ccdf;
	background:#fff;

	-moz-border-radius: 0px;
}

.claro .dijitColorPalette .dijitPaletteImg {
	/* transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
	 * displays border around a color swatch
	 * overrides border color in dijit.css */
	border: 1px solid #cecece;
}
.claro .dijitColorPalette .dijitPaletteCellHover .dijitPaletteImg {
	border: 1px solid #000;
}
.claro .dijitColorPalette .dijitPaletteCellActive .dijitPaletteImg,
.claro .dijitColorPalette .dijitPaletteCellSelected .dijitPaletteImg {
	border: 2px solid #000;
}
