<div>
	<div class="dijitDialogPaneContentArea">
		<label for="fileDialogParentFolder">${uiNLS.parentFolder}</label>
		<div data-dojo-attach-point="fileDialogParentFolder"></div>
		<div style="margin: 1em 0 1em 0">
			<input data-dojo-attach-point="uploader" multiple="true" type="file" data-dojo-type="dojox.form.Uploader"/>
		</div>
		<div data-dojo-attach-point="filelist"></div>
		<div data-dojo-attach-point="zipWarning" style="display:none; margin-top: 1em; background:yellow">${uiNLS.explodeZipWarning}</div>
	</div>

  <div class="dijitDialogPaneActionBar">
  	<button data-dojo-attach-point="uploadBtn" data-dojo-type="dijit/form/Button" class="maqPrimaryButton">${uiNLS.upload}</button>
		<button data-dojo-type='dijit/form/Button' data-dojo-attach-event='onClick:_cancelButton' class="maqSecondaryButton">${uiNLS.cancelButtonLabel}</button>
	</div>
</div>
