<div>
	<div class="dijitDialogPaneContentArea">
		<table>
		<tr>
			<td class="NewProjectDialogLabel">${uiNLS.parentFolder}</td><td><div class='templateInput'  dojoAttachPoint="fileDialogParentFolder"  ></input></td>
		</tr>
		<tr>
		<td class="NewProjectDialogLabel">${uiNLS.newFolderName}</td><td><input dojoType="dijit.form.TextBox" type="text" dojoAttachPoint="folderName"></input></td><td><div dojoAttachPoint='_error4'></div></td>
		</tr>
		</table>
	</div>
	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint="okButton" class="maqPrimaryButton" type="submit">${uiNLS.create}</button>
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick:_cancelButton' class="maqSecondaryButton">${uiNLS.cancelButtonLabel}</button>		
	</div>		
</div>