<div class="fileDialog" style="position:relative">
	<div lass="fileNameRow">
			<label>${fileFieldLabel}</label>
		<input dojoType="dijit.form.TextBox" type="text" dojoAttachPoint="fileDialogFileName"></input>
	</div>
	<div>
	<br>
	</div>
	<div>
		<label>${folderFieldLabel}</label>
	</div>
	
	<div class="parentFolderInputRow"><input dojoType="dijit.form.TextBox" type="text" dojoAttachPoint="fileDialogParentFolder"></input></div>
	<div class="folderContainer">
		<div dojoType="dijit.layout.ContentPane">
		<div class="fileDialogTreeWidget" dojoAttachPoint="fileTree" dojoType="dijit.Tree" model="system.resource" labelAttr="name" childrenAttrs="children"></div>
		</div>
	</div>
	
	<div class="buttonRow">
		<button dojoType="dijit.form.Button" dojoAttachEvent="onClick:_okButton">${finishButtonLabel}</button>
	</div>
</div>
