<div>
	<table>
	
	<tr>
		<td class="NewProjectDialogLabel">Parent Folder:</td><td><input dojoType="dijit.form.TextBox" class='templateInput' type='text' dojoAttachPoint="fileDialogParentFolder" readonly="true" ></input></td>
	</tr>
	
	
	<tr>
	<td class="NewProjectDialogLabel">Name:</td><td><input dojoType="dijit.form.TextBox" type="text" dojoAttachPoint="folderName"></input></td><td><div dojoAttachPoint='_error4'></div></td>
	</tr>
	
	</table>

	<table class='templateTable'> 
			<tr> 
			<td class='templateFiller3'>&nbsp;</td>
				<td class='templateFiller4'>&nbsp;</td> 
				<td class='templateButton'><span dojoType='dijit.form.Button' dojoAttachPoint="okButton" dojoAttachEvent='onClick:_okButton' label='OK'/></td> 
				<td class='templateFiller4'>&nbsp;</td> 
				<td class='templateButton'><span dojoType='dijit.form.Button' dojoAttachEvent='onClick:_cancelButton' label='Cancel'/></td> 
				<td class='templateFiller4'>&nbsp;</td> 
				<td class='templateFiller3'>&nbsp;</td>
			</tr> 
		</table> 
		
</div>