<div class="fileDialog" dojoAttachPoint="_fileDialog">
	<div class="dijitDialogPaneContentArea">
	  <div dojoAttachPoint="additionalMessage" class="maqDialogMessage" style="display: none">
	  </div>

		<table class="fileFolderTable">
			<tr class='fileNameRow'>
				<td class="fileDialogLabelCell">
					<label>${fileFieldLabel}:</label>
				</td>
				<td>
					<input dojoType="dijit.form.TextBox" type="text" dojoAttachPoint="fileDialogFileName"></input>
				</td>
				<td>
				</td>
			</tr>
			<tr class='folderNameRow'>
				<td class="fileDialogLabelCell">
					<label>${folderFieldLabel}</label>
				</td>
				<td dojoAttachPoint="fileDialogWhereDropDownCell">
					<!-- DropDownButton goes here -->
				</td>
				<td>
					<span dojoAttachPoint="fileDialogDetailsArrow">
						<span class='folder_details_arrow folder_details_show_arrow'>&nbsp;</span>
						<span class='folder_details_arrow folder_details_hide_arrow'>&nbsp;</span>
					</span>
				</td>
			</tr>
		</table>
		
		<div class="folderContainer">
			<div dojoType="dijit.layout.ContentPane">
				<div class="fileDialogTreeWidget" dojoAttachPoint="fileTree" dojoType="dijit.Tree" showRoot="false" model="system.resource" getIconClass="davinci.ui.Resource.getResourceIcon"
					getRowClass="davinci.ui.Resource.getResourceClass" labelAttr="name" childrenAttrs="children" persist="false"></div>
			</div>
			<div class='folderContainerButtonRow'><button dojoType="dijit.form.Button" dojoAttachPoint="__newFolderButton" dojoAttachEvent="onClick:_newFolder">${newFolderLabel}</button></div>
		</div>
		
		<div dojoAttachPoint="dialogSpecificOptionsDiv"></div>
	</div>
	
	<div class="dijitDialogPaneActionBar">
		<span dojoAttachPoint="dialogSpecificButtonsSpan" class="dialogSecondaryButtons"></span>
		<span class="fileDialogStdButtons">
			<button dojoType="dijit.form.Button" dojoAttachPoint="__okButton" class="maqPrimaryButton" type="submit">${finishButtonLabel}</button>
			<button dojoType="dijit.form.Button" dojoAttachPoint="__cancelButton" dojoAttachEvent="onClick:cancelButton" class="maqSecondaryButton">${cancelButtonLabel}</button>
		</span>
	</div>
	
</div>
