<div class="nhfo_outer2" dojoAttachPoint="nhfo_outer2">		<!--  nhfo = NewHTMLFileOptions -->
	<div class="nhfo_outer1">
		<div class="nhfo_details">
			<table>
				<tr class="nhfo_dv" dojoAttachPoint="deviceLabel">	<!--  dv = Device -->
					<td class='nhfo_label'>
						<label dojoAttachPoint="deviceLabel"></label>
						<select dojoType="dijit.form.Select" dojoAttachPoint="deviceSelect">
							<!--  values added dynamically -->
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
