<div class="fileDialog">
	<div class="dijitDialogPaneContentArea folderContainer">
		<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="contentpane">
		<div class="fileDialogTreeWidget" dojoAttachPoint="fileTree" dojoType="dijit.Tree" model="system.resource" persist="false" labelAttr="name" childrenAttrs="children" dojoAttachEvent="onDblClick:_onDblClick,onKeyPress:_onKeyPress"></div>
		</div>
	</div>
	
	<div class="dijitDialogPaneActionBar">
		<button dojoType="dijit.form.Button" dojoAttachEvent="onClick:_okButton" class="maqPrimaryButton" type="submit">${finishButtonLabel}</button>
		<button dojoType="dijit.form.Button" dojoAttachEvent="onClick:_cancelButton" class="maqSecondaryButton">${cancelButtonLabel}</button>
	</div>
</div>
