<div class="fileDialog">
	<div class="dijitDialogPaneContentArea folderContainer">
		<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="contentpane">
		<div class="fileDialogTreeWidget" dojoAttachPoint="fileTree" dojoType="dijit.Tree" model="system.resource" labelAttr="name" childrenAttrs="children"></div>
		</div>
	</div>
	
	<div class="dijitDialogPaneActionBar">
		<button dojoType="dijit.form.Button" dojoAttachEvent="onClick:_okButton" type="submit">${finishButtonLabel}</button>
		<button dojoType="dijit.form.Button" dojoAttachEvent="onClick:_cancelButton">${cancelButtonLabel}</button>
	</div>
</div>
