<div class='projectToolbar'>	 
	<table cellSpacing="0" cellPadding="0" border="0">
	<tr>
	<td width="16px"><td width="4px"></td></td>
	<td width="100%">
	<div class="projectSelection" dojoType="davinci.ui.widgets.ProjectSelection" dojoAttachPoint="_projectSelection"></div>
	</td>
	
	
	<td width="16px">
	<div class="projectToolbarDeleteIcon" dojoAttachPoint="_projectDelete" dojoAttachEvent="onclick:_delete"></div>
	</td>
	<td width="16px">
	<div class="projectToolbarRenameIcon" dojoAttachPoint="_projectRename" dojoAttachEvent="onclick:_rename"></div>
	</td>
	<td width="16px">&nbsp;</td>
	</tr>
	</table>
</div>