<div>
  <div class="dijitDialogPaneContentArea">
		<table style="width: 100%; padding-left:10px; padding-right:10px;">
			<tr>
				<td style="" NOWRAP>${uiNLS.themeSet}</td>
				<td style="width: 100%; text-align: center;"><select dojoType="dijit.form.Select" id="theme_select_themeset_theme_select" type="text" style="width: 175px;" ></select></td>
			</tr>
		</table>
	
		<div style="border-top: 1px solid black; top: 231px; border-top-color: #ccc; left: 429px; width: 300px; height: 11px; margin-top: 6px; padding-left:10px;"></div>
		<table style="padding-left: 15px; width: 100%;">
			<tr><td style="width: 139px;">${uiNLS.desktopTheme}</td><td><select dojoType="dijit.form.Select" id="theme_select_desktop_theme_select"type="text"  style="width: 175px;"  ></select></td></tr>
			<tr><td>${uiNLS.mobileTheme}</td><td><select dojoType="dijit.form.Select" id="theme_select_mobile_theme_select"type="text"  style="width: 175px;" ></select></td></tr>
		</table>
		<table id="theme_select_devices_table" style="padding-left:30px; border-collapse: separate; border-spacing: 0 0; width: 100%">
			<tr><td style="width: 139px;">${uiNLS.android}</td><td><select dojoType="dijit.form.Select" id="theme_select_android_select" type="text"  style="width: 150px;"></select></td></tr>
			<tr><td>${uiNLS.blackberry}</td><td><select dojoType="dijit.form.Select" id="theme_select_blackberry_select" type="text"  style="width: 150px;"></select></td></tr>
			<tr><td>${uiNLS.ipad}</td><td><select dojoType="dijit.form.Select" id="theme_select_ipad_select" type="text"  style="width: 150px;"></select></td></tr>
			<tr><td>${uiNLS.iphone}</td><td><select dojoType="dijit.form.Select" id="theme_select_iphone_select" type="text"  style="width: 150px;"></select></td></tr>
			<tr><td>${uiNLS.other}</td><td><select dojoType="dijit.form.Select" id="theme_select_other_select" type="text"  style="width: 150px;"></select></td></tr>
		</table>
	</div>

	<div class="dijitDialogPaneActionBar">
		<button dojoType="dijit.form.Button" id="theme_select_ok_button" label="${uiNLS.select}" class="maqPrimaryButton" type="submit"></button>
		<button dojoType="dijit.form.Button" id="theme_select_cancel_button" label="${commonNLS.buttonCancel}" class="maqSecondaryButton"></button>
	</div>
</div>
