<div class="dijitTreeNode" role="presentation"
	><div dojoAttachPoint="toggleNode" class="dijitInline dvOutlineVisibility dvOutlineVisibilityOn" dojoAttachEvent="onclick:_onToggleClick"></div
	><div dojoAttachPoint="rowNode" class="dijitInline dijitTreeRow" role="presentation" dojoAttachEvent="onmouseenter:_onMouseEnter, onmouseleave:_onMouseLeave, onclick:_onClick, ondblclick:_onDblClick"
		><img src="${_blankGif}" alt="" dojoAttachPoint="expandoNode" class="dijitTreeExpando" role="presentation"
		><span dojoAttachPoint="expandoNodeText" class="dijitExpandoText" role="presentation"
		></span
		><span dojoAttachPoint="contentNode"
			class="dijitTreeContent" role="presentation">
			<img src="${_blankGif}" alt="" dojoAttachPoint="iconNode" class="dijitIcon dijitTreeIcon" role="presentation"
			/><img src="${_blankGif}" alt="" class="treeReadOnlyLabelNode" role="presentation"
			/><span dojoAttachPoint="labelNode" class="dijitTreeLabel" role="treeitem" tabindex="-1" aria-selected="false" dojoAttachEvent="onfocus:_onLabelFocus"></span>
		</span
	></div>
	<div dojoAttachPoint="containerNode" class="dijitTreeContainer" role="presentation" style="display: none;"></div>
</div>