
.mblHeading {
  position: relative;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
  padding: 0px;
  height: 38px;
  background-color: #424142;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a4d52), to(#292c31));
  border-top: 1px solid #63696B;
  border-bottom: 1px solid #292C31;
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  line-height: 40px;
}
.mblHeading * {
  z-index: 2;
}
.mblHeadingDivTitle {
  position: absolute;
  width: 100%;
  display: none;
  left: 0px;
  z-index: 1;
}
.mblHeadingCenterTitle .mblHeadingDivTitle {
  display: block;
}
.mblHeadingCenterTitle .mblHeadingSpanTitle {
  display: none;
}
.mblArrowButton {
  position: relative;
  float: left;
  height: 28px;
  margin: 4px 3px;
}
.mblArrowButtonHead {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 19px;
  height: 19px;
  border: 1px solid #39454A;
  -webkit-transform: scale(0.8, 1) rotate(45deg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fbf7), to(#cecfd6), color-stop(0.5, #ced3ce));
}
.mblArrowButtonBody {
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  top: 0px;
  left: 19px;
  padding: 0px 10px 0px 5px;
  height: 28px;
  border-width: 1px 1px 1px 0px;
  border-style: inset;
  border-color: #39454A;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background-color: #CED3CE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fbf7), to(#cecfd6), color-stop(0.5, #ced3ce));
}
.mblArrowButtonNeck {
  position: absolute;
  top: 0px;
  left: 19px;
  width: 6px;
  height: 28px;
  border-width: 1px 0px;
  border-style: inset;
  border-color: #39454A;
  background-color: #CED3CE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fbf7), to(#cecfd6), color-stop(0.5, #ced3ce));
}
.mblArrowButtonSelected .mblArrowButtonHead {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#088eef), to(#0851ad), color-stop(0.5, #0869c6));
}
.mblArrowButtonSelected .mblArrowButtonBody, .mblArrowButtonSelected .mblArrowButtonNeck {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#088eef), to(#0851ad), color-stop(0.5, #0869c6));
}
