/* dojox.mobile.TabBar */
.mblTabBar {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  height: 48px;
  border-top: 1px solid #000000;
  background-color: #424142;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a4d52), to(#292c31));
  color: white;
  text-align: center;
}
.mblTabBarNoIcons {
  height: 34px;
}
.mblTabBarNoText {
  height: 34px;
}
/* dojox.mobile.TabBarButton */
.mblTabBarButton {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.mblTabBar .mblTabBarButton {
  position: relative;
  list-style-type: none;
  float: left;
}
.mblTabBar .mblTabBarButton.mblTabButtonSelected {
  background-color: #404040;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#242424), color-stop(0.5, #353535), color-stop(0.5, #242424));
  -webkit-border-radius: 3px;
}
.mblTabBarButtonAnchor {
  display: block;
  text-decoration: none;
}
.mblTabBarButtonDiv {
  position: relative;
  height: 34px;
  width: 29px;
  left: 50%;
}
.mblTabBarButtonDivInner {
  left: -50%;
}
.mblTabBarButtonIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}
.mblTabBarButtonTextBox {
  color: #979797;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 11px;
}
.mblTabBarNoIcons .mblTabBarButtonDiv {
  display: none;
}
.mblTabBarNoIcons .mblTabBarButtonTextBox {
  line-height: 34px;
  font-size: 20px;
}
.mblTabButton {
  position: relative;
  float: left;
  list-style-type: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin-right: 2px;
  width: 78px;
  height: 61px;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: black #182018 black #393C39;
  background-color: #212421;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#181818), to(#100c10), color-stop(0.1, #313031));
  font-family: Helvetica;
  font-size: 13px;
  color: white;
  text-align: center;
}
.mblTabButton .mblTabBarButtonDiv {
  height: 40px;
}
.mblTabButton IMG {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}
.mblTabButtonSelected .mblTabBarButtonTextBox {
  color: white;
}
.mblTabButtonSelected.mblTabButton {
  background-color: #8C8E8C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a59ea5), to(#848284));
}
.mblTabButtonHighlighted.mblTabButton {
  background-color: #FFB600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcb00), to(#ff9a00));
}
.mblTabButtonImgDiv {
  position: relative;
  margin-left: 24px;
  height: 40px;
}
.mblTabPanelHeader {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  height: 64px;
  border-top: 1px solid #CDD5DF;
  border-bottom: 2px solid #949694;
  background-color: #000000;
  font-family: Helvetica;
  font-size: 20px;
  color: white;
  text-align: center;
}
.mblTabPanelHeader .mblTabButton {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
.mblTabPanelHeader .mblTabButton.mblTabButtonSelected {
  background-color: #404040;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#242424), color-stop(0.5, #353535), color-stop(0.5, #242424));
}
.mblTabPanelHeader .mblTabButtonDomButton {
  width: 43px;
}
.mblTabPanelHeader .mblDomButton {
  left: 8px;
}
