#orionBody {
	background:white;
	overflow:auto;
}
#davinci_top_bar {
	padding:0;
	margin:0;
}
#davinci_top_bar_main {
	padding:0px; /* override dijitContentPane */
	background: -webkit-linear-gradient(#464646, #121212);
	background: -moz-linear-gradient(#464646, #121212);
	background: -ms-linear-gradient(#464646, #121212);
	background: -o-linear-gradient(#464646, #121212);
	background: linear-gradient(#464646, #121212);
	color: #ccc;
    font: normal bold 12px Arial, sans-serif;
    text-shadow:none;
	overflow: hidden;
	height:44px;
	line-height:44px;
	text-align:center;
}
#davinci_top_bar_divider {
	height:4px;
	background-image: url(../../maqetta/app/davinci/img/sprite.png);
	background-position: 0 -18px;
	background-repeat: repeat-x;
}
.maq_banner_name_box {
	padding-left:10px;
	display: inline-block;
	padding-top: 1px;
	float:left;
}
.dj_gecko .maq_banner_name_box {
	padding-top: 2px;	/* Different rounding rules between WebKit and Gecko */
}
.maq_banner_logo {
	display:inline-block;
	width:32px;
	height:32px;
	background-image:url(../../maqetta/app/davinci/img/sprite.png);
	background-position:0px -342px;
	vertical-align: middle;
}
.maq_banner_name {
	padding-left:2px;
    font: normal normal 18px Arial, sans-serif;
	color:white;
	text-shadow: #000 1px 1px 1px;
}
#maqetta_slogan {
	text-align:left;
	color:#222;
	font-size:16px;
	padding-left:12px;
	padding-bottom: 16px;
	padding-top: 16px;
	background:white;
}
#login-window {
	text-align:center;
	background-image:-webkit-linear-gradient(#f4f4f4 0px,#e9e9e9 410px, #f0f0f0 410px, #fff 480px);
	background-image:-moz-linear-gradient(#f4f4f4 0px,#e9e9e9 410px, #f0f0f0 410px, #fff 480px);
	background-image:-ms-linear-gradient(#f4f4f4 0px,#e9e9e9 410px, #f0f0f0 410px, #fff 480px);
	background-image:-o-linear-gradient(#f4f4f4 0px,#e9e9e9 410px, #f0f0f0 410px, #fff 480px);
	background-image:linear-gradient(#f4f4f4 0px,#e9e9e9 410px, #f0f0f0 410px, #fff 480px);
	background-repeat:no-repeat;
	height:470px;
}
#landingArea {
	display:inline-block;
	position:relative;
	width:590px;
	left: auto;
	top: auto;
	margin: 55px 0 0;
}
#orionBody .orion-login-header, #orionBody.orion-reset-header {
	border-bottom:none;
}
#orionLogin, #orionReset, #newUserSignup, #newUserHeaderShown, #resetPassword {
	left:0px;
	padding: 50px;
	width:478px;
	height:191px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .25), -1px -1px 1px rgba(0, 0, 0, .25);
	border-radius: 3px;
	border: 3px solid #999;
}
#orionBody .orion-input-holder, #orionBody .orion-reset-input-holder, #orionBody .orion-register-input-holder {
	border:1px solid #aaaaaa;
	height:24px;
	margin-bottom: 20px;
	display: inline;
	float: left;
}
#orionBody .orion-text-input {
	height: 20px;
	padding-left: 6px;
	margin: 0;
	margin-right: 2px;
	width: 285px;
	color:#222;
}
#orionBody .orion-text-input::-webkit-input-placeholder {
	color:#ccc;
}
#orionBody #landingArea input.orion-text-input:-moz-placeholder {
	color:#ccc;
}
#orionBody .orion-login-button-holder {
	margin-top:10px;
	margin-bottom:30px;
}
#orionBody .orion-reset-button-holder {
	margin-top:5px;
	margin-bottom:30px;
}
#orionBody .orion-reset-button-holder, #orionBody .orion-register-button-holder {
	float:left;
}
#orionLogin #loginButton, 
#login-window #registerButton, 
#orionBody #sendResetButton, 
#orionBody #cancleResetButton, 
#orionBody #createButton, 
#orionBody #hideRegisterButton, 
#orionBody #signupUserButton, 
#orionBody #hideRegisterButtonSignup,
#orionBody #resetConfirmButton {
	background: #EEE;
	background-image: -webkit-linear-gradient(#F4F4F4, #DBDBDB);
	background-image: -moz-linear-gradient(#F4F4F4, #DBDBDB);
	background-image: -ms-linear-gradient(#F4F4F4, #DBDBDB);
	background-image: -o-linear-gradient(#F4F4F4, #DBDBDB);
	background-image: linear-gradient(#F4F4F4, #DBDBDB);
	border:1px solid #888;
	margin-left:0px;
	margin-right:5px;
	padding-left:0px;
	padding-right:0px;
	color:black;
}
#orionLogin #loginButton:hover, 
#login-window #registerButton:hover, 
#orionBody #sendResetButton:hover, 
#orionBody #cancleResetButton:hover, 
#orionBody #createButton:hover, 
#orionBody #hideRegisterButton:hover, 
#orionBody #signupUserButton:hover, 
#orionBody #hideRegisterButtonSignup:hover,
#orionBody #resetConfirmButton:hover {
	background: #DDD;
	background-image: -webkit-linear-gradient(#E4E4E4, #D0D0D0);
	background-image: -moz-linear-gradient(#E4E4E4, #D0D0D0);
	background-image: -ms-linear-gradient(#E4E4E4, #D0D0D0);
	background-image: -o-linear-gradient(#E4E4E4, #D0D0D0);
	background-image: linear-gradient(#E4E4E4, #D0D0D0);
}
#orionBody #cancleResetButton, 
#orionBody #registerButton, 
#orionBody #hideRegisterButton, 
#orionBody #hideRegisterButtonSignup {
	font-weight:normal;
}
#orionLogin #loginButton, 
#orionBody #sendResetButton, 
#orionBody #createButton, 
#orionBody #signupUserButton,
#orionBody #resetConfirmButton {
	font-weight:bold;
}
#orionLogin .orion-login-forgot-holder {
	display:block !important;
	padding:0;
	margin-top:0px;
	float: left;
	clear: both;
	text-align:left;
}
#orionLogin .orion-forgot-password {
	margin-top:0px;
}
#orionRegister {
	left:0px;
	top:377px;
	padding:0;
	text-align:left;
	border:none;
	background: transparent;
}
#orionRegister .orion-register-header {
	font-size:16px;
	color:#222;
	float:none;
	margin-top:0px;
	margin-bottom:10px;
	padding-bottom:0px;
	display:block;
}
#orionRegister .orion-login-button-holder {
	float:none;
}
#newUserHeaderShown {
	left:0px;
}
#orionReset {
	left:0px;
	text-align:left;
}
#orionReset .orion-reset-header {
	display:none;
}
#orionReset .orion-reset-input-holder-username {
	display:none;
}
#orionReset .orion-reset-note {
	padding-bottom:20px;
}
#errorWin {
	width:300px;
	top:260px;
}
#loginLogo, #signupLogo, #signupAfterEmailLogo, #resetLogo {
	width:120px;
	height:140px;
	float:right;
	background-image: url(../../maqetta/app/davinci/img/sprite.png);
	background-position:0px -2650px;
}
#loginContainer, #signupContainer, #signupAfterEmailContainer, #resetContainer {
	width:300px;
}
#orionLogin .orion-login-header {
	display:none;
}
#orionLogin .orion-login-button-holder,
#newUserHeaderShown .orion-register-button-holder,
#newUserSignup .orion-login-button-holder {
	text-align:left;
	float:left;
}
#loginDivider {
	width:100%;
	height:1px;
	border:none;
	border-top:1px #c4c4c4 dotted;
	position:absolute;
	top:504px;
}
#resetUserLink {
	color:#222;
}
#orionBody #errorWin {
	color:#222;
	background:#ccc;
	width: 557px;
	border: 1px solid #222;
	margin-left: 10px;
	z-index:1;
}
#orionBody #newUserHeaderShown .orion-register-input-holder {
	margin-bottom:10px;
}
