[submodule "davinci.gridx/WebContent/gridx"]
	path = davinci.gridx/WebContent/gridx
	url = git://github.com/oria/gridx.git
	ignore=dirty
[submodule "davinci.gridx/WebContent/gridx-src/gridx"]
	path = davinci.gridx/WebContent/gridx-src/gridx
	url = git://github.com/oria/gridx.git
	ignore=dirty
[submodule "zazl/optimizer"]
	path = zazl/optimizer
	url = git://github.com/zazl/optimizer-release.git
    ignore=dirty
[submodule "zazl/dependencies"]
	path = zazl/dependencies
	url = git://github.com/zazl/optimizer-dependencies.git
    ignore=dirty
[submodule "davinci.dojo_1_8/WebContent/dojo-src/dojo"]
	path = davinci.dojo_1_8/WebContent/dojo-src/dojo
	url = git://github.com/dojo/dojo.git
[submodule "davinci.dojo_1_8/WebContent/dojo/dojo"]
	path = davinci.dojo_1_8/WebContent/dojo/dojo
	url = git://github.com/dojo/dojo.git
[submodule "maqetta.core.client/WebContent/dojo"]
	path = maqetta.core.client/WebContent/dojo
	url = git://github.com/dojo/dojo.git
[submodule "davinci.dojo_1_8/WebContent/dojo-src/dijit"]
	path = davinci.dojo_1_8/WebContent/dojo-src/dijit
	url = git://github.com/dojo/dijit.git
[submodule "davinci.dojo_1_8/WebContent/dojo/dijit"]
	path = davinci.dojo_1_8/WebContent/dojo/dijit
	url = git://github.com/dojo/dijit.git
[submodule "maqetta.core.client/WebContent/dijit"]
	path = maqetta.core.client/WebContent/dijit
	url = git://github.com/dojo/dijit.git
[submodule "davinci.dojo_1_8/WebContent/dojo-src/dojox"]
	path = davinci.dojo_1_8/WebContent/dojo-src/dojox
	url = git://github.com/dojo/dojox.git
[submodule "davinci.dojo_1_8/WebContent/dojo/dojox"]
	path = davinci.dojo_1_8/WebContent/dojo/dojox
	url = git://github.com/dojo/dojox.git
[submodule "maqetta.core.client/WebContent/dojox"]
	path = maqetta.core.client/WebContent/dojox
	url = git://github.com/dojo/dojox.git
[submodule "maqetta.core.client/WebContent/util"]
	path = maqetta.core.client/WebContent/util
	url = git://github.com/dojo/util.git
[submodule "davinci.dojo_1_8/WebContent/dojo-src/util"]
	path = davinci.dojo_1_8/WebContent/dojo-src/util
	url = git://github.com/dojo/util.git
