<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
        point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext id="davincicontext">
 		  <resource-mapping path="/" />
	      <mime-mapping extension="manifest" mime-type="text/cache-manifest" />
      </httpcontext>
   </extension>
 <extension point="org.eclipse.equinox.http.registry.filters">
    <filter
        alias="/"
        class="org.mortbay.servlet.GzipFilter"
        httpcontextId="davincicontext"
        load-on-startup="true">
    </filter>
	</extension>

</plugin>
