<div>
	<div class="dijitDialogPaneContentArea">
		<div class='EnableAsStateContainerWidgetDiv'>
			${veNls.EnableApplicationStatesCurrentWidget}:
			<span class='EnableAsStateContainerWidgetLabel' dojoAttachPoint='widgetLabel'></span>
		</div>
		<div class='EnableAsStateContainerStatesDiv' dojoAttachPoint='statesListDiv'>
			//Filled in by JavaScript logic
		</div>
		<div class='EnableAsStateContainerDescriptionDiv' dojoAttachPoint='description'>
			//Filled in by JavaScript logic
		</div>
		<div class='EnableAsStateContainerCheckBoxDiv'>
			<input dojoAttachPoint="checkBoxWidget" dojoType="dijit.form.CheckBox" dojoAttachEvent="onKeyUp:_onKeyPress" type="text"></input>
			${veNls.EnableAsStateContainerWidgetLabel}
		</div>
	</div>
				
	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint='okButton' label='${commonNls.buttonOk}' class="maqPrimaryButton"></button>
		<button dojoType='dijit.form.Button' dojoAttachPoint='cancelButton' label='${commonNls.buttonCancel}' class="maqSecondaryButton"></button>
	</div>
</div>
