<div>
	<div class="dijitDialogPaneContentArea">
		<div class="addStateDialogOptions">
			<div class='manageStatesWhichStates'>
				${veNls.manageStatesWhichStates}
			</div>
			<div class='manageStatesStatesListDiv'>
				<!-- Filled in by JavaScript -->
			</div>
			<div class='manageStatesCheckAcceleratorsDiv'>
				<table class='manageStatesCheckAcceleratorsTable'>
					<tr>
						<td class='manageStatesCheckCurrentStateOnlyCell'>
							<a href='' class='manageStatesCheckCurrentStateOnly'>${veNls.manageStatesCheckCurrentStateOnly}</a>
						</td>
						<td class='manageStatesCheckAllCell'>
							<a href='' class='manageStatesCheckAll'>${veNls.manageStatesCheckAll}</a>
						</td>
						<td class='manageStatesUncheckAllCell'>
							<a href='' class='manageStatesUncheckAll'>${veNls.manageStatesUncheckAll}</a>
						</td>
					</tr>
				</table>
			</div>
			
		</div>	
	</div>
	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint="okButton" dojoAttachEvent='onClick:onOk' label='${veNls.createLabel}' class="maqPrimaryButton" type="submit"></button>
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick:onCancel' label='${commonNls.buttonCancel}' class="maqSecondaryButton"></button>
	</div>
</div>
