<div>
	<div class="dijitDialogPaneContentArea">
		<div class='modify_state_container'>
			<div data-dojo-type="dijit.form.DropDownButton" label='${veNls.renameLabel}' dojoAttachPoint="renameButton" class="modify_state_rename_button">
					<div data-dojo-type="dijit.TooltipDialog" class='modify_state_rename_container' id='state_rename_tooltip_dialog'>
						<div>
							<label for="state_rename_new_name">${veNls.newStateLabel}</label>
							<input data-dojo-type="dijit.form.ValidationTextBox" id="state_rename_new_name" name="state_rename_new_name"></input>
						</div>
						<div>
							<button id="state_rename_do_it" dojoType='dijit.form.Button' label='${veNls.renameLabel}'></button>
							<button id="state_rename_cancel" dojoType='dijit.form.Button' label='${veNls.cancelLabel}'></button>
						</div>
					</div>
				</div>
			${veNls.stateLabel}: <span id='modify_state_old_name'>aaa</span>
		</div>
		<div class='initial_state_row'>
			<input data-dojo-type="dijit.form.CheckBox" dojoAttachPoint="initialState" id="modify_state_initial_state" name="modify_state_initial_state"></input>
			<label for='modify_state_initial_state'>${veNls.initialStateCheckBoxLabel}</label>
		</div>
	</div>
				
	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint="okButton" label='${veNls.modifyLabel}' class="maqPrimaryButton"></button>
		<button dojoType='dijit.form.Button' dojoAttachPoint="cancelButton" label='${commonNls.buttonCancel}' class="maqSecondaryButton"></button>
	</div>
</div>
