<div>
	<div class="dijitDialogPaneContentArea">
		${veNls.stateLabel} <input dojoType="dijit.form.ValidationTextBox" data-dojo-props="required:true" id="states_rename_textbox" style="width: 175px;"/>
	</div>

	<div class="dijitDialogPaneActionBar">
		<button type="button" dojoType="dijit.form.Button" id="states_rename_ok_button" label="${veNls.renameLabel}" type="submit"></button>
		<button type="button" dojoType="dijit.form.Button" id="states_rename_cancel_button" label="${commonNls.buttonCancel}"></button>
	</div>
</div>
