<div>
	<div class="dijitDialogPaneContentArea">
		<table class='states_rename_table'>
			<tr><td class='labelcolumn'>${veNls.oldStateLabel}</td><td><span id="states_rename_old_textbox" style="width: 175px;"></span></td></tr>
			<tr><td class='labelcolumn'>${veNls.newStateLabel}</td><td><input dojoType="dijit.form.ValidationTextBox" data-dojo-props="required:true" id="states_rename_new_textbox" style="width: 175px;"/></td></tr>
		</table>
	</div>

	<div class="dijitDialogPaneActionBar">
		<button type="button" dojoType="dijit.form.Button" id="states_rename_ok_button" label="${veNls.renameLabel}" type="submit"></button>
		<button type="button" dojoType="dijit.form.Button" id="states_rename_cancel_button" label="${commonNls.buttonCancel}"></button>
	</div>
</div>
