/* needed for theme editor subwidget menu pop up */
@import url("Menu.css");

.maqHidden {
	display: none;
}

.maqShown {
	visibility: visible !important;
}

.maqFocus {
	z-index: 1000000;
}

.flowDragOuter {
	opacity:.5;
	z-index:2000000;
	position:absolute;
	border:2px solid #6a94dc;
	pointer-events:none;
}
.flowDragInner {
	border:4px solid #d3e1ee;
	pointer-events:none;
}

.areaSelectDiv {
	position:absolute;
	border:1px dashed black;
	z-index:1000000;
}

.selectToolDragDiv {
	position:absolute;
	z-index:2000000;
	background:transparent;
}
.selectToolDragMove {
	cursor:move;
}
.selectToolDragCopy {
	cursor:copy;
}
.editFeedback {
	background-color: #AAA;
}

.editSubwidgetFocusFrame{
	border-style: dotted;
	border-color: red;
	border-width: 3px;
	z-index: 1000002;
	
}
.disableWidgetFocusFrame{
	z-index: 1002;
	opacity:0.75;
	background-color: white;
	
}

.enableWidgetFocusFrame{
	z-index: 1001;


}

.themeSubwidgetMenu{
	z-index: 1115;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-style:normal;
	color:#131313;
	background-color: #fff;
	background-image:none;
}

.editCursor {
	display: block;
	position:absolute;
	border: 1px solid black;
	z-index:1000001;	/* Above focus, which is at z-index:100000 */
}

.editCursorBlink {
	visibility: hidden;
}

.editContextContainer FORM,
.editContextContainer .dijitContentPane,
.editContextContainer .dojoxScrollWindow {
	outline: 1px dotted #AAA;
}
.editContextContainer .dijitTabContainer .dijitContentPane {
	outline: 0px none #FFFFFF;
}

/* HTML widgets */
.stickyNote DIV.HtmlWidget,
.stickyNote FORM.HtmlWidget, 
.stickyNote SPAN.HtmlWidget, 
.stickyNote A.HtmlWidget, 
.stickyNote TABLE.HtmlWidget, 
.stickyNote TD.HtmlWidget,
.stickyNote TH.HtmlWidget, 
.stickyNote AUDIO.HtmlWidget,
.stickyNote EMBED.HtmlWidget, 
.stickyNote VIDEO.HtmlWidget,
.stickyNote IMG.HtmlWidget, 
.richText DIV.HtmlWidget,
.richText FORM.HtmlWidget, 
.richText SPAN.HtmlWidget, 
.richText A.HtmlWidget, 
.richText TABLE.HtmlWidget, 
.richText TD.HtmlWidget,
.richText TH.HtmlWidget, 
.richText AUDIO.HtmlWidget,
.richText EMBED.HtmlWidget, 
.richText VIDEO.HtmlWidget,
.richText IMG.HtmlWidget
{
	outline:none;
}


DIV.HtmlWidget {
	min-width:1em;
	min-height:1em; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}
FORM.HtmlWidget {
	min-width:1em;
	min-height:1em; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}
SPAN.HtmlWidget {
	min-width:1em; 
	min-height:1em; 
	display:inline-block; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}
A.HtmlWidget {
	min-width:1em; 
	min-height:1em; 
	display:inline-block; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}
TABLE.HtmlWidget {
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.4);
}
TD.HtmlWidget {
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.4);
}
TH.HtmlWidget {
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.4);
}
AUDIO.HtmlWidget {
	min-width:1em;
	min-height:1em; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}
EMBED.HtmlWidget {
	min-width:1em;
	min-height:1em; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}
VIDEO.HtmlWidget {
	min-width:1em;
	min-height:1em; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}
IMG.HtmlWidget {
	min-width:1em;
	min-height:1em; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}

/* dojox.mobile widgets */

div.mblView,
div.mblContentPane,
div.mblPane,
div.mblContainer,
div.mblScrollablePane {
    min-width:1em;
    min-height:1em; 
    outline: 1px dotted #AAA;
    outline-color:rgba(128,128,128,0.5);
    background-clip:content-box;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.dijitDialogUnderlayWrapper {
	display: none !important;
}
/* Overcome Firefox outline issue (#2295) */
.dijitButton .dijitOffScreen {
	display:none;
}