/* needed for theme editor subwidget menu pop up */
@import url("Menu.css");

.maqHidden {
	display: none;
}

.maqShown {
	visibility: visible !important;
}

.maqFocus {
	z-index: 1000000;
}

.editFocusFrame {
	position:absolute;
	opacity:0.5;
	overflow:hidden;
	border:none;
	background:#6a94dc;
	background-clip:content-box;
	left:-11px;
	top:-11px;
}
.editFocusFrameLEFT {
	width:3px;
	border-left:4px solid rgba(255,255,255,.5);
	border-right:4px solid #d3e1ee;
	cursor:w-resize;
	top:-5px;
}
.editFocusFrameRIGHT {
	width:3px;
	border-left:4px solid #d3e1ee;
	border-right:4px solid rgba(255,255,255,.5);
	cursor:e-resize;
	top:-5px;
}
.editFocusFrameTOP {
	height:3px;
	border-top:4px solid rgba(255,255,255,.5);
	border-bottom:4px solid #d3e1ee;
	cursor:n-resize;
	left:-5px;
}
.editFocusFrameBOTTOM {
	height:3px;
	border-top:4px solid #d3e1ee;
	border-bottom:4px solid rgba(255,255,255,.5);
	cursor:s-resize;
	left:-5px;
}
.editFocusNob {
	background-color: #FFFFFF;
	border: 1px solid #AAA;
}

.editFeedback {
	background-color: #AAA;
}

.editSubwidgetFocusFrame{
	outline-style: dotted;
	outline-color: red;
	outline-width: 3px;
	z-index: 1000002;
	
}
.disableWidgetFocusFrame{
	z-index: 1002;
	opacity:0.75;
	background-color: white;
	
}

.enableWidgetFocusFrame{
	z-index: 1001;


}

.themeSubwidgetMenu{
	z-index: 1115;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-style:normal;
	color:#131313;
	background-color: #fff;
	background-image:none;
}

.editCursor {
	display: block;
	position:absolute;
	border: 1px solid black;
	z-index:1000001;	/* Above focus, which is at z-index:100000 */
}

.editCursorBlink {
	visibility: hidden;
}

.editContextContainer FORM,
.editContextContainer .dijitContentPane,
.editContextContainer .dojoxScrollWindow {
	outline: 1px dotted #AAA;
}
.editContextContainer .dijitTabContainer .dijitContentPane {
	outline: 0px none #FFFFFF;
}

/* HTML widgets */

DIV.HtmlWidget {
	min-width:1em;
	min-height:1em; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}
SPAN.HtmlWidget {
	min-width:1em; 
	min-height:1em; 
	display:inline-block; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}
A.HtmlWidget {
	min-width:1em; 
	min-height:1em; 
	display:inline-block; 
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.5);
}
TABLE.HtmlWidget {
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.4);
}
TD.HtmlWidget {
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.4);
	width: 1em;
	height: 1em;
}
TH.HtmlWidget {
	outline: 1px dotted #AAA;
	outline-color:rgba(128,128,128,0.4);
	width: 1em;
	height: 1em;
}


/* dojox.mobile widgets */

div.mblView,
div[dojotype="dojox.mobile.ContentPane"] {
    min-width:1em;
    min-height:1em; 
    outline: 1px dotted #AAA;
    outline-color:rgba(128,128,128,0.5);
    background-clip:content-box;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.dijitDialogUnderlayWrapper {
	display: none !important;
}
