.HtmlWidget  .themeSubwidgetMenu .dijitMenuBar {
	border: 1px solid #b5bcc7;
	margin: 0px;
	padding: 0px;
	background-color: #e6e6e7;
	background-image: url("images/commonHighlight.png");
	background-position:0px 0px;
	background-repeat:repeat-x;
}
.dj_ie6 .HtmlWidget  .themeSubwidgetMenu .dijitMenuBar {
	background-image:none;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenu {
	background-repeat:repeat-y;
	background-color:#fff;
	border: 1px solid #769dc0;
	margin-top: -2px;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuBar .dijitMenuItem {  
	padding: 6px 10px 7px;
	background-position:0px 100px;
	color:#4a4a4a;
	margin:-1px;
}	
.HtmlWidget  .themeSubwidgetMenu .dijitMenuItem {
	background-image: url("images/menuHighlight.png");
	background-position:0px -40px;
	background-repeat:repeat-x;
	background-color:#fff;
}

/* this prevents jiggling upon hover of a menu item */
.HtmlWidget  .themeSubwidgetMenu .dijitMenuTable {
	border-collapse:separate;
	border-spacing:0 0;
	padding:0px;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuItem td{
	padding:1px;
}
/* hover over a MenuBarItem */
.HtmlWidget  .themeSubwidgetMenu .dijitMenuPassive .dijitMenuItemHover,
.HtmlWidget  .themeSubwidgetMenu .dijitMenuPassive .dijitMenuItemSelected {
	background-color: #abd6ff;
	border:solid 1px #769dc0;
	background-position:0px 0px;
	color:#000;
	padding: 5px 9px 6px;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuPassive .dijitMenuItemActive{
	background-position:0px -177px;
}
.dj_ie6 .HtmlWidget  .themeSubwidgetMenu .dijitMenuItem,
.dj_ie6 .HtmlWidget  .themeSubwidgetMenu .dijitMenuPassive .dijitMenuItem {
	background-image: none;
}

/* MenuBarItem that has been selected and menu drops down from it */
.HtmlWidget  .themeSubwidgetMenu .dijitMenuActive .dijitMenuItemHover,
.HtmlWidget  .themeSubwidgetMenu .dijitMenuActive .dijitMenuItemSelected {
	border:solid 1px #769dc0;
	padding: 5px 9px 6px;
	background-color: #9dcfff;
	background-position:0px 0px;
	color:#000;
}
.dj_ie .HtmlWidget  .themeSubwidgetMenu .dijitMenuActive .dijitMenuItemHover,
.dj_ie .HtmlWidget  .themeSubwidgetMenu .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .HtmlWidget  .themeSubwidgetMenu .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .HtmlWidget  .themeSubwidgetMenu .dijitMenuPassive .dijitMenuItemSelected {
	padding-top: 6px;
	padding-bottom: 5px;
	margin-top: -3px;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuActive .dijitMenuItemActive{
	background-color: #7dbefa;
	background-position:0px -177px;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuItemActive {
	background-position:0px -177px;
}
.HtmlWidget  .themeSubwidgetMenu td.dijitMenuItemIconCell {
 padding: 2px;
 margin: 0px 0px 0px 4px;
}
.HtmlWidget  .themeSubwidgetMenu td.dijitMenuItemLabel {
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuExpand {
	width: 7px;
	height: 7px;
	background-image: url('images/spriteArrows.png');
	background-position: -14px 0px;
	margin-right:3px;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuItemDisabled .dijitMenuItemIconCell {
	opacity:1;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuItemDisabled * {
    opacity : 0.5;
    cursor : default;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuSeparatorTop {
	height: auto;
	margin-top:1px; /* prevents spacing above/below separator */
	border-bottom: 1px solid #b5bcc7
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuSeparatorBottom{
	height: auto;
	margin-bottom:1px;
}
/* the checked menu item */
.HtmlWidget  .themeSubwidgetMenu .dijitCheckedMenuItemIconChar {
	display: none;
}
.HtmlWidget  .themeSubwidgetMenu .dijitCheckedMenuItemIcon {
	background-image: url('images/checkboxRadioButtonStates.png');
	background-repeat:no-repeat;
	background-position: -15px 50%;
	width:15px;
	height:16px;
}
.dj_ie6 .HtmlWidget  .themeSubwidgetMenu .dijitCheckedMenuItemIcon {
	background-image: url('images/checkboxAndRadioButtons_IE6.png');
}
.HtmlWidget  .themeSubwidgetMenu .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: 0 50%;
}

/*ComboBox Menu*/
.HtmlWidget  .themeSubwidgetMenu .dijitComboBoxMenu {
	margin-left:0px;
	background-image: none;
}
.HtmlWidget  .themeSubwidgetMenu .dijitComboBoxMenu .dijitMenuItem{
	padding:2px 0px;
	text-indent:6px;
	border-width:1px 0px 1px 0px;
	border-style:solid;
	border-color:#fff;
}
.HtmlWidget  .themeSubwidgetMenu .dijitComboBoxMenu .dijitMenuItemSelected {
	color:#000;
	border-color:#768dc0;
	background-color:#abd6ff;
}
.HtmlWidget  .themeSubwidgetMenu .dijitComboBoxMenuActive .dijitMenuItemSelected {
	background-position:0px -177px;
	background-color:#7dbefa;
}
.HtmlWidget  .themeSubwidgetMenu .dijitMenuPreviousButton, .HtmlWidget  .themeSubwidgetMenu .dijitMenuNextButton {
	font-style: italic;
}
