<div class="davinciComment davinciComment2">
	<div dojoAttachPoint="toolbarNode"></div>
	<div dojoAttachPoint="subjectNode" class="commentSubjectEdit"></div>
	<div dojoAttachPoint="contentNode" class="contentNode">
	<span dojoAttachPoint="placeHolder" style="padding:3px 0 0 2px;" class="dijitPlaceHolder dijitInputField">${comment}</span>
	</div>
	<div class="submitCancelDiv">
		<div dojoAttachPoint="submitNode"></div>
		<a dojoAttachPoint="cancelNode" class="commentLinkButton" class="cancelLink">${buttonCancel}</a>
	</div>
</div>
