<div class="davinciComment">
    <div dojoAttachPoint="mainBody" class="commentBody">
        <div class="commentSubject" dojoAttachPoint="subjectNode"></div>
        <div class="commentSubtitle">
            ${by}&nbsp;<span dojoAttachPoint="ownerName"></span>
            &nbsp;<span dojoAttachPoint="createTime"></span>
            <span class='editReplyBlock'>
                <a class="commentLinkButton" dojoAttachPoint="editButton">${edit}</a>
                <span class='editReplySpace'></span>
                <a class="commentLinkButton" dojoAttachPoint="replyButton">${reply}</a>
            </span>
        </div>
        <div class="commentContent" dojoAttachPoint="contentNode"></div>
    </div>
    <div dojoAttachPoint="tempForm"></div>
    <div dojoAttachPoint="replyRegion" class="displayNone">
        <div class="commentReplyBar">
            <img class="dijitTreeExpando dijitTreeExpandoOpen commentLinkButton" src="app/dojo/resources/blank.gif" style="vertical-align: middle;" dojoAttachPoint="imgNode"/>
            <a class="commentLinkButton" dojoAttachPoint="replyCountButton"></a>
        </div>
        <div class="commentReplies" dojoAttachPoint="commentReplies"></div>
    </div>
</div>