<div class="detail_title">${detail_title}</div>
<div>
	<div class="detail_div"><span>${your_role}:</span><span class="detail_role">${detail_role}</span><span>${due_by}:</span><span class="${detail_dueDate_class}">${detail_dueDate}</span></div>
	<div class="detail_div"><span>${created_by}:</span><span class="detail_creator">${detail_creator}</div>
	<div class="detail_div"><span>${creation_date}:</span><span class="detail_creationDate">${detail_creationDate}</div>
</div>
<div class="detail_div"><strong>${artifacts_in_rev}</strong></div>
${detail_files}
<div class="detail_div"><strong>${reviewers}</strong></div>
${detail_reviewers}