<div class="fileDialog">
	<div class="dijitDialogPaneContentArea folderContainer">
		<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="treeContentPane">
		</div>
	</div>
	
	<div class="dijitDialogPaneActionBar">
		<button dojoType="dijit.form.Button" dojoAttachPoint="okButton" dojoAttachEvent="onClick:_okButton" type="submit" class="maqPrimaryButton" disabled="disabled">${finishButtonLabel}</button>
		<button dojoType="dijit.form.Button" dojoAttachEvent="onClick:_cancelButton" class="maqSecondaryButton">${cancelButtonLabel}</button>
	</div>
</div>
