<div class='publishWizard'>
	<div class="dijitDialogPaneContentArea">
		<div class='steps'>
			<div dojoAttachPoint="navPage1" dojoAttachEvent="onclick:select" class="crumbs current sep">
				<div dojoAttachPoint="navPage1Icon" class="done"></div>
				1.${generalInfo}
			</div>
			<div dojoAttachPoint="navPage2" dojoAttachEvent="onclick:select" class="crumbs sep">
				<div dojoAttachPoint="navPage2Icon" class="todo"></div>
				2.${selectRevFiles}
			</div>
			<div dojoAttachPoint="navPage3" dojoAttachEvent="onclick:select" class="crumbs">
				<div dojoAttachPoint="navPage3Icon" class="todo"></div>
				3.${addReviewers}
			</div>
		</div>
		<div dojoAttachPoint="reviewerStackContainer" class='mainSection'>
		</div>
		<table cellspacing="10" dojoAttachPoint="page1Node">
			<tr>
				<td><label for="versionTitle">${title}:</label></td>
				<td><input dojoAttachPoint="versionTitle"></input></td>
				<td><input dojoAttachPoint="receiveEmail"></input><label class='emailLabel' for="receiveEmail">${notifyMe}</label></td>
			</tr>
			<tr>
				<td valign="top"><label for="descriptions">${description}:</label></td>
				<td colspan="2"><input dojoAttachPoint="descriptions"></input></td>
			</tr>
			<tr>
				<td><label>${windowSize}:</label></td>
				<td colspan="2"><input dojoAttachPoint="desireWidth"></input><label>*</label><input dojoAttachPoint="desireHeight"/></td>
			</tr>
			<tr>
				<td><label for="dueDate">${dueDate}:</label></td>
				<td><input dojoAttachPoint="dueDate" /></td>
				<td class="review-tips"><label>${leaveBlank}</label></td>
			</tr>
		</table>
		
		<table cellspacing="10" dojoAttachPoint="page2Node">
			<tr>
				<td>${availableFiles}:</td>
				<td></td>
				<td>${selectedFiles}:</td>
			</tr>
			<tr>
				<td>
					<div dojoAttachPoint="sourceTreeNode" class='sourceTree'>
						
					</div>
				</td>
				<td>
					<a href="javascript:void(0);" dojoAttachEvent="onclick:addSelectFiles"><img src="app/davinci/review/resources/img/forward_nav.gif"/></a>
				</td>
				<td>
					<div dojoAttachPoint="targetTreeNode" class='sourceTree'>
					
					</div>
				</td>
			</tr>
		</table>
		
		<table cellspacing="10" dojoAttachPoint="page3Node">
			<tr valign="top">
				<td align="left" rowspan=2><div class='reviewers'>${reviewers}:</div></td>
				<td colspan=2><div dojoAttachPoint="userGrid" class='reviewerList'></div></td>
			</tr>
			<tr>
				<td class='reviewerBox'>
					<div dojoAttachPoint="addReviewerCombox"></div>
				</td>
				<td align="left"><button dojoAttachPoint="addReviewerButton"></button></td>
			</tr>
		</table>
	</div>

		<div class='dijitDialogPaneActionBar dialogButtonContainerOverride'>
			<div dojoAttachPoint="reviewMsg" class="reviewMsg"></div>
			<a class='cancelButton' href="javascript:void(0);" dojoAttachEvent="onclick:onClose">${buttonCancel}</a>
			<button class='maqSecondaryButton' dojoAttachPoint="saveDt">${saveAsDraft}</button>
			<button class='maqSecondaryButton' dojoAttachPoint="prev">&lt ${back}</button>
			<button class='maqSecondaryButton' dojoAttachPoint="next">${next} &gt</button>
			<button class='maqPrimaryButton' dojoAttachPoint="invite">${publishReview}</button>
		</div>
</div>