.dijitRtl .tundra .dijitComboBox .dijitButtonNode,
.dijitRtl .tundra .dijitSpinner .dijitButtonNode {
	/* line between the input area and the drop down button */
	border-left-width: 0px;
	border-right-width: 1px;
}