<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>dijit.layout.BorderContainer Test</title>

	<!-- only needed for test files: -->
	<style type="text/css">
		@import "../../../dojo/resources/dojo.css";
		@import "../css/dijitTests.css";
	</style>

	<!-- required: the default dijit theme: -->
	<link id="themeStyles" rel="stylesheet" href="../../../dijit/themes/claro/claro.css">

	<!-- required: dojo.js -->
	<script type="text/javascript" src="../../../dojo/dojo.js"
		djConfig="isDebug: true, parseOnLoad: true"></script>

	<!-- only needed for alternate theme testing: -->
	<script type="text/javascript" src="../_testCommon.js"></script>

	<script type="text/javascript">
		dojo.require("dijit.dijit"); // optimize: load dijit layer
		dojo.require("dijit.layout.BorderContainer");
        dojo.require("dijit.layout.ContentPane");

		var bc, cp1, cp2, cp3;
        dojo.addOnLoad(function(){
                bc = new dijit.layout.BorderContainer({style:'height:400px;width:500px;border:1px solid black'}, dojo.byId('main'));

				cp1 = new dijit.layout.ContentPane({region:'top',style:'height:100px;background-color:red',splitter:true});
				cp1.domNode.innerHTML = "top pane";
				bc.addChild(cp1);

				cp2 = new dijit.layout.ContentPane({region:'center',style:'background-color:green'});
				cp2.domNode.innerHTML = "center pane";
				bc.addChild(cp2);

                bc.startup();
        });

        function addLeftPane(){
			cp3 = new dijit.layout.ContentPane({region:'left', splitter: true, style:'width: 100px;'});
			cp3.domNode.innerHTML = "left pane";
			bc.addChild(cp3);
        }
	</script>
</head>
<body class="claro">
	<h2 class="testTitle">dijit.layout.BorderContainer programmatic test</h2>
	<div id='main'></div>

	<button onclick="addLeftPane();">add left pane</button>
	<button onclick="bc.removeChild(cp1);">remove top pane</button>
</body>
</html>
