<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- XXX Should we specify our own for Maqetta server?
   <extension
         id="org.eclipse.orion.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.orion.server.configurator.WebApplication">
         </run>
      </application>
   </extension>
-->
<!-- XXX This impl is tied to application in statement above.  For now, use product def that follows.
    <extension id="org.eclipse.orion.product" point="org.eclipse.core.runtime.products"> 
      <product name="%productName" application="org.eclipse.orion.application" description="%productBlurb"> 
          <property name="appName" value="Orion"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
      </product> 
    </extension> 
-->
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/maqetta"
            class="maqetta.core.server.DavinciPageServlet"
            load-on-startup="true">
            <!-- httpcontextId="maqetta.core.server.httpcontext" -->
      </servlet>
      <servlet
            alias="/maqetta/cmd"
            class="org.maqetta.server.DavinciCommandServlet"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/users"
            class="maqetta.server.orion.user.LoginFixUpFilter">
      </filter>
      <filter
            alias="/login/form"
            class="maqetta.server.orion.user.LoginFixUpFilter">
      </filter>
      <filter
            alias="/useremailconfirmation"
            class="maqetta.server.orion.user.LoginFixUpFilter">
      </filter>
      <!-- override the default orion plugins to add the maqetta plugin -->
      <filter
            alias="/defaults.pref"
            class="maqetta.server.configurator.servlet.ForwardingFilter">
         <init-param
               name="path"
               value="/maq-defaults.pref">
         </init-param>
         <init-param
               name="filter-priority"
               value="0">
         </init-param>
      </filter>
      <!-- override Orion's email templates -->
      <filter
            alias="/useremailconfirmation"
            class="maqetta.server.orion.EmailOverrideFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="maqetta.server.configurator.httpcontext.app">
         <resource-mapping
               bundle="maqetta.core.client"
               path="/WebContent">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="maqetta.server.configurator.httpcontext.app.orionplugin">
         <resource-mapping
               bundle="maqetta.client.orion"
               path="/WebContent/orion">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="maqetta.server.configurator.httpcontext.auth.ldap">
         <resource-mapping
               bundle="maqetta.server.orion.authentication.ldap"
               path="/web">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="maqetta.server.configurator.httpcontext.client.plugins.defaults">
         <resource-mapping
               bundle="maqetta.client.plugins.defaults"
               path="/WebContent/maq-defaults.pref">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/maqetta/app"
            httpcontextId="maqetta.server.configurator.httpcontext.app">
      </resource>
      <resource
            alias="/maqetta/app/orionplugin"
            httpcontextId="maqetta.server.configurator.httpcontext.app.orionplugin">
      </resource>
      <resource
            alias="/ldaplogin"
            httpcontextId="maqetta.server.configurator.httpcontext.auth.ldap">
      </resource>
      <resource
            alias="/maq-defaults.pref"
            httpcontextId="maqetta.server.configurator.httpcontext.client.plugins.defaults">
      </resource>
   </extension>
</plugin>
