<div class="gridx" role="grid" tabindex="0"
	><div class="gridxHeader" role="presentation" data-dojo-attach-point="headerNode"></div
	><div class="gridxMain" role="presentation" data-dojo-attach-point="mainNode"
		><div class="gridxBodyEmpty" data-dojo-attach-point="emptyNode"></div
		><div class="gridxBody" role="presentation" data-dojo-attach-point="bodyNode"></div
		><div class="gridxVScroller" data-dojo-attach-point="vScrollerNode"
			><div style='width: 1px;'></div
		></div
	></div
	><div class="gridxFooter" data-dojo-attach-point="footerNode"
		><div class="gridxHScroller"
			><div class="gridxHScrollerInner" data-dojo-attach-point="hScrollerNode"><div style="width:1px; height: 1px;"></div></div
		></div
	></div
	><span data-dojo-attach-point="lastFocusNode" tabindex="0"></span
></div>
