<div class='gridxPager'
	><table class='gridxPagerInner' cellpadding="0" cellspacing="0" role="presentation"
		><tr
			><td class="gridxPagerDescriptionTD"
				><div class="gridxPagerDescription"
					data-dojo-attach-point="_descContainer"
				></div
			></td
			><td class="gridxPagerStepperTD"
				><div class="gridxPagerStepper"
					data-dojo-attach-point="_pageStepperContainer"
					><label class='gridxPagerLabel'>${pageLabel}</label
				></div
			></td
			><td class="gridxPagerSizeSwitchTD"
				><div class="gridxPagerSizeSwitch"
					data-dojo-attach-point='_sizeSwitchContainer'
					><label class='gridxPagerLabel'>${pageSizeLabel}</label
				></div
			></td
		></tr
	></table
></div>
