<div class='errorDialog'>	 
		<table style='width:100%;' align='center'> 
			<tr>
				<td colSpan='2' dojoAttachPoint="_errorText" class='errorText'>error text replaced here.</td>
			</tr>
			<tr> 
				<td>
				<div align='center' class='errorButtons'>
					<span dojoType='dijit.form.Button' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='OK'></span>
					<span dojoType='dijit.form.Button'  dojoAttachPoint="_cancelButton" dojoAttachEvent='onClick:cancelButton' label='Cancel' class="dijitHidden"></span>
				</div>
				</td> 
			</tr> 
		</table> 
</div>