<div>	 
	Select a Theme: <div dojoType="davinci.ui.widgets.ThemeSelection" dojoAttachPoint="_themeChooser" value='claro' dojoAttachEvent='onChange:_checkValid' searchWorkspace='true'></div>
		
		<table style='width:100%;'> 
			<tr> 
			<td width='20px'>&nbsp;</td>
				<td style='width:auto;'>&nbsp;</td> 
				<td style='width:1px;'><span dojoType='dijit.form.Button' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='OK'/></td> 
				<td style='width:auto;'>&nbsp;</td> 
				<td style='width:1px;'><span dojoType='dijit.form.Button' dojoAttachEvent='onClick:cancelButton' label='Cancel'/></td> 
				<td style='width:auto;'>&nbsp;</td> 
				<td width='20px'>&nbsp;</td>
			</tr> 
		</table> 
</div>