@import url("../dojox/mobile/themes/custom/custom.css");
/* Maqetta modifications */

/* FIXME workaround until issue #2075*/
.mblToggleButton:disabled, .mblToggleButton.maqDisable {
	border-color: grey;
	background-image: none;
	color: grey;
	cursor: default;
}