@import url("../common/domButtons/DomButtonGrayArrow.css");

@import url("../common/domButtons/DomButtonDarkBlueCheck.css");
/* dojox.mobile.ListItem */
.mblListItem {
  position: relative;
  list-style-type: none;
  vertical-align: bottom;
  /* To avoid IE6 LI bug */

  padding: 0 0 0 8px;
  height: 50px;
  border-bottom: 1px solid #b5bcc7;
  font-size: 18px;
  font-family: Helvetica;
  font-weight: normal;
  text-shadow: none;
  color: #131313;
  line-height: 50px;
}
.mblListItem.mblVariableHeight {
  height: auto;
  padding: 11px 6px 10px 6px;
  line-height: normal;
}
.mblListItem a.mblListItemAnchor {
  display: block;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-position: 9px 7px;
  padding-left: 40px;
  text-decoration: none;
}
.mblListItem a.mblListItemAnchorNoIcon {
  padding-left: 10px;
}
.mblListItem a.mblListItemAnchorHasRightButton {
  padding-right: 40px;
}
.mblListItem .mblLeftButton {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  line-height: normal;
}
.mblListItem .mblRightButton {
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -15px;
  line-height: normal;
}
.mblListItem .mblRightButton2 {
  right: 36px;
}
.mblListItemIcon {
  position: absolute;
  top: 7px;
}
.mblItemSelected {
  background-color: #abd6ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(3.3333333333333335%, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0.8)), color-stop(1, rgba(255, 255, 255, 0.5)));
}
.mblItemSelected a.mblListItemAnchor {
  color: #000000;
}
.mblItemSelected .mblDomButton DIV {
  border-color: white;
}
.mblListItemTextBox {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 28px;
}
.mblListItemTextBox2 {
  padding-right: 58px;
}
.mblListItemTextBoxSelected {
  background-color: #abd6ff;
}
.mblVariableHeight .mblListItemTextBox {
  white-space: normal;
}
.mblRightText {
  position: absolute;
  top: 12px;
  right: 30px;
  color: #131313;
  line-height: normal;
}
.mblItemChecked {
  color: #000000;
}
