
.mblToolbarButton {
  float: left;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin: 8px;
  padding: 0px 8px;
  height: 30px;
  border: 1px inset #b5bcc7;
  -webkit-border-radius: 2px;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: normal;
  text-shadow: none;
  color: #131313;
  line-height: 30px;
  text-align: center;
}
.mblToolbarButton.mblArrowButtonText {
  margin: 5px 8px;
}
div.mblToolbarButtonDomButton {
  width: 11px;
}
