/* Accordion
 * 
 * Styling AccordionContainer basically means styling the accordion pane (dijitAccordionInnerContainer)
 * and the title inside of it (dijitAccordionTitle).   There are 4 basic states to style:
 * 
 * 1. accordion bounding container
 * 		.dijitAccordionContainer - container for the whole accordion 
 * 
 * 2. closed pane (and default styling): 
 * 		.dijitAccordionInnerContainer - container for each accordion child
 * 		.dijitAccordionTitle - title for each accordion child
 *
 * 3. active closed pane (ie, mouse down on a title bar)
 * 		.dijitAccordionInnerContainerActive - for background-color, border
 * 		.dijitAccordionInnerContainerActive dijitAccordionTitle - for text color
 * 
 * 4. open pane (expanded child)
 * 		These rules need to override the closed pane active:
 *
 * 		.dijitAccordionInnerContainerSelected - for background-color, border
 * 		.dijitAccordionInnerContainerSelected .dijitAccordionTitle - for text color
 * 
 * 5. hovered pane, open or closed
 * 		The selectors below affect hovering over both a closed pane (ie, hovering a title bar),
 * 		and hovering over an open pane.   Also, treat mouse down on an open pane as a hover:
 *
 * 		.dijitAccordionInnerContainerHover, .dijitAccordionInnerContainerSelectedActive - for background-color, border
 * 		.dijitAccordionInnerContainerHover .dijitAccordionTitle - for text color
 */

.claro .dijitAccordionContainer {
	border:none;
}
.claro .dijitAccordionInnerContainer {
	background-color: #e6e6e7;	/* gray, for closed pane */
	border:solid 1px #b5bcc7;
	margin-bottom:1px;
	-webkit-transition-property:background-color,border;
 	-webkit-transition-duration:.3s;
	-webkit-transition-timing-function:linear;
}
.claro .dijitAccordionTitle {
	background-color: transparent;	/* pick up color from dijitAccordionInnerContainer */
	background-image: url("images/accordion.png");
	background-position:0px 0px;
	background-repeat:repeat-x;
	padding: 5px 7px 2px 7px;
	min-height:17px;
	color:#4a4a4a;
}
.dj_ie6 .claro .dijitAccordionTitle {
	background-image: none;
}
.claro .dijitAccordionContainer .dijitAccordionContainer-child {
	background-color:#fff;
	/*
	 * border style need to be !important to override the style "border:medium none !important"
	 * in class ".dijitTabPane, .dijitStackContainer-child, .dijitAccordionContainer-child"
	 */
	border:1px solid #92bce1 !important;
	margin: 0px 2px 2px;
	padding: 9px;
}

/* Active state for closed pane */

.claro .dijitAccordionInnerContainerActive {
	border:1px solid #769DC0;
	background-color:#7dbefa;
	-webkit-transition-duration:.1s;
}
.claro .dijitAccordionInnerContainerActive .dijitAccordionTitle {
	background-position:0px -136px;
	color:#000;
}

/* Open pane */

.claro .dijitAccordionInnerContainerSelected {
	border-color:#92bce1;
	background-color: #cde8ff;
}
.claro .dijitAccordionInnerContainerSelected .dijitAccordionTitle {
	color:#000;
	background-position: 0 0;	/* avoid effect when clicking the title of the open pane */
}

/* Hovering open or closed pane */

.claro .dijitAccordionInnerContainerHover dijitAccordionTitle {
	/* both open and closed */
	color:#000;
}

.claro .dijitAccordionInnerContainerHover,
.claro .dijitAccordionInnerContainerSelectedActive {
	border:1px solid #769DC0;
	background-color:#9dcfff;
	-webkit-transition-duration:.2s;
}

.claro .dijitAccordionInnerContainerSelectedHover .dijitAccordionContainer-child,
.claro .dijitAccordionInnerContainerSelectedActive .dijitAccordionContainer-child {
	background-color:#ffffff;
	border:1px solid #769DC0 !important;
	-webkit-box-shadow:inset 0px 0px 3px rgba(0, 0, 0, .25);
	-moz-box-shadow:inset 0px 0px 3px rgba(0, 0, 0, .25);
}
