<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.core.runtime.products">
        <product
            application="org.eclipse.equinox.app.error"
            description="Maqetta Server Product"
            name="Maqetta Server External">
        </product>
        <product
            application="org.eclipse.equinox.app.error"
            description="Maqetta Server Product"
            name="Maqetta Server Internal">
        </product>
        <product
            application="org.eclipse.equinox.app.error"
            description="Maqetta Server Product"
            name="Maqetta Server Joomla">
        </product>
    </extension>
</plugin>
