
.mblDomButtonDarkBlueCheck, .mblDomButtonCheck {
	background-image: url(compat/mblDomButtonDarkBlueCheck.png);
	background-repeat: no-repeat;
}
.mblDomButtonDarkBlueCheck DIV, .mblDomButtonCheck DIV {
	display: none;
}
