
.mblDomButtonSilverCircleGreenPlus {
	background-image: url(compat/mblDomButtonSilverCircleGreenPlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonSilverCircleGreenPlus > DIV {
	display: none;
}
