
.mblDomButtonSilverCircleOrangeButton {
	background-image: url(compat/mblDomButtonSilverCircleOrangeButton.png);
	background-repeat: no-repeat;
}
.mblDomButtonSilverCircleOrangeButton > DIV {
	display: none;
}
