
.mblDomButtonGrayArrow, .mblDomButtonArrow {
	background-image: url(compat/mblDomButtonGrayArrow.png);
	background-repeat: no-repeat;
}
.mblDomButtonGrayArrow DIV, .mblDomButtonArrow DIV {
	display: none;
}
