<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<setAttribute key="additional_plugins"/>
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/maqetta-orion multi user"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="featureDefaultLocation" value="workspace"/>
<stringAttribute key="featurePluginResolution" value="workspace"/>
<booleanAttribute key="includeOptional" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/CDC-1.0%Foundation-1.0"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console&#13;&#10;-data ${workspace_loc}/../__maqetta_server_workspace -clean -product org.eclipse.orion.product"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.equinox.http.jetty.http.port=8081&#13;&#10;-Dorg.eclipse.equinox.http.jetty.autostart=false&#13;-Dorion.core.configFile=${project_loc:davinci.releng}/orion/builder/rootfiles/maqetta.conf&#10;-Dmaqetta.siteConfigDirectory=${project_loc:davinci.releng}/orion/builder/rootfiles/siteConfig"/>
<stringAttribute key="pde.version" value="3.3"/>
<setAttribute key="selected_features">
<setEntry value="maqetta.client.feature:default"/>
<setEntry value="maqetta.libraries.feature:default"/>
<setEntry value="maqetta.server.feature:default"/>
<setEntry value="maqetta.zazl.feature:default"/>
<setEntry value="org.eclipse.orion.base.feature:default"/>
<setEntry value="org.eclipse.orion.client.feature:default"/>
<setEntry value="org.eclipse.orion.server.authentication.feature:default"/>
<setEntry value="org.eclipse.orion.server.feature:default"/>
<setEntry value="org.eclipse.orion.server.search.feature:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
