<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension point="maqetta.core.server.personManager">
    	<personManager class="maqetta.server.orion.user.OrionPersonManager" priority="0"/>
   	  </extension>

     <extension point="maqetta.core.server.userManager">
    	<userManager class="maqetta.server.orion.user.OrionUserManager"/>
   	 </extension>
   	 
   	 <!-- this probably should eventually be moved to a dojo or RAD specific plugin -->
	<extension point="maqetta.core.server.libraryFinder">
    	<libraryFinder class="maqetta.core.server.DojoLibraryFinder"/>
   	 </extension>
   	 
      <extension
            point="maqetta.core.server.command">
            
         <command path="keepalive" 
               class="maqetta.core.server.command.KeepAlive" />
         <command path="listFiles" 
               class="maqetta.core.server.command.ListFiles" />
         <command path="addFiles" 
               class="maqetta.core.server.command.AddFiles" />
         <command path="deleteResource" 
               class="maqetta.core.server.command.DeleteResource" />
         <command path="createResource" 
               class="maqetta.core.server.command.CreateResource" />
         <command path="getPreferences" 
               class="maqetta.core.server.command.GetPreferences" />
         <command path="setPreferences"  isPut="true"
               class="maqetta.core.server.command.SetPreferences" />
         <!-- orion specific -->
         <command path="login" noLogin="true" 
               class="maqetta.server.orion.command.Login" />
         <command path="getInitializationInfo" 
               class="maqetta.server.orion.command.GetInitializationInfo" />
         <command path="setWorkbenchState"  isPut="true"
               class="maqetta.server.orion.command.SetWorkbenchState" />
         <command path="configProject"  
               class="maqetta.server.orion.command.ConfigProject" />
         
         <command path="removeWorkingCopy" 
               class="maqetta.core.server.command.RemoveWorkingCopy" />
         <command path="logoff" 
               class="maqetta.core.server.command.LogOff" />
         <command path="download" 
               class="maqetta.core.server.command.Download" />
         <command path="findResource" 
               class="maqetta.core.server.command.FindResource" />
        <command path="getThemes" 
               class="maqetta.core.server.command.GetThemes" />
         <command path="getPlugins" 
               class="maqetta.core.server.command.GetPlugins" />
          <command path="getLibRoots" 
               class="maqetta.core.server.command.GetLibRoots" /> 
          <command path="listLibs" 
               class="maqetta.core.server.command.ListLibs" />   
          <command path="getUserLibs" 
               class="maqetta.core.server.command.GetUserLibs" />   
          <command path="modifyLib" 
               class="maqetta.core.server.command.ModifyLib" /> 
           <command path="copy" 
               class="maqetta.core.server.command.Copy" /> 
           <command path="createProject" 
               class="maqetta.core.server.command.CreateProject" />         
           <command path="rename" 
               class="maqetta.core.server.command.Rename" />         
               
          <!-- Review and Commenting Commands -->        
          <command path="listVersions"
               class="maqetta.core.server.command.ListVersions" />
         <command path="addComment"
               class="maqetta.core.server.command.AddComment" />
         <command path="updateComment"
               class="maqetta.core.server.command.UpdateComment" />
         <command path="getComments"
               class="maqetta.core.server.command.GetComments" />
         <command path="publish"
         	   class="maqetta.core.server.command.Publish" />
	     <command path="getBluePageInfo"
         	   class="maqetta.core.server.command.GetBluePageInfo" />         	   
         <command path="listReviewFiles"
         	   class="maqetta.core.server.command.ListReviewFiles" />
         <command path="getLatestVersionId"
         	   class="maqetta.core.server.command.GetLatestVersionId" />
         <command path="managerVersion"
         	   class="maqetta.core.server.command.ManagerVersion" />
         <command path="getReviewUserInfo"
         	   class="maqetta.core.server.command.GetReviewUserInfo" />   
         <command path="createProjectTemplate" 
               class="maqetta.core.server.command.CreateProjectTemplate" />         
         <command path="deleteProjectTemplates" 
               class="maqetta.core.server.command.DeleteProjectTemplates" />         
         <command path="modifyProjectTemplates" 
               class="maqetta.core.server.command.ModifyProjectTemplates" />         
         <command path="getProjectTemplates" 
               class="maqetta.core.server.command.GetProjectTemplates" />         
               
      </extension>
	
     <extension id="maqetta.core.client" point="org.eclipse.equinox.http.registry.resources">
        <!-- override the orion login/logoff pages -->
        <resource alias="/mixloginstatic/LoginWindow.html" base-name="/WebContent/login/LoginWindow.html" />  
        <resource alias="/mixloginstatic/LoginWindow.css" base-name="/WebContent/login/LoginWindow.css" />  
        <resource alias="/mixloginstatic/LoginWindow.js" base-name="/WebContent/login/LoginWindow.js" />
     </extension>

</plugin>
