/*@import url("../dojox/widget/Toaster/Toaster.css");*/

.claro .dijitToasterContent {
	margin:2px 3px 3px 3px; /* must specify in ems? */
	font-size:8.5pt; /* isn't this too tiny? must specify in ems? */
	color:black;
}

.claro .dijitToasterMessage{ 
}

.claro .dijitToasterWarning{ }
.claro .dijitToasterError,
.claro .dijitToasterFatal{
}

.claro .dijitToasterWarning{
} 

.claro .dijitToasterError{
}
 
.dijitToasterClip {
	position: absolute;
	z-index: 1005000;
	overflow: hidden;
}

.dijitToasterContainer {
	display: block;
	position: absolute;
	width: 17.5em;
}

.claro .dijitToasterContainer{
	line-height:90%;
	padding:0.375em;
	background:#cfe5fa;
	border:solid 1px #769dc0;
	border-radius:4px;
}
