.userSettingsMenuIcon {
	background-image: url(img/sprite.png);
	background-position: -82px -692px;
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
}
.userSettingsMenu .dijitArrowButtonInner {
	display:none;
}
.appSettingsMenuIcon {
	background-image: url(img/sprite.png);
	background-position: -48px -692px;
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
}
.appSettingsMenu .dijitArrowButtonInner {
	display:none;
}
.helpMenuIcon {
	background-image: url(img/sprite.png);
	background-position: -48px -652px;
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
}
.helpMenu .dijitArrowButtonInner {
	display:none;
}
.userLibDialog .columna{
	
	text-align:center;
	margin:4px;
	padding-left:2px;	
	padding-right:2px;
	
}

.projectSelection{
	display: inline-block;
	float: left;
	width:100%
	
}

.projectToolbar .buttons{
	display: inline-block;
	float: right;
	width:40px;
	
}

.projectToolbarRenameIcon {
	/* same as redo icon for now */
	background-image: url(img/sprite.png); /* FIXME: add logic for redo-disabled.gif? */
	background-position: 0px -2114px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}


.projectToolbarDeleteIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for remove-disabled.gif? */
	background-position: -2px -648px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}


.userLibDialog .columnb{
	
	text-align:center;	
		padding-right:15px;
		padding-left:15px;
	
}
.userLibDialog .header{
	font-weight:bold;
		padding-right:15px;
		padding-left:15px;
}
.userLibDialog .columnc{
	
	text-align:center;
		padding-left:4px;	
	padding-right:4px;	
	
}
.userLibDialog .columnd{
	
	text-align:left;
		padding-left:4px;	
	padding-right:4px;	
	
}
.userLibDialog .columnd input{
	
	
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	
}
.downloadDialog {
	
	
	 margin:0;
	 padding:0;
	
}

.templateTable {
	width:100%;
}

.templateFiller1 {
	width:25px;
}

.templateFiller2 {
	width:75px;
}

.templateFiller3 {
	width:20px;
}

.templateFiller4 {
	width:auto;
}

.templateButton {
	width:1px;
}

.templateInput {
	width:100%;
}
#maqBody .FilesToolbarNewFolder {
}
.newFolderIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -272px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
#maqBody .FilesToolbarDeleteFile {
}
.FilesToolbarDeleteFileIcon {
	background-image: url(img/sprite.png);
	background-position: -20px -2054px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.FilesToolbarDeleteFileIcon.FilesToolbarDeleteFileIconDisabled {
	background-position: -20px -2094px;
}
#maqBody .FilesToolbarRenameFile {
}
.FilesToolbarRenameFileIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -2113px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.FilesToolbarRenameFileIcon.FilesToolbarRenameFileIconDisabled {
	background-position: 0 -2133px;
}
.FilesToolbarUploadFiles {
	float:right;
}
.uploadIcon {
	background-image: url(img/sprite.png);
	background-position: -27px -274px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.FilesToolbarUploadZip {
	float:right;
	margin-right:5px;
}
.uploadZipIcon {
	background-image: url(img/sprite.png);
	background-position: -51px -273px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-right:5px;
}
.FilesToolbarDownloadAll {
	float:right;
}
.downloadAllIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for new_document-disabled.gif? */
	background-position: -81px -296px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.FilesToolbarDownloadSelected {
	float:right;
}
.downloadSomeIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for new_document-disabled.gif? */
	background-position: 0 -994px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.saveIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for save_edit-disabled.gif? */
	background-position: -82px -993px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.saveAsIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for saveas-disabled.gif? */
	background-position: -82px -1059px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.saveAsDijitIcon {
	background-image: url(img/sprite.png);
	background-position: -82px -927px;
	width: 16px;
	height: 16px;
}

.selectThemeIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for undo-disabled.gif? */
	background-position: -82px -1257px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.flowLayoutIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for undo-disabled.gif? */
	background-position: -51px -1777px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.absoluteLayoutIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for undo-disabled.gif? */
	background-position: -75px -1777px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.stickynoteIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for undo-disabled.gif? */
	background-position: -46px -610px;
	width: 27px;
	height: 27px;
}
.rotateIcon {
	background-image: url(img/sprite.png);
	background-position: -82px -860px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.orientationLandscape .rotateIcon {
	background-position: -82px -878px;
}
.deviceIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -780px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.renameIcon {
	/* same as redo icon for now */
	background-image: url(img/sprite.png); /* FIXME: add logic for redo-disabled.gif? */
	background-position: 0px -2113px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}


.deleteIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for remove-disabled.gif? */
	background-position: -2px -647px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.printIcon {
	background-image: url(img/sprite.png); /* FIXME: Add logic for print-disabled.gif? */
	background-position: -82px -596px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
#davinci_toolbar_container .openBrowser {
	margin-right:18px;
}
.openBrowserIcon {
	background-image: url(img/sprite.png); /* FIXME: Disabled version? */
	background-position: -46px -532px;
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
}
.documentSettingsIcon {
	background-image: url(img/sprite.png); /* FIXME: Disabled version? */
	background-position: -46px -572px;
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
}
.documentSettings .dijitArrowButtonInner {
	display:none;
}

.propertiesDropDownIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -846px;
	width: 16px;
	height: 16px;
	background-color:#EAEAEA;
}
.copyIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -450px;
	width: 18px;
	height: 18px;
}
.gotolineIcon {
	background-image: url(img/sprite.pgn);
	background-position: 0 -1316px;
	width: 18px;
	height: 18px;
}

.closeIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -384px;
	width: 18px;
	height: 18px;
}
.formatIcon {
	background-image: url(img/sprite.png);
	background-position: -82px -1455px;
	width: 18px;
	height: 18px;
}
.fullScreenIcon {
	background-image: url(img/sprint.png);
	background-position: 0 -1184px;
	width: 18px;
	height: 18px;
}
.htmlFileIcon {
	background-image: url(img/sprite.png);
	background-position: -82px -1323px;
	width: 16px;
	height: 16px;
}
.htmlFileIconReadOnly{
	background-image: url(img/sprite.png);
	background-position: -99px -1323px;
	width: 16px;
	height: 16px;
}
.themeFileIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -1382px;
	width: 16px;
	height: 16px;
}
.themeFileIconReadOnly {
	background-image: url(img/sprite.png);
	background-position: -21px -1382px;
	width: 16px;
	height: 16px;
}
.cssFileIcon {
	background-image: url(img/sprite.png);
	background-position: -82px -1257px;
	width: 16px;
	height: 16px;
}
.cssFileIconReadOnly {
	background-image: url(img/sprite.png);
	background-position: -82px -1279px;
	width: 16px;
	height: 16px;
}
img.readOnlyResource + img.treeReadOnlyLabelNode{
	background-image: url(img/readonly.png); /* FIXME: add logic for remove-disabled.gif? */
	
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
}



/* Explorer */
.explorerHeaderProjectDiv {
	padding-top:1px;
}
.ExplorerToolbar {
	background-color:#efefef;
	border-bottom: #989898 1px solid;
}
.ExplorerToolbar .dijitToolbar.davinciToolbar {
	padding: 0px 2px 5px 4px;
	background-image: none;
	margin-top: -3px;
}
.explorerHeaderProjectDiv .projectSelection {
	padding-left:1px;
}
.ExplorerToolbar .ExplorerDropDownButton {
}
.ExplorerToolbar .ExplorerNewProjectButton {
	margin:0;
}
.ExplorerToolbar .ExplorerNewProjectIcon {
	background-image: url(img/sprite.png);
	background-position: -104px -297px;
	width:16px;
	height:16px;
}
#maqBody .ExplorerToolbar .ExplorerNewProjectButton .dijitButtonNode {
	border:none;
	background:none;
	padding-right:2px;
}
.ExplorerToolbar .ExplorerDropDownIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -295px;
	width:22px;
	height:16px;
}
#maqBody .explorerHeaderProjectCol0 {
	padding:0px 3px 0px 2px;;
}
.explorerHeaderProjectCol1 {
	width:100%;
}
.explorerHeaderProjectCol2 .dijitDropDownButton .dijitArrowButtonInner {
	display:none;
}
#maqBody .explorerHeaderProjectCol2 {
	padding-right: 3px;
	padding-left: 10px;
	white-space:nowrap;
}
.readOnlyResource .dijitTreeLabel {
	font-style: italic;
	color: #5b5b5b;
}

.maqettaReadonlyFolderOpened {
	background-image:url(img/sprite.png);
	background-position: -69px -1172px;
}

.maqettaReadonlyFolderClosed {
	background-image:url(img/sprite.png);
	background-position: -50px -1172px;
}

.maqettaReadonlyFile {
	background-image:url(img/sprite.png);
	background-position: -87px -1171px;
}


.jsFileIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -1580px;
	width: 16px;
	height: 16px;
}
.jsFileIconReadOnly {
	background-image: url(img/sprite.png);
	background-position: 0 -1605px;
	width: 16px;
	height: 16px;
}
.imageFileIcon {
	background-image: url(img/sprite.png);
	background-position: -2px -1448px;
	width: 16px;
	height: 16px;
}
.imageFileIconReadOnly {
	background-image: url(img/sprite.png);
	background-position: -2px -1466px;
	width: 16px;
	height: 16px;
}


.fileFolderTable {
	/* Believe it or not, margin-left/right set to auto causes a table to be centered */
/*
	margin-left:auto;
	margin-right:auto;
*/
	width:100%;
}
.fileFolderTable .dijitTextBox {
	width:100%;
}
.fileDialog .fileNameRow {
	/* margin:.5em 2em 1.25em; */
	text-align:center;
	width:100%;
}
.fileDialog .fileNameRow input {
	  width:13em; 
}
.fileDialog .parentFolderInputRow {
	margin-right:2px;
}
.fileDialog .parentFolderInputRow .dijitTextBox {
	width:100%;
}
.fileDialogWhereIcon {
	background-image:url(img/sprite.png);
	background-position:-20px -22px;
	background-repeat:no-repeat;
	width:20px;
	height:16px;
}
.fileDialog .folderNameRow .dijitDropDownButton {
	margin: 0.2em 0;
}
.fileDialog .folderNameRow .dijitDropDownButton .dijitButtonText {
	width: 10em;
	text-align: left;
}
.fileDialogLabelCell {
/*
	text-align:right;
*/
	padding-right:.25em;
	width: 1px;
	white-space: nowrap;
}
.fileDialog .folder_details_arrow {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-left: 7px;
	font-size:14px;
	background-image:url(img/sprite.png);
}
.folder_details_show_arrow {
	background-position:-37px -848px;
}
.folder_details_hide_arrow {
	background-position:-20px -846px;
}
.fileDialog .folderContainer {
}
.fileDialog .folderContainer .dijitContentPane {
	border:1px solid #888;
	padding:1px;
}
.folderContainerButtonRow {
	margin-top:.25em;
	text-align:right;
}
.fileDialog .fileDialogTreeWidget {
	height:10em;/*100%*/
	overflow:auto;
}
.fileDialog .dijitTreeRowSelected {
	background-color: #ddd;
	width:100%;
}
.fileDialog .dijitTreeRowSelected .dijitTreeLabel {
	background:none;
	outline:none;
}
.fileDialog .buttonRow {
/*
	text-align:right;
*/
	margin:18px 0 8px 0;
	min-height:27px;
}
.fileDialog .buttonRow .fileDialogStdButtons {
	float:right;
}
.fileDialog .buttonWrapperSpan {
	margin-left: 2px;
}
.tabButtonLoadingIcon {
	background: url("img/loading_wheel.gif")  no-repeat;
	width: 14px;
	height: 14px;
	margin-left: 5px;
	margin-right:-3px;
	margin-bottom:1em;
}

.tabButtonErrorIcon {
	background: url("img/delete.gif")  no-repeat;
	width: 14px;
	height: 14px;
	margin-left: 5px;
	margin-right:-3px;
	margin-bottom:1em;
}

/* generic */

.dvRequired {
    display: inline;
    color: red;
}

.dvDialogOKCancel {
    float: right;
    margin-right: 40px;
}

/* SaveAsWidget dialog */

.dvSaveAsWidgetDialog {
    width: 410px;
}

/* SaveAsWidgetForm */

.dvSaveAsWidgetForm h4.dvRequired {
    margin-left: 120px;
    font-size: x-small;
}

.dvSawfLabel {
    width: 120px;
    display: block;
    float: left;
    text-align: right;
    margin-right: 5px;
}

.dvSaveAsWidgetForm .dijitValidationTextBox {
    width: 200px;
}

.dvSaveAsWidgetForm .dijitTitlePane {
    margin-top: 1.5em;
}

.dvSawfDesc {
    margin-left: 20px;
    margin-right: 20px;
}

.NewProjectDialogTable {
	width:100%;
}
.claro .NewProjectDialogTable .dijitSelectLabel {
	white-space:nowrap;
}
.NewProjectTemplateSelect .dijitButtonContents {
	min-width:8em;
}
.NewProjectDialogLabel {
	margin-left:2px;
}
.NewProjectUseTemplateLabel {
	margin-right:10px;
}
.NewProjectDialogLabel, .NewProjectTemplateDialogLabel {
	white-space:nowrap;
}
.NewProjectUseTemplateCell, .NewProjectCloneExistingCell, .NewProjectEclipseSupportCell {
	vertical-align:middle;
	height:22px;
}
.NewProjectUseTemplateCell {
	padding-top:20px;
}

.NewProjectTemplateName {
	white-space:nowrap;
} 
.NewProjectTemplateAuthor {
	float:right;
	font-style:italic;
	white-space:nowrap;
}
.NewProjectTemplateShareCell {
	padding-top:20px;
}
.ManageProjectTemplatesOuterDiv table {
	border-spacing:0;
	border-collapse:collapse;
	border:1px solid lightgray;
	font-size:13px;
}
.ManageProjectTemplatesOuterDiv table th {
	white-space:nowrap;
	padding:3px 5px;
	text-align:center;
	vertical-align:middle;
	height:30px;
	border-right:1px solid lightgray;
}
.ManageProjectTemplatesOuterDiv table td {
	border:none;
	padding:4px 6px;
	border-right:1px solid lightgray;
}
.mpt_sharingSimple_cell, .mpt_delete_cell {
	text-align:center;
}
.mpt_delete {
	width:16px;
	height:16px;
	background-color:white;
	background-image:url('img/sprite.png');
	background-position: 0px -650px;
	border:none;
	cursor:pointer;
}
.ManageProjectTemplatesDuplicateNames {
	visibility:hidden;
	color:red;
	font-size:13px;
	font-style:italic;
	padding:8px 0 2px;
}
.ManageProjectTemplatesDuplicateNames.ManageProjectTemplatesDuplicateNamesVisible {
	visibility:visible;
}
.mpt_readonly {
	color:gray;
}
.mpt_highlight {
	background-color:#ffffcc;
}
.mpt_row_head {
	background-color:#f3f3f3;
	background-image:-webkit-linear-gradient(white 40%, #f3f3f3 40%, #f3f3f3 75%, #ededed 75%);
	background-image:-moz-linear-gradient(white 40%, #f3f3f3 40%, #f3f3f3 75%, #ededed 75%);
	background-image:-ms-linear-gradient(white 40%, #f3f3f3 40%, #f3f3f3 75%, #ededed 75%);
	background-image:-o-linear-gradient(white 40%, #f3f3f3 40%, #f3f3f3 75%, #ededed 75%);
	background-image:linear-gradient(white 40%, #f3f3f3 40%, #f3f3f3 75%, #ededed 75%);
}
.mpt_row_even {
	background-color:white;
}
.mpt_row_odd {
	background-color:#f3f3f3;
}
.mpt_row.mpt_delete_row,
.mpt_row.mpt_delete_row .mpt_delete {
	background-color:#ffdddd;
	text-decoration:line-through;
}
.mpt_col_sharing_hide .mpt_col_sharing {
	display:none;
}
.nhfo_dv {
	white-space:nowrap;
}
.nhfo_dv label {
	vertical-align:middle;
}
.nhfo_dv .dijitSelectLabel {
	padding-left:.05em;
	padding-right:.25em;
}
.nhfo_outer2 {
	margin: 14px 2px 6px;
	border: 1px solid #759DC0;
	border-radius: 4px;
}
.nhfo_outer1 {
	margin:0;
/*
	padding: 6px 6px 4px;
*/
	padding: 3px 6px 4px;
	border: 2px solid white;
	background: rgba(171,214,255,.1); /* #ABD6FF */
	border-radius: 4px;
}
.nhfo_dv .dijitSelect .dijitButtonContents {
	width:11em;
}
.nhfo_show_details {
	margin-top: 4px;
}
.nhfo_show_details a:link, .nhfo_show_details a:visited, .nhfo_hide_details a:link, .nhfo_hide_details a:visited {
	text-decoration:none;
	color: #26A;
}
.nhfo_details {
	margin: .3em 0;
}
.nhfo_collapsed .nhfo_details {
	display:none;
}
.nhfo_details table {
	border-spacing: 0px;
	border-collapse: collapse;
}
.nhfo_details table td {
	padding:0;
}
.nhfo_details table td.nhfo_label {
/*
	width:10em;
	text-align:right;
*/
	padding-right:.25em;
	white-space:nowrap;
}
.nhfo_details .dijitSelect {
	margin: 0.1em 0.2em;
}
.nhfo_details .dijitSelect .dijitButtonContents {
	width:9em;
}
.nhfo_th .nhfo_label {
	padding-left:2em;
}
.nhfo_edit_theme {
	display:inline-block;
	width:16px;
	height:16px;
	/* background:url('img/editing_16.gif'); */
	background:url('img/sprite.png');
	background-position: -56px 0px;
	vertical-align: middle;
/*
	margin-left: .5em;
*/
}

/* resizabled dialog*/
.claro .resizableDialog .dijitDialogTitleBar {
	padding-left: 10px;
}
.claro .resizableDialog .dijitDialogPaneContentArea {
	padding: 14px 11px;
}
.resizableDialog .dijitDialogPaneContentArea {
	overflow: auto;
}

.resizableDialog .dialogSecondaryButtons {
	float: right;
}

.resizableDialog .dijitDialogPaneActionBar {
	clear: both;
	text-align: left;

	/* for the resize handle */
	padding-right: 14px;
}
/*override*/
.resizableDialog .dijitDialogPaneActionBar.dialogButtonContainerOverride {
	text-align: right;
}
.resizableDialog .dialogContent {
	padding-left: 0;
	padding-top: 0;
}
.claro .resizableDialog .dijitDialogPaneActionBar {
	padding-left:10px;
}
.newOpenMenuItem {
	background-image:url(img/sprite.png);
	width:20px;
	height:16px;
}
.newMobileAppMenuItem {
	background-position:-39px -924px;
}
.newDesktopAppMenuItem {
	background-position:-39px -1059px;
}
.newSketchHiFiMenuItem {
	background-position:-39px -987px;
}
.newSketchLoFiMenuItem {
	background-position:-39px -1010px;
}
.newCSSMenuItem {
	background-position:-39px -884px;
}
.newJSMenuItem {
	background-position:-39px -902px;
}
.newThemeMenuItem, .openThemeMenuItem {
	background-position:-39px -1033px;
}
.newProjectMenuItem, .openProjectMenuItem {
	background-position:-39px -943px;
}
.newReviewMenuItem, .openReviewMenuItem {
	background-position:-39px -964px;
}
.newFolderMenuItem {
	background-position:-39px -1085px;
}
.openFileMenuItem {
	background-position:-39px -1109px;
}
.orionIcon {
	background-position:-85px -24px;
}
