<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
       <servlet
            alias="/maqetta/review"
            class="org.davinci.server.review.DavinciReviewServlet"
            load-on-startup="true">
      </servlet>
   </extension>
         <extension
           id="testResource"
           point="org.eclipse.equinox.http.registry.resources">
        <resource
              alias="/maqetta/app/davinci/review"
              base-name="/WebContent/davinci/review"
              />
      </extension>
   
      <extension
            point="maqetta.core.server.command">
         <command path="listVersions"
               class="maqetta.core.server.standalone.command.ListVersions" />
         <command path="addComment"
               class="maqetta.core.server.standalone.command.AddComment" />
         <command path="updateComment"
               class="maqetta.core.server.standalone.command.UpdateComment" />
         <command path="getComments"
               class="maqetta.core.server.standalone.command.GetComments" />
         <command path="publish"
         	   class="maqetta.core.server.standalone.command.Publish" />
	     <command path="getBluePageInfo"
         	   class="maqetta.core.server.standalone.command.GetBluePageInfo" />         	   
         <command path="listReviewFiles"
         	   class="maqetta.core.server.standalone.command.ListReviewFiles" />
         <command path="getLatestVersionId"
         	   class="maqetta.core.server.standalone.command.GetLatestVersionId" />
         <command path="managerVersion"
         	   class="maqetta.core.server.standalone.command.ManagerVersion" />
         <command path="getReviewUserInfo"
         	   class="maqetta.core.server.standalone.command.GetReviewUserInfo" />   
      </extension>
            <extension
            point="maqetta.core.server.jsPlugin">
         <jsPlugin
               path="app/davinci/review/review"
               resourcePath="WebContent/davinci/review/review" />
      </extension>
</plugin>
