<div>
	<div class="dijitDialogPaneContentArea">
		<table>
		<tr style='display:none;'>
		<td class="NewProjectDialogLabel">Widget Group:</td><td><input class='templateInput' type='text' dojoAttachPoint="_widgetGroup" vaule='MyWidgets'></input></td><td><div dojoAttachPoint='_error3'></div></td>
		
		</tr>
		
		<tr>
		<td class="NewProjectDialogLabel">Widget Name:</td><td><input class='templateInput' type='text' dojoAttachPoint="_dijitName"></input></td><td><div dojoAttachPoint='_error4'></div></td>
		</tr>
		<tr style='display:none;'>
		<td class="NewProjectDialogLabel">Replace Selection with new Widget</td><td><input class='templateInput' type='checkbox' dojoAttachPoint="_replaceSelection"></input></td><td><div dojoAttachPoint='_error5'></div></td>
		</tr>
		</table>
	</div>

	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='OK' type="submit" class="maqPrimaryButton" disabled></button> 
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick:cancelButton' label='Cancel' class="maqSecondaryButton"></button>
	</div>		
</div>