<table class="dijit dijitReset dijitInline dijitLeft"
	dojoAttachPoint="_buttonNode,tableNode,focusNode" cellspacing='0' cellpadding='0'
	waiRole="combobox" waiState="haspopup-true"
	><tbody waiRole="presentation"><tr waiRole="presentation"
		><td class="dijitReset dijitStretch dijitButtonContents dijitButtonNode" waiRole="presentation"
			><span class="dijitReset dijitInline dijitButtonText"  dojoAttachPoint="containerNode,_popupStateNode"></span
			><input type="hidden" ${!nameAttrSetting} dojoAttachPoint="valueNode" value="${value}" waiState="hidden-true"
		/></td><td class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton"
				dojoAttachPoint="titleNode" waiRole="presentation"
			><div class="dijitReset dijitArrowButtonInner" waiRole="presentation"></div
			><div class="dijitReset dijitArrowButtonChar" waiRole="presentation">&#9660;</div
		></td
	></tr></tbody
></table>
