<div class="dijit dijitReset dijitInlineTable dijitLeft"
	id="widget_${id}" waiRole="presentation"
	><div class='dijitReset dijitValidationContainer'
		><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="&Chi; " type="text" tabIndex="-1" readOnly waiRole="presentation"
	/></div
	><div class="dijitReset dijitInputField dijitInputContainer"
		><input class="dijitReset dijitInputInner" dojoAttachPoint='textbox,focusNode' autocomplete="off"
			${!nameAttrSetting} type='${type}'
	/></div
></div>
