<div class="davinciComment" style="border-top: none; margin-top: 2px; padding-bottom: 2px;">
	<div dojoAttachPoint="toolbarNode"></div>
	<div dojoAttachPoint="subjectNode" class="commentSubjectEdit"></div>
	<div dojoAttachPoint="contentNode" style="position:relative;">
	<span dojoAttachPoint="placeHolder" style="padding:3px 0 0 2px;" class="dijitPlaceHolder dijitInputField">Comment</span>
	</div>
	<div class="commentFooter">
		<span>Type:&nbsp;</span><span dojoAttachPoint="commentType"><span dojoAttachPoint="commentTypeList"></span></span>
		<span>&nbsp;|&nbsp;</span>
		<span>Severity:&nbsp;</span><span dojoAttachPoint="commentSeverity" class="valignImage"></span>
	</div>
	<div style="text-align: right;">
		<div dojoAttachPoint="submitNode"></div>
		<a dojoAttachPoint="cancelNode" class="commentLinkButton" style="vertical-align: middle;">Cancel</a>
	</div>
</div>
