<div class="davinciComment">
	<div dojoAttachPoint="mainBody" class="commentBody">
		<div class="commentSubject" dojoAttachPoint="subjectNode"></div>
		<div class="commentSubtitle">
			by&nbsp;<span dojoAttachPoint="ownerName"></span>
			&nbsp;<span dojoAttachPoint="createTime"></span>
			<span style="float: right;">
				<a class="commentLinkButton" dojoAttachPoint="editButton">Edit</a>
				<span style="display: inline-block; width: 2px;"></span>
				<a class="commentLinkButton" dojoAttachPoint="replyButton">Reply</a>
			</span>
		</div>
		<div class="commentContent" dojoAttachPoint="contentNode"></div>
		<div class="commentFooter">
			<span>Type:&nbsp;</span><span dojoAttachPoint="commentType"></span>
			<span>&nbsp;|&nbsp;</span>
			<span>Severity:&nbsp;</span><span dojoAttachPoint="commentSeverity" class="valignImage"></span>
			<span dojoAttachPoint="commentStatusLabel">
				<span>&nbsp;|&nbsp;</span>
				<span>Status:&nbsp;</span><span dojoAttachPoint="commentStatus"></span>
			</span>
		</div>
	</div>
	<div dojoAttachPoint="tempForm"></div>
	<div dojoAttachPoint="replyRegion" class="displayNone">
		<div class="commentReplyBar">
			<img class="dijitTreeExpando dijitTreeExpandoOpen commentLinkButton" src="app/dojo/resources/blank.gif" style="vertical-align: middle;" dojoAttachPoint="imgNode"/>
			<a class="commentLinkButton" dojoAttachPoint="replyCountButton"></a>
		</div>
		<div class="commentReplies" dojoAttachPoint="commentReplies"></div>
	</div>
</div>