<div class="detail_title">${detail_title}</div>
<div>
	<div class="detail_div"><span>Your Role:</span><span class="detail_role">${detail_role}</span><span>Due by:</span><span class="${detail_dueDate_class}">${detail_dueDate}</span></div>
	<div class="detail_div"><span>Created by:</span><span class="detail_creator">${detail_creator}</div>
</div>
<div class="detail_div"><strong>Artifacts In Review</strong></div>
${detail_files}
<div class="detail_div"><strong>Reviewers</strong></div>
${detail_reviewers}