<tr class="sliderInputChildRow" style="display:none;">
	<td class="sliderInputCol1"></td>
	<td class="sliderInputOptsLabel sliderInputChildLabel">Template:</td>
	<td>
		<select class="sliderTypeSelect" dojoType="dijit.form.Select">
			<option value="rules">{rulesSelectEntry}</option>
			<option value="labels">{labelsSelectEntry}</option>
		</select>
	</td>
	<td>
		<select class="sliderContainerSelect" dojoType="dijit.form.Select">
			<option value="{containerOptions0}">{containerOptions0}</option>
			<option value="{containerOptions1}">{containerOptions1}</option>
		</select>
	</td>
	<td class="sliderInputPlusMinusButtons">
		<span class="sliderInputPlusButton" dojoType="dijit.form.Button">+</span>
		<span class="sliderInputMinusButton" dojoType="dijit.form.Button">-</span>
	</td>
</tr>