.textview {
	background-color: white;
	padding: 1px 2px;
}

.textviewContainer {
	background-color: #eeeeee;
	font-family: monospace;
	font-size: 10pt;
}
::-webkit-scrollbar-corner {
	background-color: #eeeeee;
}

.textviewContent {
}