.view {
	background-color: white;
}

.viewContainer {
	background-color: #eeeeee;
	font-family: monospace;
	font-size: 10pt;
}
::-webkit-scrollbar-corner {
	background-color: #eeeeee;
}

.viewContent {
}