.mblDissolve.mblOut {
	z-index: -100;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: mblDissolveOut;
	-webkit-animation-timing-function: ease-in;
}
.mblDissolve.mblIn {
	z-index: 0;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: mblDissolveIn;
	-webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes mblDissolveOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-webkit-keyframes mblDissolveIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.mblFlip2.mblOut {
	-webkit-animation-duration: .4s;
	-webkit-animation-name: mblFlip2Out;
	-webkit-animation-timing-function: linear;
}
.mblFlip2.mblIn {
	-webkit-animation-duration: .4s;
	-webkit-animation-name: mblFlip2In;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes mblFlip2Out {
	0% { -webkit-transform: scale(1,1) skew(0deg,0deg); }
	50% { -webkit-transform: scale(0,1) skew(0deg,30deg); }
	100% { -webkit-transform: scale(0,1) skew(0deg,30deg); }
}
@-webkit-keyframes mblFlip2In {
	0% { -webkit-transform: scale(0,1) skew(0deg,-30deg); }
	50% { -webkit-transform: scale(0,1) skew(0deg,-30deg); }
	100% { -webkit-transform: scale(1,1) skew(0deg,0deg); }
}

.mblCover.mblOut {
	z-index: -100;
	-webkit-animation-duration: .4s;
	-webkit-animation-name: mblCoverOut;
	-webkit-animation-timing-function: linear;
}
.mblCover.mblIn {
	z-index: 0;
	-webkit-animation-duration: .4s;
	-webkit-animation-name: mblCoverIn;
	-webkit-animation-timing-function: linear;
}
.mblCover.mblIn.mblReverse {
	-webkit-animation-name: mblCoverInReverse;
}
@-webkit-keyframes mblCoverOut {
	from {}
	to {}
}
@-webkit-keyframes mblCoverIn {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(0px); }
}
@-webkit-keyframes mblCoverInReverse {
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform: translateX(0px); }
}

.mblReveal.mblOut {
	z-index: 0;
	-webkit-animation-duration: .4s;
	-webkit-animation-name: mblRevealOut;
	-webkit-animation-timing-function: linear;
}
.mblReveal.mblIn {
	z-index: -100;
	-webkit-animation-duration: .4s;
	-webkit-animation-name: mblRevealIn;
	-webkit-animation-timing-function: linear;
}
.mblReveal.mblOut.mblReverse {
	-webkit-animation-name: mblRevealOutReverse;
}
@-webkit-keyframes mblRevealOut {
	from { -webkit-transform: translateX(0px); }
	to { -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes mblRevealIn {
	from {}
	to {}
}
@-webkit-keyframes mblRevealOutReverse {
	from { -webkit-transform: translateX(0px); }
	to { -webkit-transform: translateX(100%); }
}

.mblSlidev.mblOut {
	-webkit-animation-duration: .6s;
	-webkit-animation-name: mblSlideVOut;
	-webkit-animation-timing-function: ease-out;
	-webkit-transform: translateY(-100%);
}
.mblSlidev.mblIn {
	-webkit-animation-duration: .6s;
	-webkit-animation-name: mblSlideVIn;
	-webkit-animation-timing-function: ease-out;
	-webkit-transform: translateY(0px);
}
.mblSlidev.mblOut.mblReverse {
	-webkit-animation-name: mblSlideVOutReverse;
	-webkit-animation-timing-function: ease-in;
}
.mblSlidev.mblIn.mblReverse {
	-webkit-animation-name: mblSlideVInReverse;
	-webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes mblSlideVOut {
	from { -webkit-transform: translateY(0px); }
	to { -webkit-transform: translateY(-100%); }
}
@-webkit-keyframes mblSlideVIn {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0px); }
}
@-webkit-keyframes mblSlideVOutReverse {
	from { -webkit-transform: translateY(0px); }
	to { -webkit-transform: translateY(100%); }
}
@-webkit-keyframes mblSlideVInReverse {
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0px); }
}

.mblCoverv.mblOut {
	z-index: -100;
	-webkit-animation-duration: .6s;
	-webkit-animation-name: mblCoverVOut;
	-webkit-animation-timing-function: ease-out;
}
.mblCoverv.mblIn {
	z-index: 0;
	-webkit-animation-duration: .6s;
	-webkit-animation-name: mblCoverVIn;
	-webkit-animation-timing-function: ease-out;
}
.mblCoverv.mblIn.mblReverse {
	-webkit-animation-name: mblCoverVInReverse;
	-webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes mblCoverVOut {
	from {}
	to {}
}
@-webkit-keyframes mblCoverVIn {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0px); }
}
@-webkit-keyframes mblCoverVInReverse {
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0px); }
}

.mblRevealv.mblOut {
	z-index: 0;
	-webkit-animation-duration: .4s;
	-webkit-animation-name: mblRevealVOut;
	-webkit-animation-timing-function: linear;
}
.mblRevealv.mblIn {
	z-index: -100;
	-webkit-animation-duration: .4s;
	-webkit-animation-name: mblRevealVIn;
	-webkit-animation-timing-function: linear;
}
.mblRevealv.mblOut.mblReverse {
	-webkit-animation-name: mblRevealVOutReverse;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes mblRevealVOut {
	from { -webkit-transform: translateY(0px); }
	to { -webkit-transform: translateY(-100%); }
}
@-webkit-keyframes mblRevealVIn {
	from {}
	to {}
}
@-webkit-keyframes mblRevealVOutReverse {
	from { -webkit-transform: translateY(0px); }
	to { -webkit-transform: translateY(100%); }
}

.mblSwirl.mblOut {
	z-index: 0;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: mblSwirlOut;
	-webkit-animation-timing-function: ease-in;
}
.mblSwirl.mblIn {
	z-index: -100;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: mblSwirlIn;
	-webkit-animation-timing-function: ease-in;
}
.mblSwirl.mblOut.mblReverse {
	-webkit-animation-name: mblSwirlOutReverse;
}
@-webkit-keyframes mblSwirlOut {
	from { -webkit-transform: rotate(0deg) scale(1.0); }
	to { -webkit-transform: rotate(-360deg) scale(0.0); }
}
@-webkit-keyframes mblSwirlOutReverse {
	from { -webkit-transform: rotate(0deg) scale(1.0); }
	to { -webkit-transform: rotate(360deg) scale(0.0); }
}
@-webkit-keyframes mblSwirlIn {
	from {}
	to {}
}

.mblScaleOut.mblOut {
	z-index: 0;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: mblScaleOutOut;
	-webkit-animation-timing-function: ease-in;
}
.dj_android .mblScaleOut.mblOut {
	-webkit-animation-name: mblScaleOutOutAndroid;
}
.mblScaleOut.mblIn {
	z-index: -100;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: mblScaleOutIn;
	-webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes mblScaleOutOut {
	from {
		-webkit-transform: scale(1.0);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.0);
		opacity: 0;
	}
}
@-webkit-keyframes mblScaleOutOutAndroid {
	from {
		-webkit-transform: scale(1.0);
	}
	to {
		-webkit-transform: scale(0.0);
	}
}
@-webkit-keyframes mblScaleOutIn {
	from {}
	to {}
}

.mblScaleIn.mblOut {
	z-index: -100;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: mblScaleInOut;
	-webkit-animation-timing-function: ease-out;
}
.mblScaleIn.mblIn {
	z-index: 0;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: mblScaleInIn;
	-webkit-animation-timing-function: ease-out;
}
.dj_android .mblScaleIn.mblIn {
	-webkit-animation-name: mblScaleInInAndroid;
}
@-webkit-keyframes mblScaleInOut {
	from {}
	to {}
}
@-webkit-keyframes mblScaleInIn {
	from {
		-webkit-transform: scale(0.0);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1.0);
		opacity: 1;
	}
}
@-webkit-keyframes mblScaleInInAndroid {
	from {
		-webkit-transform: scale(0.0);
	}
	to {
		-webkit-transform: scale(1.0);
	}
}

.mblZoomOut.mblOut {
	z-index: 0;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: mblZoomOutOut;
	-webkit-animation-timing-function: ease-in;
}
.dj_android .mblZoomOut.mblOut {
	-webkit-animation-name: mblZoomOutOutAndroid;
}
.mblZoomOut.mblIn {
	z-index: -100;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: mblZoomOutIn;
	-webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes mblZoomOutOut {
	from {
		-webkit-transform: scale(1.0);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.0);
		opacity: 0;
	}
}
@-webkit-keyframes mblZoomOutOutAndroid {
	from {
		-webkit-transform: scale(1.0);
	}
	to {
		-webkit-transform: scale(0.0);
	}
}
@-webkit-keyframes mblZoomOutIn {
	from {}
	to {}
}

.mblZoomIn.mblOut {
	z-index: -100;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: mblZoomInOut;
	-webkit-animation-timing-function: ease-out;
}
.mblZoomIn.mblIn {
	z-index: 0;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: mblZoomInIn;
	-webkit-animation-timing-function: ease-out;
}
.dj_android .mblZoomIn.mblIn {
	-webkit-animation-name: mblZoomInInAndroid;
}
@-webkit-keyframes mblZoomInOut {
	from {}
	to {}
}
@-webkit-keyframes mblZoomInIn {
	from {
		-webkit-transform: scale(0.0);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1.0);
		opacity: 1;
	}
}
@-webkit-keyframes mblZoomInInAndroid {
	from {
		-webkit-transform: scale(0.0);
	}
	to {
		-webkit-transform: scale(1.0);
	}
}

