/*


   Maqetta login CSS. Copied from orion/landing.css
   
*/

body {
	font: 14px/18px 'Lucida Sans Unicode', 'Lucida Grande', "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	background:#fafafa;
	min-height:400px;
	clear: both;
	overflow:hidden;
}

input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}

.orion-banner{
	margin: 0;
	border: 0;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#333));
	background: -moz-linear-gradient(top, #333 0%, #333 100%);
	height: 28px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: baseline;
	position:absolute;
	width:100%;
}

.orion-nav-bar{
	padding-top: 6px;
	padding-right: 5px;
}

.orion-logo{
	background: url('orion-transparent.png') no-repeat;
	float:left;
	height:14px;
	width:37px;
}

.orion-slogan{
	width:320px;
	float:right;
	text-transform:lowercase;
}

.orion-slogan-highlight{
	color:#ffc000;
	font-size:30px;
	font-weight: bold;
	line-height:26px;
}


.orion-slogan-lowlight{
	font-size:35px;
	font-weight: normal;
	line-height:35px;
	color:#222;

}

.orion-welcome-area {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 520px;
	height: 331px;
	opacity: 0.8;
	background: url('welcome.jpg');
	/* background-position: -0px -201px; width: 520px; height: 330px; */
/*	border-radius: 5px; */
	/* box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 125px rgba(255,255,255,.35); */
}

.orion-welcome-area-text {
	font-size:12px;
	position: absolute;
	background: white;
	opacity:0.8;
	height:108px;
	width:480px;
	top:180px;
	padding:20px;
}

.orion-welcome-area-text-content {
	background: white;
	font-size:12px;
	opacity:1;
	width:100%;
	width:480px;
	color:black;
	font-weight:bold;
}


.orion-landing-area {
	position: absolute;
	top: 10%;
	min-height:400px;
}

.orion-login, .orion-register, .orion-open, .orion-signup, .orion-error{
	border-radius: 4px;
	border: solid 1px #CCC;
}

.orion-register {
	position: absolute;
	top: 207px;
	left: 536px;
	width: 300px;
	height: 101px;
}

.orion-login {
	position: absolute;
	top: 0;
	left: 536px;
	width: 300px;
	height: 150px;
}

.orion-signup{
	position: absolute;
	top: 0;
	left: 536px;
	width: 300px;
	height: 222px;
}

.orion-login, .orion-register, .orion-open {
	background: white;
	/* box-shadow: 0 1px 0 rgba(0,0,0,.1); */
	padding:10px;
}

.orion-login-header	{
	font-weight: bold;
	font-size:15px;
	padding-bottom: 10px;
	margin-bottom:5px;
	border-bottom: solid 1px #EEE;
	color:#666;
}

.orion-open-header	{
	font-weight: bold;
	font-size:15px;
	padding-bottom: 10px;
	margin-bottom:5px;
	color:#666;
	vertical-align: 8px;
	padding-right: 20px;
	float:left;
}

.orion-register-header	{
	font-weight: bold;
	font-size:15px;
	float:left;
	margin-bottom:5px;
	color:#666;
	vertical-align: 8px;
	padding-right: 20px;
	padding-bottom: 10px;
	display:inline;
	/* border-bottom: solid 1px #EEE; */
}

.orion-text-input {
	display: inline-block;
	width: 100%;
	padding: 4px;
	margin: 0;
	margin-top:5px;
	outline: none;
	background-color: white;
	border: none;
	border-radius: 3px;	
	font-family: Verdana, Arial, Helvetica, Myriad, Tahoma, clean, sans-serif;
	font-size: 14px;
	color:#999;
}

.orion-input-holder {
	padding-bottom: 5px;
	margin-bottom: 7px;
	border-bottom: dashed 1px #DDD;
}


.orion-register-input-holder {
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: dashed 1px #DDD;
}

.orion-login-button-holder {
	padding-top:1px;
	float:right;
}

.orion-login-forgot-holder {
	padding-top:10px;
	padding-left:5px;
	float:left;
}

.orion-login-button {
	background:#ffc000;
	border-radius:4px;
	height:30px;
	width:80px;
	border: solid 1px #CCC;
	color:#666;
	font-size:12px;
	font-weight:bold;
	margin-left: 5px;
}

.orion-login-button:hover{
	background:white;
	color:#ffc000;
}

[if FireFox].orion-login-button {
	background:#ffc000;
	border-radius:4px;
	height:30px;
	width:80px;
	border: solid 1px #CCC;
	color:pink;
	font-size:12px;
	font-weight:bold;
}

.orion-register-button {
	background:#666;
	border-radius:4px;
	height:30px;
	width:80px;
	border: solid 1px #CCC;
	color:white;
	font-size:12px;
	font-weight:bold;
	margin-left: 5px;
}

.orion-register-button:hover{
	background:white;
	color:#666;
}

.orion-cancel-button {
	background:white;
	border-radius:4px;
	height:30px;
	width:80px;
	border: solid 1px #CCC;
	color:#666;
	font-size:12px;
	font-weight:bold;
}

.orion-cancel-button:hover{
	background:#666;
	color:white;
}

.orion-or-div {
	margin:17px;
	top:10px;
	height:30px;
	vertical-align:middle;
	display:inline;
	line-height:33px;
}

.orion-forgot-password{
	font-size: 9pt;
	color:#999;
	margin-top:15px;
}

.orion-open {
	position: absolute;
	top: 256px;
	left: 536px;
	width: 300px;
	height: 47px;
	padding-top: 15px;
}

.orion-register {
	position: absolute;
	top: 187px;
	left: 536px;
	width: 300px;
	height: 35px;
}

.orion-open-images{
	padding-top:5px;
	display:inline;
}

.orion-error{
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	width: 852px;
	margin-right:0;
	position: absolute;
	top: 345px;
	padding:5px;
	padding-right:0;
}

a.loginwindow {
	font-style: italic;
	text-decoration: none;
	font-weight: normal;
	color: #316AC5;
}

.open-accounts {
	top: 182px;
	left: 536px;
	position: absolute;
	font-weight: bold;
	padding-top: 55px;
	margin-right: 5px;
	width: 320px;
	display: inline-block;
	height: 90px;
	vertical-align: middle;
	border-radius: 4px;
	border: solid 1px #CCC;
	background: white;
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.yahooIcon{
	background: url('combined.jpg');
	background-position: -0px -0px; 
	width: 40px; 
	height: 41px;
	float:left;
	padding-right:5px;
	opacity:0.5;
}

.yahooIcon:hover{
	opacity:0.6;
}

.openIdIcon{
	background: url('combined.jpg');
	background-position: -0px -51px; 
	width: 40px; 
	height: 40px;
	float:left;
	padding-right:5px;
	opacity:0.5;
}

.openIdIcon:hover{
	opacity:0.6;
}

.googleIcon{
	background: url('combined.jpg');
	background-position: -0px -101px; 
	width: 40px; 
	height: 40px;
	float:left;
	padding-right:5px;
	opacity:0.5;
}

.googleIcon:hover{
	opacity:0.6;
}

.aolIcon{
	background: url('combined.jpg');
	background-position: -0px -151px; 
	width: 40px; 
	height: 40px;
	float:left;
	padding-right:5px;
	opacity:0.5;
}

.aolIcon:hover{
	opacity:0.6;
}