@media print {
	.noprint, .prevnext {
		display:none;
	}
	body {
		font-size:80%;
	}
}

body.maqettadocs {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:.75em;
}

#content {
	/* #content is only in screen view. Make it a little bigger */
	font-size:1.1em;
}

div#pagebody {padding: 0 1.5em 0 1em;}

table.breadcrumbs {
	width:100%;
	margin-top:0;
	margin-bottom:2em;
}
.prevnext {
	text-align:right;
	padding-right:1em;
}

/* #pagebody is needed to override dojo claro styles (see index.html) */

#pagebody h1, #pagebody h2 {border-bottom: 1px solid #dadada;}
#pagebody h1 {
	color:#666666;
	font-family:"Lucida Grande",Verdana,Tahoma,Arial,sans-serif;
	font-size:1.7em;
	font-weight:bold;
	margin-bottom:2em;
	margin-top:0;
	padding-bottom:2px;
}
#pagebody h2, #pagebody h3 {
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-weight: normal;
	color: #333;
	margin-top:2em; 
}
#pagebody h2 {font-size: 1.5em;}
#pagebody h3 {
	font-size: 1.3em;
	margin-bottom:0;
}
#pagebody p, #pagebody dd, #pagebody ul, #pagebody ol {
	font-size:1em;
	line-height:1.3em;
}
#pagebody dt.text {
	padding-top: 1em;
}
.menu li {
	list-style-type:none;
	list-style-type:square;
	font-size:1em;
}
#pagebody ul li {list-style-type:square;}
#pagebody li ol li {list-style-type:decimal;}
#pagebody li ol li ul li {list-style-type:square;}
#pagebody li li {margin-left:-1em;}

li.topgap {padding-top:1.2em;}
#pagebody strong {font-size:.97em;}
#pagebody b {font-size:.97em;}

#pagebody code { 
	font-family: "Courier New", Courier, monospace; 
	color: #000;
  	background: #F0F0F0;
	border:1px dotted #999;
}
#pagebody pre {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height: 1.5em;
	background-color: #E5EECC;
	/*background-color:#E6F0FA;*/
	display:block;
	width:58em;
	margin:1.3em 0 1.8em -2em;
	padding: 5px 5px 5px 15px;
	/*border:1px dotted #999;*/
	-moz-box-shadow: 10px 10px 5px #888;
}
#pagebody a, #pagebody a:link {
	color:#105cb6;
	text-decoration:none;
}
#pagebody a:hover {
    color:#05386b;
	text-decoration:underline;
}
#pagebody a.external, #pagebody a.external:link {
	background:url("img/external.png") no-repeat scroll right center transparent;
	padding-right:13px;
}
#pagebody a.external:hover {
    color:#05386b;
	text-decoration:underline;
}
#pagebody img {margin:10px 10px 20px 10px;}
#pagebody img.inline {margin:0px;}

p.comment {
	padding-left: 1.5em;
	padding-right: 2em;
}
.note {
	display:block;
	border:1px dotted #999;
	background-color: #eee;
	/*margin:10px 0 15px; */
	margin:2em 0; 
	padding:5px 5px 5px 15px;
	width:45em;
	line-height:normal;
	-moz-box-shadow: 10px 10px 5px #888;
}
.callout {  
	display:block;
	border:1px dotted #999;
	background-color: #eee;
	/* margin:3em 0 4em; */
	margin:2em 0; 
	padding: 5px 5px 5px 15px;
	width:45em;
	font-size:.85em;
	-moz-box-shadow: 10px 10px 5px #888;
}
div.left-side {
	float:left;	
	margin-top:20px;
}
div.video {margin: 30px 0 0 170px;}

.image div {
	font-size:90%;
	font-style:italic;
}

.important_note {font-style:italic;}
.important_note em {text-decoration:underline;}
.TODO {color: red;}

div.left-col {
	float:left;
	width:200px;
	padding-right:40px;
}
div.right-col {
	float:left;
	width:200px;
}
.section {background-color: #FFD74E;}
.subsection {font-weight:bold;}
#resource_div {font-size: 110%;}
#pagebody table.resources {border-collapse:collapse;}
#pagebody table.resources, #pagebody table.resources th, #pagebody table.resources td {border:1px solid gray;}
#pagebody table.resources th {
	background:#ddd;
	padding:5px 0;
}
#pagebody table.resources td {
	padding:0 15px;
	vertical-align:top;
}
#pagebody table.resources dt {
	padding-top:1em;
	padding-bottom:0;
}
#pagebody table.resources dl > dt:first-child {
	padding-top:0;
}
#pagebody table.resources dd {
	padding-left:0;
	margin-left:0;
}
#pagebody table.resources dd ul {
	margin-top:0.4em;
	padding-left:2em;
}
#pagebody #layout-tools dt {
	font-weight:bold;
	font-size:.9em;
}
#pagebody table.palette {
	margin:1em;
	border-collapse:collapse;
	max-width:75%;
}
#pagebody table.palette th, #pagebody table.palette td { 
	padding:.4em .5em; 
	border: 1px #ccc solid; 
}
#pagebody table.palette thead {
	background-color:#eee;
	color:#000;
}
#pagebody table.palette th {text-align:left;}
#pagebody table.palette thead th {text-align:center;}
#pagebody table.palette td {vertical-align:top;}
#pagebody table.palette td.icon, #pagebody table.palette td.icon img {
	padding:1px;
	margin:0;
	text-align:center;
}
#pagebody table.toolbar td {vertical-align:middle;}
#testcolor {
	color: #AEB8C0;
}

#pagebody .inline-editor {
	width:15em;
	margin:10px;
	padding:2px;
	border:3px solid #769DC0;
	font-family:'Courier New';	
}
#pagebody .code_block_tight_spacing {
	line-height:1.1;
}
#pagebody .modifierkey {
	font-style:italic;
}
#pagebody .unmodifiedkey {
	font-weight:bold;
	padding-left:2em;
	padding-right:2em;
}
#TOCContentPane {
	width:225px;
	padding:0px;
}
#TOCTree {
	padding:22px 12px 6px;
}
#TOCTree .dijitTreeRow, #TOCTree .dijitTreeNode .dojoDndItemBefore, #TOCTree .dijitTreeNode .dojoDndItemAfter {
	padding: 6px 0 4px 0;
}
.cheatsheet_iframe_container {
	 position:absolute; 
	 left:0px; 
	 top:54px; 
	 right:20px; 
	 bottom:20px;
}
.cheatsheet_body {
	overflow:hidden;
}
.cheatsheet_table {
	width:100%;
}
.cheatsheet_table td {
	vertical-align:top;
}
.cheatsheetcontent_td {
	overflow:hidden;
}
/* Disabling zoom/pan features, might restore later
.cheatsheet_slider {
	position:fixed;
	left: 15px;
	top: 10px;
}
*/
#cheatsheet_loading {
	position:fixed;
	width:100%;
	left:120px;
	top:120px;
	font-size:24px;
	overflow:hidden;
}
#cheatsheet_content_container {
	position:fixed;
	overflow:hidden;
/* Disabling zoom/pan features, might restore later
	left:40px;
*/
	left:22px;
	top:0px;
/* Disabling zoom/pan features, might restore later
	bottom:10px;
*/
	bottom:0px;
	right:10px;
}
#cheatsheetcontent {
	position:absolute;
/* Disabling zoom/pan features, might restore later
	cursor:pointer;
	width: 100%;
	height:100%;
*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border: 3px solid rgba(0, 0, 0, .4);
}
#cheatsheetcontent_iframe {
	border:none;
	width:100%;
	height:100%;
}
.cheatsheetDragDiv {
	cursor:pointer;
	position:absolute;
	z-index:1000;
}
.cheatsheet_iframe_body {
	margin:0;
	body:0;
}
.claro.maqettadocs.cheatsheet_iframe_body .dijitDropDownButton {
	opacity:.75;
}
.claro.maqettadocs.cheatsheet_iframe_body .dijitDropDownButton:hover {
	opacity:1;
}
.claro.maqettadocs.cheatsheet_iframe_body .dijitButton .dijitButtonNode,
.claro.maqettadocs.cheatsheet_iframe_body .dijitDropDownButton .dijitButtonNode,
.claro.maqettadocs.cheatsheet_iframe_body .dijitComboButton .dijitButtonNode,
.claro.maqettadocs.cheatsheet_iframe_body .dijitToggleButton .dijitButtonNode {
	padding:0;
	/*background-color:#BCD8F4;*/
	/*background-color:#BCF4D8;*/
	/*border-color:#759DF0;*/
	background-color:#F4BCD8;
	border-color:#F080A0;
}
.cheatsheet_table {
	border-collapse:collapse;
	border:none;
}
.cheatsheet_table td, .cheatsheet_table th {
	border:none;
}
.cheatsheet_table_desc_td {
	font-size:12px;
}
.cheatsheet_table_desc_td_left {
	padding-right:16px;
}
.cheatsheet_table_desc_td_right {
	padding-left:16px;
}
.cheatsheet_table_desc_small {
	width:200px;
}
.cheatsheet_table_desc_medium {
	width:350px;
}
.cheatsheet_table_desc_large {
	width:500px;
}
.cheatsheet_desc_list {
	margin-top:0;
	margin-bottom:0;
	padding-top:3px;
	padding-bottom:0;
	padding-left:15px;
}
#pagebody img.exact_size_inline_icon {
	margin:0;
	vertical-align:middle;
	line-height:1px;
	width:auto;
	height:auto;
}
#pagebody .overview_snapshots_outer {
	margin-top:20px;
	margin-bottom:20px;
}
#pagebody .overview_snapshots_inner {
	display:inline-block; 
	width:450px;
	margin-bottom:20px;
	margin-right:10px;
}
#pagebody .overview_snapshots_caption {
	margin-top:5px;
	margin-bottom:5px;
}
#pagebody .overview_snapshots_inner img {
	display:inline-block; 
	width:450px;
	margin:0;
 }
 #pagebody .indented_note {
 	padding-left:6em;
 }
 #pagebody .overview_snapshots_inner img.maqetta_org_img {
 	width:400px;
 }
 #pagebody .overview_snapshots_inner img.login_register_img {
 	width:250px;
 }
#pagebody .overview_snapshots_inner img.main_button {
	width:auto;
}
#pagebody img.main_button_20 {
	width:20px;
	vertical-align:middle;
}
#pagebody .overview_snapshots_inner img.main_menu {
	width:auto;
	border:1px solid gray;
	padding:1px;	
}
#pagebody .side_by_side {
	height:300px;
	margin:0;
}
#pagebody .tutorial_checkmark {
	font-size:150%;
	color:darkorange;
	line-height:1px;
}
#pagebody .tutorial_step_div {
	margin-top:10px;
	margin-bottom:10px;
}
#pagebody li.multipara_bullet {
	padding-bottom:6px;
}
#pagebody li.multipara_bullet div {
	margin-bottom:3px;
}
