/* Header */
.claro .gridxRtl .gridxHeaderRow .gridxCell {
	border-color: transparent #FFFFFF transparent #BCBCBC ;
}

.claro .gridxRtl .gridxHeaderRowInner {
	background-position: left;
	border-right: none;
	border-left: 1px solid #FFFFFF;
}

/* Body */
.claro .gridxRtl .gridxBody .gridxCell{
	border-color: transparent transparent #E5DAC8 #E5DAC8;
}
