.dijitRtl .nihilo .dijitComboBox .dijitButtonNode,
.dijitRtl .nihilo .dijitSpinner .dijitButtonNode {
	/* line between the input area and the drop down button */
	border-color: #8ba0bd;
	border-left: 0px solid #8ba0bd;
	border-right: 1px solid #8ba0bd;
}