
.dj_tablet .mblHeading {
	background-image: url(compat/ipad-heading-bg.png);
}
.dj_tablet .mblArrowButtonHead {
	background-image: url(compat/ipad-arrow-button-head.png);
}
.dj_tablet .mblArrowButtonBody, .dj_tablet .mblArrowButtonNeck {
	background-image: url(compat/ipad-arrow-button-bg.png);
}
