
.mblDomButtonGrayArrow, .mblDomButtonArrow {
	background-image: url(../common/domButtons/compat/mblDomButtonGrayArrow.png);
	background-repeat: no-repeat;
}
.mblDomButtonGrayArrow DIV, .mblDomButtonArrow DIV {
	display: none;
}
.mblDomButtonDarkBlueCheck, .mblDomButtonCheck {
	background-image: url(../common/domButtons/compat/mblDomButtonDarkBlueCheck.png);
	background-repeat: no-repeat;
}
.mblDomButtonDarkBlueCheck DIV, .mblDomButtonCheck DIV {
	display: none;
}
*html li.mblListItem.mblVariableHeight { 
	height: 0;
}
