@import url("../common/domButtons/DomButtonGrayArrow.css");

@import url("../common/domButtons/DomButtonDarkBlueCheck.css");
/* dojox.mobile.ListItem */
.mblListItem {
  position: relative;
  list-style-type: none;
  vertical-align: bottom;
  /* To avoid IE6 LI bug */

  padding: 0px 0px 0px 8px;
  height: 43px;
  border-bottom: 1px solid #ADAAAD;
  font-weight: bold;
  color: black;
  line-height: 43px;
}
.mblListItem.mblVariableHeight {
  height: auto;
  padding: 11px 6px 10px 6px;
  line-height: normal;
}
.mblListItem a.mblListItemAnchor {
  display: block;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-position: 9px 7px;
  padding-left: 40px;
  text-decoration: none;
}
.mblListItem a.mblListItemAnchorNoIcon {
  padding-left: 10px;
}
.mblListItem a.mblListItemAnchorHasRightButton {
  padding-right: 40px;
}
.mblListItem .mblLeftButton {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  line-height: normal;
}
.mblListItem .mblRightButton {
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -15px;
  line-height: normal;
}
.mblListItem .mblRightButton2 {
  right: 36px;
}
.mblListItemIcon {
  position: absolute;
  top: 7px;
}
.mblItemSelected {
  background-color: #048BF4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#048bf4), to(#005ce5));
}
.mblItemSelected a.mblListItemAnchor {
  color: white;
}
.mblItemSelected .mblDomButton DIV {
  border-color: white;
}
.mblListItemTextBox {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 28px;
}
.mblListItemTextBox2 {
  padding-right: 58px;
}
.mblListItemTextBoxSelected {
  background-color: #048BF4;
}
.mblVariableHeight .mblListItemTextBox {
  white-space: normal;
}
.mblRightText {
  position: absolute;
  top: 12px;
  right: 30px;
  color: #324F85;
  line-height: normal;
}
.mblItemChecked {
  color: #314E84;
}
