.treeInputDialog {
	padding:0px;
}

.treeInput {
	width:800px;
	height:475px;
	padding:0px;
}

.treeInput .previewPanelBorderContainer {
	width: 100%;
	height:100%;
}

.treeInput .previewPanelCenterContentPane {
	overflow:hidden;
}

.treeInput .previewPanelSectionLabelContainer {
	padding:0px;
	height: 14px;
	white-space: nowrap;
	background-color:#d8d8d8;
	min-width:300px;
}

.treeInput .previewPanelPreviewNote {
	font-style: italic;
	margin-left:10px;
}

.treeInput .previewPanelPreviewPaneCenter {
	margin-top: 8px;
	padding:0px; 
	overflow:hidden;
	border: 1px solid grey;
}

.treeInput .previewPanelGridPreviewDiv {
	margin:0px;
	overflow:visible;
}

.treeInput .previewPanelGridContentPane {
	padding: 4px;
	margin:0px;
	overflow: visible;
}

.treeInput .previewPanelTrailingContentPane {
	width: 175px;
	overflow:hidden;
}

.treeInput .previewPanelColumnPropsPaneCenter {
	margin-top: 8px;
	padding:0px; 
	overflow:hidden;
}

.treeInput .previewPanelColumnPropsDiv {
	border: 1px solid grey;
	height:70%;
	overflow:auto;
	padding: 5px;
}

.treeInput .previewPanelColumnPropsTable {
	width:100%;
}

.treeInput .previewPanelColumnInputField {
	width:100%;
	min-width:75px;
}

.treeInput .previewPanelResetButtonContainer {
	margin-top:20px;
	text-align: center;
	width:100%;
	height:100%;
}

.treeInput .previewPanelResetButton {
	display:inline-block;
}

