.toolbaredContainer_toolbarDiv #davinciReviewToolbar .dijitIcon,
.toolbaredContainer_toolbarDiv .davinciCommentExplorer .dijitIcon,
#davinciReviewToolbar .dijitMenuPopup .dijitIcon{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
}

.davinciReviewToolbarAdd{
  background-position: 0 0; 
  width: 16px;
  height: 16px;
}

.dijitButtonDisabled .davinciReviewToolbarAdd{
  background-position: 0 -66px; 
  width: 16px;
  height: 16px;
}

/*.davinciReviewToolbarReply,
.replyButtonIcon{
	background-image: url("img/reply.gif") !important;
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}

.dijitButtonDisabled .davinciReviewToolbarReply{
	background-image: url("img/reply_disable.gif") !important;
}*/

.davinciReviewToolbarReviewers{
  background-position: 0 -1131px; 
  width: 16px;
  height: 16px;
}

.dijitDropDownButtonDisabled .davinciReviewToolbarReviewers{
  background-position: 0 -1197px; 
  width: 16px;
  height: 16px;
}

.davinciReviewToolbarReviewersColor{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -404px; 
	height: 14px;
	width: 14px;
	margin:0 5px 0 0;
	float: left;
}

/*.editButtonIcon {
	background-image: url("img/edit_comment.gif") !important;
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}*/

/*.collapseViewActive {
	background-image: url("img/collapse_active.gif") !important;
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}
.collapseView.deactive {
	background:url("img/collapse_deactive.gif") no-repeat;
}*/

/*.expandViewActive {
	background-image: url("img/expand_active.gif") !important;
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;publishWizard
	width: 18px;
}
.expandView.deactive {
	background:url("img/expand_deactive.gif") no-repeat;
}*/

.dialogContent .dijitTextBox {
	width: 100%;
}

.dialogContent #dijit_form_TextBox_0 {
	color: black;
}

.davinciReview {
	margin: 2px 0 1px 0;
	padding: 2px;
	border-top: 1px solid #a0a0a0;
}
.davinciReview .wrapper {
	background-color: white;
	/*padding:1px;*/
}
.davinciReview .wrapper * {
	background-color: white;
	margin: 0;
	padding: 0;
}
.focused .wrapper {
	border: 2px solid #F1CB82;	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.davinciReview .subject {
	font-weight: bold;
	margin-bottom: 3px;
	padding: 1px 3px;
	color: blue;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.davinciReview .mark{
	float: right;
	height:16px;
	width:16px;
	/*background: url("img/reopen-disable.gif");*/
}
/*.davinciReview .mark.enable{
	background: url("img/reopen-enable.gif");
}*/

.davinciReview .summary {
	float: left;
	position: relative;
}

.davinciReview .content {
	padding: 3px 6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.davinciReview.isReply {
	border-top: 1px solid #eee;
}

.davinciReview .authorTime {
	padding: 3px 6px;
}

.davinciReview .details {
	overflow: auto;
	padding: 1em 0;
}

.davinciReview .action {
	height: 15px;
}

.repliesCount {
	/*font-style: italic;*/
	margin-top:1px;
	padding:2px 0 2px 0;
	cursor: pointer;
	/*background:url("img/view_menu.gif") no-repeat 3px 1px #B4D5FC;*/
}
.repliesCount img {
	vertical-align: middle;
	margin-right: 3px;
}
.repliesCount a {
	text-decoration:none;
}
.davinciReview .replyButton {
	float: right;
}

.davinciReview .ownerName {
	color: blue;
	font-weight: bold;
	margin-right: 3px;
}

.davinciReview .created {
}

.davinciReviewDialog {
	/*border-bottom: #ccc solid 1px;*/
}

.davinciReviewDialog h1 {
	background-color: #B4D5FC;
	padding: 4px 4px 4px 6px;
	font-size: 1.4em;
	font-weight: bold;
	margin: 0px;
}

.davinciReviewDialog .dialogContent {
	background-color: #FFF;
	/*padding-bottom: 1em;*/
}

.davinciReviewDialog .dialogContent table {
	width: 100%
}
.greyLabel .dijitDropDownButton {
	margin: 0px;
}
.davinciReviewDialog .dialogFooter {
	/* background-color: #E2EBF1; */
}

.dialogFooter {
	text-align: right;
	padding-bottom: 1em;
	border-bottom: 1px solid #A0A0A0;
}
	
.isReply {
	padding-left: 10px;
}
.davinciReply {
	border:none;
}
.isReply .wrapper, .davinciReply .dialogContent{
	/*background-color: #DDD;*/
}
.isReply .subject, .davinciReply h1 {
	display:none;
}
.isReply .repliesCount {
	/*background-color: #ddd;*/
}
.firstReply {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -468px;
}
.davinciLink {
	color: #105CB6;
	text-decoration: none;
	cursor: pointer;
}
.davinciReviewShow {
	display: block;	
}
.davinciReviewHide {
	display: none;
}

.greyLabel {
	color: #A0A0A0;
	font: x-small arial;
}

.emptyIcon {
	background: no-repeat url("../../../dojo/resources/blank.gif");
	display: none;
}

.davinciReviewTheme .dijitButtonText {
	color: blue;
}

.davinciReviewTheme .dijitButton .dijitButtonNode,
.davinciReviewTheme .dijitDropDownButton .dijitButtonNode,
.davinciReviewTheme .dijitComboButton .dijitButtonNode,
.davinciReviewTheme .dijitToggleButton .dijitButtonNode{
	background-color: white;
	background-image: url("");
	-moz-box-shadow: white 0px 0px;		/* For Firefox, clear the shadow */
	-webkit-box-shadow: white 0px 0px;	/* For Chrome, clear the shadow*/
	-moz-border-radius: 0px;
	border: 0px;
}

.reviewOwnedByUserLabel {
  font-weight: bold;
  vertical-align: middle;
}

.reviewOwnedByOtherLabel {
  font-style: italic;
  vertical-align: middle;
}

.reviewFileIcon {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -85px 0;;
}

.disabledReviewFileIcon {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -85px -66px;
}

.reviewFolder-open-disabled {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -1744px;
}

.reviewFolder-open {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -1546px;
  width: 16px; height: 16px;
}

.reviewFolder-closed-disabled{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -1678px;
  width: 16px;
  height: 16px;
}

.reviewFolder-closed{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -1612px;
  width: 16px;
  height: 16px;
}

.draft-open{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -793px;
  width: 16px;
  height: 16px;
}

.editVersionIcon{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -859px;
  width: 16px;
  height: 16px;
}

.dijitButtonDisabled .editVersionIcon{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -925px;
  width: 16px;
  height: 16px;
}

.closeVersionIcon{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
	background-position: 0 -272px;
	width: 16px;
	height: 16px;
}
.dijitButtonDisabled .closeVersionIcon{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -338px;
  width: 16px;
  height: 16px;
}

.openVersionIcon{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -1329px;
  width: 16px;
  height: 16px; 
}

.dijitButtonDisabled .openVersionIcon{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -1395px;
  width: 16px;
  height: 16px; 
}

.deleteVersionIcon{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -591px;
  width: 16px;
  height: 16px;
}

.dijitButtonDisabled .deleteVersionIcon{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -657px;
  width: 16px;
  height: 16px;
}

.todo{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -85px -866px;
  width: 20px;
  height: 20px;
  float: left;
}

.done{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -723px;
  width: 20px;
  height: 20px;
  float: left;
}

.crumbs{
	margin-right:8px;
	width:185px;
	color:#005CE5;
	cursor:pointer;
	float:left;
	height:20px;
	line-height:20px;
	display:inline;
}
.current{
	color:black;
	font-weight: bold;
}
.sep{
	border-right: 1px solid silver;
}

.reviewMsg{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
	margin:7px 0 0 0;
	color:red;
	float:left;
	background-position: -85px -800px;
	width: 16px; 
	height: 16px; 
	padding-left:18px;
	white-space: nowrap;
}

.dijitTreeRowHover .deleteImg,
.dijitTreeRowActive .deleteImg{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -525px;
	margin-right: 20px;
	width:14px;
	height:14px;
}

.delImg{
	margin-left: 25px;
	display: none;
}
.dojoxGridRowOver .delImg{
	display: block;
}

.deleteImg{
	background: url("../../../dojo/resources/blank.gif") no-repeat;
	width:25px;
	height:14px;
	cursor: pointer;
	float:right;
	display: inline;
}

.reviewTooltipRight .dijitTooltipConnector {
    left: 0px;
    top: 3px;
    background-position:-48px 0%;
    width:16px;
    height:14px;
}

.detail_title {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -85px 0;
  height: 16px;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
	font-size: 18px;
	font-weight: bold;
	color: #4b7c9c;
}

.detail_role {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -85px -936px;
  width: 16px;
  height: 16px;
	margin: 0 20px 0 10px;
	padding: 0 0 0 16px;
}

.detail_file {
	display: inline-block;
	margin: 0 0 0 2px;
	vertical-align: middle;
}

.notClosed{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -85px -800px;
  width: 16px;
  height: 16px;
  color: green !important;
	margin: 0 0 0 10px;
	padding: 0 0 0 16px;
}

.closed{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -85px -800px;
  width: 16px;
  height: 16px;
  color: red;
	margin: 0 0 0 10px;
	padding: 0 0 0 16px;
}

.detail_creator {
	color: #4b7c9c;
	margin: 0 0 0 10px;
}

.detail_creationDate {
	color: #4b7c9c;
	margin: 0 0 0 10px;
}

.detail_div {
	margin: 10px 0 10px 0;
}

.davinciAnnotationIcon{
	background-position: center center;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
}


.davinciAnnotationIconArrow{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -132px;
  width: 20px;
  height: 20px;
}
.dijitButtonDisabled .davinciAnnotationIconArrow{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -202px;
  width: 20px;
  height: 20px;
}

.davinciAnnotationIconRect{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -1810px;
  width: 20px;
  height: 20px;
}
.dijitButtonDisabled .davinciAnnotationIconRect{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -1880px;
  width: 20px;
  height: 20px;
}

.davinciAnnotationIconEllipse{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -991px;
  width: 20px;
  height: 20px;
}
.dijitButtonDisabled .davinciAnnotationIconEllipse{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -1061px;
  width: 20px;
  height: 20px;
}

.davinciAnnotationIconText{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -85px -660px;
  width: 20px;
  height: 20px;
}
.dijitButtonDisabled .davinciAnnotationIconText{
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -85px -730px;
  width: 20px;
  height: 20px;
}
.davinciAnnotationIconDelete{
  background-image: url("img/sprite.png");
  background-position: 0 -525px;
}
.dijitButtonDisabled .davinciAnnotationIconDelete{
  opacity: 0.5;
}

.davinciComment{
	border-top: 1px solid black;
}

.davinciComment2 {
	border-top: none; 
	margin-top: 2px; 
	padding-bottom: 2px;
}

.davinciComment .commentBody{
	background-color: white;
	padding:4px;
	border: 2px solid #FFFFFF;
}
.davinciComment .displayNone{
	display: none;
}
.davinciComment .commentSubject{
	margin: 2px 0px 2px 0px;
	color: blue;
	font-weight: bold;
}
.davinciComment .commentSubtitle{
	color: #A0A0A0;
	font: x-small arial;
}
.davinciComment .commentLinkButton{
	color: #105CB6;
	text-decoration: none;
	cursor: pointer;
}
.davinciComment .commentContent{
	overflow: auto;
	margin: 5px;
}
.davinciComment .commentFooter{
	width:100%;
	margin-bottom: 2px;
	color: #A0A0A0;
	font: x-small arial;
}
.davinciComment .commentReplyBar{
	font: x-small arial;
}
.davinciComment .valignImage{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.davinciComment .commentReplies{
	padding-left: 10px;
	margin-left: 8px;
}
.davinciComment .commentFocused{
	border: 2px solid #0000FF;
}
.davinciComment .commentBodyDisabled *{
	color: #A0A0A0;
}

.davinciComment .editReplyBlock {
	float: right;
}

.davinciComment .editReplySpace {
	display: inline-block; 
	width: 2px;
}

.davinciComment .contentNode {
	position:relative;
}

.davinciComment .submitCancelDiv {
	text-align: right;
}

.davinciComment .cancelLink {
	vertical-align: middle;
}

.davinciComment .commentTheme .dijitButtonText {
	color: #105CB6;
}

.davinciComment .commentBodyDisabled .commentTheme .dijitDownArrowButton,
.davinciComment .commentBodyDisabled .commentTheme .dijitButtonText{
	color: gray;
}

.davinciComment .commentTheme .dijitDownArrowButton,
.davinciComment .commentTheme .dijitButtonText{
	color:black;
}
.davinciComment .commentTheme .dijitButton .dijitButtonNode,
.davinciComment .commentTheme .dijitDropDownButton .dijitButtonNode,
.davinciComment .commentTheme .dijitComboButton .dijitButtonNode,
.davinciComment .commentTheme .dijitToggleButton .dijitButtonNode{
	background-color: white;
	background-image: url("");
	-moz-box-shadow: white 0px 0px;		/* For Firefox, clear the shadow */
	-webkit-box-shadow: white 0px 0px;	/* For Chrome, clear the shadow*/
	-moz-border-radius: 0px;
	border: 0px;
	padding: 0px;
}
.davinciComment #dijit_form_TextBox_0{
	color: black;
}

#davinci_review_title {
	font-weight: 900;
	font-size:larger;
	color:#EAEAEA;
	display: inline-block;
	float:left;
	padding: 10px 0 0 10px;
}

.publishWizard .steps {
	height:25px;
}

.publishWizard .mainSection {
	height:235px;
	width:600px;
}

.publishWizard .emailLabel {
	position:relative;
	left:4px;
	top:3px;
}

.publishWizard .sourceTree {
	width:245px;
	height:170px;
	border:1px solid #DBDBDB;
	overflow:auto;
}

.publishWizard .reviewers {
	height:30px;
}

.publishWizard .reviewerList {
	width:480px;
	height:160px;
}

.publishWizard .reviewerBox {
	width:220px;
}

.publishWizard .space {
	margin:10px 0 0 0;
}

.publishWizard .cancelButton {
	float:right;
	margin:7px 0px 0 5px; 
	text-decoration:none;
}

.publishWizard .bottomButton {
	float:right;
}

.mailFailureInfo {
	font-weight:bold;
}

.mailFailureExtraInfo {
	margin-top:10px;
	margin-bottom:10px;
}

.contentNoSelect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}	

.contentSelect {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}

.mailFailureContent {
	border:1px dashed;
	padding:3px;
	margin-bottom:10px;
	width: 600px;
	height: 200px;
	scroll: auto;
	white-space: pre-wrap;
}

.mailFailureButton {
	text-align:center;
}

.review-tips {
	color: silver;
	font-style: italic;
}

.claro .dijitTreeIcon{
	width: 16px;
	height: 16px;
}

