<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="maqetta.core.server.personManager">
         <personManager class="davinci.joomla.JoomlaPersonManager"/>
   </extension>
   <extension
         point="maqetta.core.server.welcomePage">
      <welcomePage
            path="WebContent/welcome.html" priority="3">
      </welcomePage>
   </extension>
   <extension
         point="maqetta.core.server.mailConfig">
      <mailConfig
            smtp.mailServer="localhost"
            smtp.notificationId="noreply@maqetta.org">
      </mailConfig>
   </extension>
   <extension
           point="maqetta.core.server.jsPlugin">
       <jsPlugin
               path="app/joomlaPlugin"
               resourcePath="WebContent/joomla" />
   </extension>
</plugin> 
