
.mblButton {
	background-image: url(compat/button-bg.png);
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.mblButtonSelected {
	background-image: url(compat/button-sel-bg.png);
}
.mblButtonDisabled {
	background-image: none;
}
.mblBlueButton {
	background-image: url(compat/blue-button-bg.png);
}
.mblBlueButtonSelected {
	background-image: url(compat/button-sel-bg.png);
}
.mblRedButton {
	background-image: url(compat/red-button-bg.png);
}
.mblRedButtonSelected {
	background-image: url(compat/button-sel-bg.png);
}
