
.mblHeading {
  position: relative;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
  padding: 0px 0px 0px 4px;
  height: 25px;
  background-color: #8C8A8C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9c9e9c), to(#848284));
  border-top: 1px solid #CDD5DF;
  border-bottom: 1px solid #2D3642;
  color: white;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 23px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
}
.mblHeading * {
  z-index: 2;
}
.mblHeadingDivTitle {
  position: absolute;
  width: 100%;
  display: none;
  left: 0px;
  z-index: 1;
}
.mblHeadingCenterTitle .mblHeadingDivTitle {
  display: block;
}
.mblHeadingCenterTitle .mblHeadingSpanTitle {
  display: none;
}
.mblArrowButton {
  position: relative;
  float: left;
  height: 25px;
  margin: 0px 10px 0px 6px;
}
.mblArrowButtonHead {
  position: absolute;
  top: 5px;
  left: 9px;
  width: 19px;
  height: 16px;
  border: 1px solid #3F3E3E;
  -webkit-transform: scale(0.8, 1) rotate(45deg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#7f7f7f), color-stop(0.5, #adadad), color-stop(0.5, #909090));
}
.mblArrowButtonBody {
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  top: 0px;
  left: 19px;
  padding: 0px 10px 0px 3px;
  height: 23px;
  border-width: 1px 1px 1px 0px;
  border-style: inset;
  border-color: #3F3E3E;
  font-family: Helvetica;
  font-size: 13px;
  color: white;
  line-height: 23px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #ADADAD;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#7f7f7f), color-stop(0.5, #adadad), color-stop(0.5, #909090));
}
.mblArrowButtonNeck {
  position: absolute;
  top: 0px;
  left: 19px;
  width: 4px;
  height: 23px;
  border-width: 1px 0px 1px 0px;
  border-style: inset;
  border-color: #3F3E3E;
  background-color: #ADADAD;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#7f7f7f), color-stop(0.5, #adadad), color-stop(0.5, #909090));
}
.mblArrowButtonSelected .mblArrowButtonHead {
  background-color: #FFC700;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ad7500), to(#ffaa00), color-stop(0.06, #ffb200), color-stop(0.5, #ffc700));
}
.mblArrowButtonSelected .mblArrowButtonBody, .mblArrowButtonSelected .mblArrowButtonNeck {
  background-color: #FFC700;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ad7500), to(#ffaa00), color-stop(0.06, #ffb200), color-stop(0.5, #ffc700));
}
