<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="dojoMetaData" point="org.eclipse.equinox.http.registry.resources">
	        <resource alias="/app/metadata/dojo/1.5" base-name="/WebContent/metadata" />
	        <resource alias="/app/static/lib/dojo/1.5" base-name="/WebContent/dojo"/>
	</extension>
	
	
	<extension point="maqetta.core.server.ajaxLibrary">
	    <ajaxLibrary name="dojo" id="dojo" version="1.5">
	        <libraryPath location="WebContent/dojo" name="/lib/dojo"></libraryPath>
	        <metadata location="app/metadata/dojo/1.5" />
	    </ajaxLibrary>
	
	    <ajaxLibrary name="dojo based themes" id="DojoThemes" version="1.5">
	         <libraryPath location="WebContent/maqetta/themes" name="/themes"></libraryPath>
	    </ajaxLibrary>
	</extension>

</plugin>
