<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Accordion Widget Demo</title>

	<!-- only needed for test files: -->
	<style type="text/css">
		@import "../../../dojo/resources/dojo.css";
		@import "../css/dijitTests.css";
	</style>

	<!-- required: the default dijit theme: -->
	<link id="themeStyles" rel="stylesheet" href="../../../dijit/themes/claro/claro.css">

	<!-- required: dojo.js -->
	<script type="text/javascript" src="../../../dojo/dojo.js"
		djConfig="isDebug: true, parseOnLoad: true"></script>

	<!-- only needed for alternate theme testing: -->
	<script type="text/javascript" src="../_testCommon.js"></script>

	<!-- uncomment for profiling
		<script type="text/javascript"
			src="../../../dojo/_base/html.js"></script>
		<script type="text/javascript"
			src="../../base/Layout.js"></script>
	-->

	<script type="text/javascript">
		dojo.require("dijit.dijit"); // optimize: load dijit layer
		dojo.require("dijit.layout.AccordionContainer");
		dojo.require("dijit.layout.ContentPane");
		dojo.require("dojo.parser");	// scan page for widgets and instantiate them
	</script>
	<script type="text/javascript">
		function createAccordion()
		{
			var html='<div dojoType="dijit.layout.AccordionContainer" id="Accordion">' +
				 	'<div dojoType="dijit.layout.ContentPane" title="first" id="first">first</div>' +
				 	'<div dojoType="dijit.layout.ContentPane" title="second" id="second">second</div>' +
					'</div>';
			accPane.set("content",html);
		}
	</script>
</head>
<body class="claro" style="padding: 50px;">

	<h1 class="testTitle">AccordionContainer Tests</h1>
	<div dojoType="dijit.layout.ContentPane" jsId="accPane">
	</div>
	Click the button twice - it will work correctly unless there was a problem destroying the accordion, in which case the second time
	the Accordion will not be created and you will see an error like <b>Tried to register widget with id==first_button but that id is already registered</b><br/>
	<button type="button" onclick="createAccordion()">create Accordion</button>

</body>
</html>
