<div class='downloadDialog'>	 
	<div class="dijitDialogPaneContentArea">
		<div style="margin-bottom: 20px">
		  ${fileName}: <input dojoType='dijit.form.ValidationTextBox' type="text" maxLength='${_fileNameMaxLength}' dojoAttachPoint="__fileName" value='workspace1.zip' data-dojo-props="regExp:'${_fileNameValidationRegExp}', required:true, invalidMessage:'${invalidDownloadFileName}'"></input>
		</div>
		
		<div dojoAttachPoint="_selectionDiv"></div>
		<div dojoAttachPoint="_tableDiv"></div>

		<div style="margin-top: 8px">
		  Select: <a href="javascript:;" data-dojo-attach-event="onclick: _selectAll">${selectAll}</a> / <a href="javascript:;" data-dojo-attach-event="onclick: _selectNone">${selectNone}</a>
		</div>

		<div style="margin-top: 20px">
			<input dojoType='dijit.form.CheckBox' type="text" dojoAttachPoint="__fullSource" data-dojo-props=""></input><span style='padding-left: 3px;'>${downloadFullSource}</span>
			<br>
			<input dojoType='dijit.form.CheckBox' type="text" dojoAttachPoint="__optimize" data-dojo-props=""></input><span style='padding-left: 3px;'>${optimizeOption}</span>
		</div>
  </div>
	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='${downloadButtonLabel}' class="maqPrimaryButton" type="submit"></button>
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick:cancelButton' label='${buttonCancel}' class="maqSecondaryButton"></button>
	</div>
</div>