<div class='downloadDialog'>	 
	<div class="dijitDialogPaneContentArea">
		<div style="margin-bottom: 20px">
		  ${fileName}: <input data-dojo-type='dijit/form/ValidationTextBox' type="text" maxLength='${_fileNameMaxLength}' data-dojo-attach-point="__fileName" value='${_projectName}.zip' data-dojo-props="regExp:'${_fileNameValidationRegExp}', required:true, invalidMessage:'${invalidDownloadFileName}'"></input>
		</div>
		
		<div data-dojo-attach-point="_selectionDiv"></div>
		<div data-dojo-attach-point="_tableDiv"></div>

		<div style="margin-top: 8px">
		  Select: <a href="javascript:;" data-dojo-attach-event="onclick: _selectAll">${selectAll}</a> / <a href="javascript:;" data-dojo-attach-event="onclick: _selectNone">${selectNone}</a>
		</div>

		<div style="margin-top: 20px">
			<input data-dojo-type='dijit/form/CheckBox' type="text" data-dojo-attach-point="__fullSource" data-dojo-props=""></input><span style='padding-left: 3px;'>${downloadFullSource}</span>
			<br>
			<input data-dojo-type='dijit/form/CheckBox' type="text" data-dojo-attach-point="__optimize" data-dojo-props=""></input><span style='padding-left: 3px;'>${optimizeOption}</span>
		</div>
  </div>
	<div class="dijitDialogPaneActionBar">
		<button data-dojo-type='dijit/form/Button' data-dojo-attach-point="_okButton" data-dojo-attach-event='onClick:okButton' label='${downloadButtonLabel}' class="maqPrimaryButton" type="submit"></button>
		<button data-dojo-type='dijit/form/Button' data-dojo-attach-event='onClick:cancelButton' label='${buttonCancel}' class="maqSecondaryButton"></button>
	</div>
</div>