<div>
	<div class="dijitDialogPaneContentArea">
		<table>
		<tr>
		<td class="NewProjectDialogLabel">${newProjectName}</td><td><input class='templateInput' data-dojo-type="dijit.form.ValidationTextBox" type='text' dojoAttachPoint="_projectName"></input></td><td><div dojoAttachPoint='_error4'></div></td>
		</tr>
		
		<td class="NewProjectDialogLabel">${newProjectEclipseSupport}</td><td><input class='templateInput' type='checkbox' dojoAttachPoint="_eclipseSupport"></input></td><td><div dojoAttachPoint='_error5'></div></td>
		</table>
	</div>

	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='${create}' class="maqPrimaryButton" type="submit" disabled></button>
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick:cancelButton' label='${buttonCancel}' class="maqSecondaryButton"></button>
	</div>
		
</div>