<div>
	<div class="dijitDialogPaneContentArea">
		<table class="NewProjectDialogTable">
		<tr>
			<td class="NewProjectDialogLabel">${newProjectName}</td>
			<td>
				<input class='templateInput' data-dojo-type="dijit.form.ValidationTextBox" type='text' dojoAttachPoint="_projectName"></input>
			</td>
			<td><div dojoAttachPoint='_error4'></div></td>
		</tr>
		<tr>
			<td class="NewProjectTemplateLabel">${newProjectTemplate}</td>
			<td>
				<select dojoType="dijit.form.Select" dojoAttachPoint="projectTemplates" dojoAttachEvent="onChange: _onChangeTemplate" style="width:100%;">
					<!-- Menu created dynamically -->
				</select>
			</div></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type='checkbox' dojoAttachPoint="_clondExistingProject"></input>
				<span class="NewProjectDialogLabel">${newProjectCloneExistingProject}</span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type='checkbox' dojoAttachPoint="_eclipseSupport"></input>
				<span class="NewProjectDialogLabel">${newProjectEclipseSupport}</span>
			</td>
		</tr>
		</table>
	</div>

	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='${create}' class="maqPrimaryButton" type="submit" disabled></button>
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick:cancelButton' label='${buttonCancel}' class="maqSecondaryButton"></button>
	</div>
		
</div>
