<div>
	<div class="dijitDialogPaneContentArea">
		<table>
		<tr>
		<td>${themeToClone}:</td><td> <div dojoType="davinci.ui.widgets.ThemeSelection" workspaceOnly="false" dojoAttachPoint = '_themeSelection'></div></td><td><div dojoAttachPoint='_error1'></div></td>
		</tr>
		<tr><td colspan='3'><hr></hr></td></tr>
		<!-- 
		<tr>
		<td>New Name:</td><td><input style='width:100%' type='select' dojoAttachPoint="_themeName"></input></td><td><div dojoAttachPoint='_error2'></div></td>
		</tr>
		<tr>
		<td>Version:</td><td><input style='width:100%' type='text' dojoAttachPoint="_version"></input></td><td><div dojoAttachPoint='_error3'></div></td>
		</tr>
		 -->
		<tr>
		<td>${newName}:</td><td><input class='templateInput' type='text' 
			dojoAttachPoint="_selector"
			dojoType="dijit.form.ValidationTextBox"
			required="true" 
			invalidMessage='${invalidThemeName}'></input></td><td><div dojoAttachPoint='_error4'></div></td>
		</tr>
		</table>
	</div>
	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='${create}' class="maqPrimaryButton" type="submit" disabled></button>
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick:cancelButton' label='${buttonCancel}' class="maqSecondaryButton"></button>
	</div>		
</div>