<div>
	<div class="dijitDialogPaneContentArea">
		${selectTheme}: <div dojoType="davinci.ui.widgets.ThemeSelection" dojoAttachPoint="_themeChooser" value='claro' dojoAttachEvent='onChange:_checkValid' searchWorkspace='true'></div>
	</div>	
	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='${open}' class="maqPrimaryButton" type="submit"></button>
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick:cancelButton' label='${buttonCancel}' class="maqSecondaryButton"></button>
	</div>
</div>