<div>
	<div class="dijitDialogPaneContentArea">
		<table>
			<tr>
				<td class="NewProjectDialogLabel">${renameNewLabel}</td><td><input class='templateInput' type='text' dojoAttachPoint="_newName"></input></td><td><div dojoAttachPoint='_error4'></div></td>
			</tr>		
		</table>
	</div>

	<div class="dijitDialogPaneActionBar">
		<button dojoType='dijit.form.Button' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='${renameButtonLabel}' class="maqPrimaryButton" type="submit" disabled></button>
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick:cancelButton' label='${buttonCancel}' class="maqSecondaryButton"></button>
	</div>
</div>