<div>
	<table>
	<tr>
	<td class="NewProjectDialogLabel">Name:</td><td><input class='templateInput' type='text' dojoAttachPoint="_newName"></input></td><td><div dojoAttachPoint='_error4'></div></td>
	</tr>
	
	</table>

	<table class='templateTable'> 
			<tr> 
			<td class='templateFiller3'>&nbsp;</td>
				<td class='templateFiller4'>&nbsp;</td> 
				<td class='templateButton'><span dojoType='dijit.form.Button' type='submit' dojoAttachPoint="_okButton" dojoAttachEvent='onClick:okButton' label='${buttonOk}' disabled /></td> 
				<td class='templateFiller4'>&nbsp;</td> 
				<td class='templateButton'><span dojoType='dijit.form.Button' dojoAttachEvent='onClick:cancelButton' label='${buttonCancel}'/></td> 
				<td class='templateFiller4'>&nbsp;</td> 
				<td class='templateFiller3'>&nbsp;</td>
			</tr> 
		</table> 
		
</div>