<div>
	<div class="dijitDialogPaneContentArea">
		<table style="width: 90%">
			<tr>
					<td style="width:40%; vertical-align: top;">
							<table> 
									<tr>
											<td style=" vertical-align: top;" >
													<label>${uiNLS.themeSets}</label><select  id="theme_select_themeset_theme_select" name="theme_select_themeset_theme_select" size="10" style="margin-bottom: 5px; width: 190px;" ></select>
													<div id="toolbar1" data-dojo-type="dijit.Toolbar" class="toolbaredContainer_toolbarDiv davinciToolbar">
														<div data-dojo-type="dijit.form.Button" id="theme_select_themeset_add" data-dojo-props="iconClass:'viewActionIcon addThemeSetIcon', showLabel:false ">${uiNLS.addThemeSet}</div>
														<span data-dojo-type="dijit.ToolbarSeparator"></span>
														<div data-dojo-type="dijit.form.Button" id="theme_select_themeset_delete" data-dojo-props="iconClass:'viewActionIcon removeThemeSetIcon', showLabel:false ">${uiNLS.deleteThemeSet}</div>
													 </div>
													</td>
											<td><div style="border-right: 1px solid #ccc; width: 1px; height: 250px; margin-left: 10px; margin-top: 10px;"></div></td>
									</tr>
									<tr>
											<td></td><td></td>
									</tr>
							</table>
					</td>
					<td>
							<table style="width: 100%; margin-left:10px; margin-right:10px;">
									<tr><td colspan="2">${uiNLS.currentlySelectedThemeSet}</td><tr>
									<tr><td style="width: 18%;">${uiNLS.themeSetName}</td><td style="text-align: center;"><input dojoType="dijit.form.TextBox" id="theme_select_themeset_theme_select_textbox" readonly= "true" style="width: 175px;" ></input><input type="button" dojoType="dijit.form.Button" id="theme_select_rename_button" label="Rename" style="margin-left: 5px;"></td></tr>
							</table>
							<div style="border-top: 1px solid; top: 231px; border-top-color: #ccc; left: 429px; width: 300px; height: 11px; margin-top: 6px; margin-left:10px;"></div>
							<table style="margin-left: 15px; width: 100%;">
									<tr><td style="width: 139px;">${uiNLS.desktopTheme}</td><td><select dojoType="dijit.form.Select" id="theme_select_desktop_theme_select"type="text"  style="width: 175px;"  ></select></td></tr>
									<tr><td>${uiNLS.mobileTheme}</td><td><select dojoType="dijit.form.Select" id="theme_select_mobile_theme_select"type="text"  style="width: 175px;" ></select></td></tr>
							</table>
							<table id="theme_select_devices_table" style="margin-left:30px; border-collapse: separate; border-spacing: 0 0; width: 100%">
							<tr><td style="width: 129px;">${uiNLS.android}</td><td><select dojoType="dijit.form.Select" id="theme_select_android_select" type="text"  style="width: 150px;"></select></td></tr>
							<tr><td>${uiNLS.blackberry}</td><td><select dojoType="dijit.form.Select" id="theme_select_blackberry_select" type="text"  style="width: 150px;"></select></td></tr>
							<tr><td>${uiNLS.ipad}</td><td><select dojoType="dijit.form.Select" id="theme_select_ipad_select" type="text"  style="width: 150px;"></select></td></tr>
							<tr><td>${uiNLS.iphone}</td><td><select dojoType="dijit.form.Select" id="theme_select_iphone_select" type="text"  style="width: 150px;"></select></td></tr>
							<tr><td>${uiNLS.other}</td><td><select dojoType="dijit.form.Select" id="theme_select_other_select" type="text"  style="width: 150px;"></select></td></tr>
							</table>
		
					 </td>
			 </tr>
		</table>
	</div>
	<div class="dijitDialogPaneActionBar">
		<button dojoType="dijit.form.Button" id="theme_select_ok_button" label="${uiNLS.save}" class="maqPrimaryButton" type="submit"></button>
		<button dojoType="dijit.form.Button" id="theme_select_cancel_button" label="${commonNLS.buttonCancel}" class="maqSecondaryButton"></button>
	</div>
</div>
