<div>
	<div class="dijitDialogPaneContentArea">
		${uiNLS.themeSetName} <input data-dojo-type="dijit.form.ValidationTextBox" data-dojo-props="regExp:'[a-zA-z0-9_]+', required:true, invalidMessage:'Invalid Text.'" id="theme_select_themeset_rename_textbox" style="width: 175px;"/>
	</div>

	<div class="dijitDialogPaneActionBar">
		<button type="button" dojoType="dijit.form.Button" id="theme_set_rename_ok_button" label="${uiNLS.renameButtonLabel}" class="maqPrimaryButton" type="submit"></button>
		<button type="button" dojoType="dijit.form.Button" id="theme_set_rename_cancel_button" label="${commonNLS.buttonCancel}" class="maqSecondaryButton"></button>
	</div>
</div>
