<div data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="design:'headline', gutters:false, liveSplitters:false" class="gridWizardPreviewPanelBorderContainer">
     <div data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="design:'headline', gutters:false, liveSplitters:false,region:'center'" class="previewPanelCenterContentPane">
    	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'top'" class="previewPanelSectionLabelContainer"> 
    		<span>{preview}</span><span class="previewPanelPreviewNote">{previewNote}</span>
    	</div>
    	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center'" class="previewPanelPreviewPaneCenter">
	    	<div class="previewPanelGridPreviewDiv" >
		    	<div id="previewPanelGridContentPane" data-dojo-type="dijit.layout.ContentPane" class="previewPanelGridContentPane">
			</div>
		</div>
	</div>
    </div>
    <div data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="region:'trailing', design:'headline', gutters:false, liveSplitters:false, splitter:true" class="previewPanelTrailingContentPane">
    	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'top'" class="previewPanelSectionLabelContainer"> 
    		<div>{columnProperties}</div>
    	</div>
    	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center'" class="previewPanelColumnPropsPaneCenter">
	    	<div class="previewPanelColumnPropsDiv"> 
		    	<table cellspacing="5px" class="previewPanelColumnPropsTable">
		    		<tr>
						<td><label>{fieldLabel}</label></td> 
						<td><label id="gridWizardPreviewFieldOutput"></label></td>
					</tr>
					<tr>
						<td><label for="gridWizardPreviewLabelInput">{labelLabel}</label></td>
						<td><input id="gridWizardPreviewLabelInput" data-dojo-type="dijit.form.TextBox" type="text" disabled="disabled" class="previewPanelColumnInputField"></input></td>
					</tr>
					<tr>
						<td><label for="gridWizardPreviewWidthInput">{widthLabel}</label></td>
						<td>
							<input id="gridWizardPreviewWidthInput" data-dojo-type="dijit.form.ValidationTextBox" type="text" data-dojo-props="regExp:'{_widthRegExp}', required:true, invalidMessage:'{invalidWidth}'" disabled="disabled" class="previewPanelColumnInputField"></input>
						</td>
					</tr>
				</table> 
			</div>
			<div class="previewPanelResetButtonContainer">
				<button id="gridWizardPreviewResetAllButton" data-dojo-type="dijit.form.Button" class="previewPanelResetButton">{resetAllWidths}</button>
			</div>
		</div>
    </div>
</div>

