<div class="selectPanelDiv">
	<table class="selectPanelSloshBucketTable">
		<tr>
			<td class="sourceListLabel">${availableColumns}:</td>
			<td></td>
			<td class="targetListLabel">${selectedColumns}:</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<div data-dojo-type="dijit.form.MultiSelect" data-dojo-attach-point="sourceColumnSelect" data-dojo-attach-event="onChange:_sourceColumnSelectChange, onDblClick:_sourceColumnSelectDblClick" class='sourceList'>	
				</div>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="moveToTargetButton" data-dojo-attach-event="onClick:_moveSourceColumns" data-dojo-props="iconClass:'sloshBucketIcon sloshBucketMoveToTargetIcon', showLabel: false" type="button">Move to Target</button>
						</td>
					</tr>
					<tr>
						<td>
							<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="moveToSourceButton" data-dojo-attach-event="onClick:_moveTargetColumns" data-dojo-props="iconClass:'sloshBucketIcon sloshBucketMoveToSourceIcon', showLabel: false" type="button">Move to Source</button>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<div data-dojo-type="dijit.form.MultiSelect" data-dojo-attach-point="targetColumnSelect" data-dojo-attach-event="onChange:_targetColumnSelectChange, onDblClick:_targetColumnSelectDblClick"  class='targetList'>
				</div>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="moveTargetColumnUpButton" data-dojo-attach-event="onClick:_moveTargetColumnUp" data-dojo-props="iconClass:'sloshBucketIcon sloshBucketMoveTargetUpIcon', showLabel: false" type="button">Move Up</button>
						</td>
					</tr>
					<tr>
						<td>
							<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="moveTargetColumnDownButton" data-dojo-attach-event="onClick:_moveTargetColumnDown" data-dojo-props="iconClass:'sloshBucketIcon sloshBucketMoveTargetDownIcon', showLabel: false" type="button">Move Down</button>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>