<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
           id="testResource"
           point="org.eclipse.equinox.http.registry.resources">
        <resource
              alias="/app/davinci"
              base-name="/WebContent/davinci"
              />
        <resource
              alias="/app/docs"
              base-name="/WebContent/docs"
              />
        <resource
              alias="/app/dojo"
              base-name="/WebContent/dojo"
              />
        <resource
              alias="/app/dojox"
              base-name="/WebContent/dojox"
              />
        <resource
              alias="/app/dijit"
              base-name="/WebContent/dijit"
              />
        <resource
              alias="/app/eclipse"
              base-name="/WebContent/eclipse"
              />
          
        <resource
              alias="/app/preview"
              base-name="/WebContent/preview"
              />
        <!-- maqetta core libraries metadata (maqetta.js and states.js) -->
        
        <resource
              alias="/app/metadata/maqetta/core/0.3"
              base-name="/WebContent/project"
              />
       
       
        <!--   
        <resource
              alias="/app/workspace"
              base-name="/WebContent/project/base"
              />
		-->
      </extension>
       <extension
            point="maqetta.core.server.standalone.jsPlugin">
         <jsPlugin
               path="app/davinci/ui"
               resourcePath="WebContent/davinci/ui"/>
         <jsPlugin
               path="app/js/js"
               resourcePath="WebContent/davinci/js/js"/>
         <jsPlugin
               path="app/html/html"
               resourcePath="WebContent/davinci/html/html"/>
         <jsPlugin
               path="app/ve/ve"
               resourcePath="WebContent/davinci/ve/ve"/>
         <jsPlugin
               path="app/davinci/ve/themeEditor/themeEditor"
               resourcePath="WebContent/davinci/ve/themeEditor/themeEditor"/>
      </extension>
      <extension
            point="maqetta.core.server.standalone.initialUserFiles">
            <!--
             <initalUserFile
                  path="WebContent/project/base/"/>
                  -->
             <initalUserFile
                  path="WebContent/samples/"/>
              
      </extension>
      <extension point="maqetta.core.server.standalone.ajaxLibrary">
		 <ajaxLibrary name="maqetta" id="maqetta" version="0.3">
		      <libraryPath location="WebContent/project/base" name="/"></libraryPath>
		      <metadata location="app/metadata/maqetta/core/0.3" />
		 </ajaxLibrary>
	 </extension>
      
	<extension point="maqetta.core.server.standalone.welcomePage"><welcomePage path="WebContent/welcome.html" priority="1"/></extension>
	<extension point="maqetta.core.server.standalone.mainPage"><mainPage path="WebContent/pagedesigner.html" priority="1"/></extension>
   	<extension point="maqetta.core.server.standalone.previewPage"><previewPage path="WebContent/preview.html" priority="1" /></extension>

</plugin>
