@import url("../../resources/Grid_rtl.css");

.dojoxGridRtl .dojoxGridNestedSort, 
.dojoxGridRtl .dojoxGridUnarySort {
	text-align: right;
}

.dojoxGridRtl .dojoxGridSortWrapper {
	left: 0;
	right: auto;
}

.dojoxGridRtl .dojoxGridCell .dojoxGridHeaderCellSelectRegion {
	float: right;
	text-align: right;
	padding-right:4px;
}

.dojoxGridRtl .dojoxGridSortSeparatorOn,
.dojoxGridRtl .dojoxGridNestedSortWrapper,
.dojoxGridRtl .dojoxGridUnarySortWrapper {
	float: right;
}

.dojoxGridRtl .dojoxGridLoading, 
.dojoxGridRtl .dojoxGridError,
.dojoxGridRtl .dojoxGridNoData {
	background-position:right;
	padding-right:25px;
	padding-left:0px;
}
