<div>
	<table>
		<tr>	
			<td nowrap="nowrap">
				<label id="srcAttributeInputSrcLabel" for="srcAttributeInputSrcTextBox">NLS:</label>
			</td>
			<td>
				 <input type="text" dojoType="dijit.form.TextBox" id="srcAttributeInputSrcTextBox"></input>
			</td>
		</tr>
		<tr>	
			<td nowrap="nowrap">
				<label id="srcAttributeInputAltLabel" for="srcAttributeInputAltTextBox">NLS:</label>
			</td>
			<td>
				 <input type="text" dojoType="dijit.form.TextBox" id="srcAttributeInputAltTextBox"></input>
			</td>
		</tr>
	</table>
</div>
