.davinciReviewToolbarAdd{
	background-image: url("img/add_comment.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}
.dijitButtonDisabled .davinciReviewToolbarAdd{
	background-image: url("img/add_comment_disable.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}
.davinciReviewToolbarReply{
	background-image: url("img/reply.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}
.dijitButtonDisabled .davinciReviewToolbarReply{
	background-image: url("img/reply_disable.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}

.davinciReviewToolbarReviewers{
	background-image: url("img/filter_reviewers.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}
.dijitDropDownButtonDisabled .davinciReviewToolbarReviewers{
	background-image: url("img/filter_reviewers_disable.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}
.davinciReviewToolbarReviewersColor{
	background: url("img/color_bg.png") no-repeat;
	height: 14px;
	width: 14px;
	margin:0 5px 0 0;
	float: left;
}
.replyButtonIcon {
	background-image: url("img/reply.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}

.editButtonIcon {
	background-image: url("img/edit_comment.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}

.collapseViewActive {
	background-image: url("img/collapse_active.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}
.collapseView.deactive {
	background:url("img/collapse_deactive.gif") no-repeat;
}
.expandViewActive {
	background-image: url("img/expand_active.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}
.expandView.deactive {
	background:url("img/expand_deactive.gif") no-repeat;
}
.dialogContent .dijitTextBox {
	width: 100%;
}

.dialogContent #dijit_form_TextBox_0 {
	color: black;
}

.davinciReview {
	margin: 2px 0 1px 0;
	padding: 2px;
	border-top: 1px solid #a0a0a0;
}
.davinciReview .wrapper {
	background-color: white;
	/*padding:1px;*/
}
.davinciReview .wrapper * {
	background-color: white;
	margin: 0;
	padding: 0;
}
.focused .wrapper {
	border: 2px solid #F1CB82;	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.davinciReview .subject {
	font-weight: bold;
	margin-bottom: 3px;
	padding: 1px 3px;
	color: blue;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.davinciReview .mark{
	float: right;
	height:16px;
	width:16px;
	background: url("img/reopen-disable.gif");
}
.davinciReview .mark.enable{
	background: url("img/reopen-enable.gif");
}

.davinciReview .summary {
	float: left;
	position: relative;
}

.davinciReview .content {
	padding: 3px 6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.davinciReview.isReply {
	border-top: 1px solid #eee;
}

.davinciReview .authorTime {
	padding: 3px 6px;
}

.davinciReview .details {
	overflow: auto;
	padding: 1em 0;
}

.davinciReview .action {
	height: 15px;
}

.repliesCount {
	/*font-style: italic;*/
	margin-top:1px;
	padding:2px 0 2px 0;
	cursor: pointer;
	/*background:url("img/view_menu.gif") no-repeat 3px 1px #B4D5FC;*/
}
.repliesCount img {
	vertical-align: middle;
	margin-right: 3px;
}
.repliesCount a {
	text-decoration:none;
}
.davinciReview .replyButton {
	float: right;
}

.davinciReview .ownerName {
	color: blue;
	font-weight: bold;
	margin-right: 3px;
}

.davinciReview .created {
}

.davinciReview .severity {
	width: 16px;	/* Width of the severity icon */
	height: 16px;	/* Height of the severity icon */
	float: left;
}

.davinciReviewDialog {
	/*border-bottom: #ccc solid 1px;*/
}

.davinciReviewDialog h1 {
	background-color: #B4D5FC;
	padding: 4px 4px 4px 6px;
	font-size: 1.4em;
	font-weight: bold;
	margin: 0px;
}

.davinciReviewDialog .dialogContent {
	background-color: #FFF;
	/*padding-bottom: 1em;*/
}

.davinciReviewDialog .dialogContent table {
	width: 100%
}
.greyLabel .dijitDropDownButton {
	margin: 0px;
}
.davinciReviewDialog .dialogFooter {
	/* background-color: #E2EBF1; */
}

.dialogFooter {
	text-align: right;
	padding-bottom: 1em;
	border-bottom: 1px solid #A0A0A0;
}
	
.isReply {
	padding-left: 10px;
}
.isReply .status {
	display: none;
}
.davinciReply {
	border:none;
}
.isReply .wrapper, .davinciReply .dialogContent{
	/*background-color: #DDD;*/
}
.isReply .subject, .davinciReply h1 {
	display:none;
}
.isReply .repliesCount {
	/*background-color: #ddd;*/
}
.firstReply {
	background-image: url("img/commentIndent.png");	
	background-repeat: no-repeat;
}
.davinciLink {
	color: #105CB6;
	text-decoration: none;
	cursor: pointer;
}
.davinciReviewShow {
	display: block;	
}
.davinciReviewHide {
	display: none;
}

.greyLabel {
	color: #A0A0A0;
	font: x-small arial;
}

.davinciReview .severityMedium .severityLow .severityHigh {
}

.severityLow {
	background: no-repeat url( "img/severity_low.gif" );
}

.severityMedium {
	background: no-repeat url("img/severity_mid.gif");
}

.severityHigh {
	background: no-repeat url("img/severity_high.gif");
}

.severityUnassigned {
	background: no-repeat url("img/severity_unassigned.gif");
}

.emptyIcon {
	background: no-repeat url("../../../dojo/resources/blank.gif");
	display: none;
}

.davinciReviewTheme .dijitButtonText {
	color: blue;
}

.davinciReviewTheme .dijitButton .dijitButtonNode,
.davinciReviewTheme .dijitDropDownButton .dijitButtonNode,
.davinciReviewTheme .dijitComboButton .dijitButtonNode,
.davinciReviewTheme .dijitToggleButton .dijitButtonNode{
	background-color: white;
	background-image: url("");
	-moz-box-shadow: white 0px 0px;		/* For Firefox, clear the shadow */
	-webkit-box-shadow: white 0px 0px;	/* For Chrome, clear the shadow*/
	-moz-border-radius: 0px;
	border: 0px;
}

.reviewFileIcon {
	background-image: url(img/review.gif);
}

.disabledReviewFileIcon {
	background-image: url(img/review_disabled.gif);
}

.reviewFolder-open-disabled {
	background-image: url(img/published_disabled.gif);
}

.reviewFolder-open {
	background-image: url(img/published.gif);
}

.reviewFolder-closed-disabled{
	background-image: url(img/published_closed_disabled.gif);
}
.reviewFolder-closed{
	background-image: url(img/published_closed.gif);
}

.draft-open{
	background-image: url(img/draft.gif);
}

.editVersionIcon{
	background-image: url(img/edit_review.gif);
}
.dijitButtonDisabled .editVersionIcon{
	background-image: url("img/edit_review_disabled.gif");
}

.closeVersionIcon{
	background-image: url(img/close_review.gif);
}
.dijitButtonDisabled .closeVersionIcon{
	background-image: url("img/close_review_disabled.gif");
}

.openVersionIcon{
	background-image: url(img/open_review.gif);
}

.dijitButtonDisabled .openVersionIcon{
	background-image: url(img/open_review_disabled.gif);
}

.deleteVersionIcon{
	background-image: url(img/del_review.gif);
}

.dijitButtonDisabled .deleteVersionIcon{
	background-image: url(img/del_review_disabled.gif);
}

.todo{
	background:url("img/todo.gif") no-repeat;
}
.done{
	background:url("img/done.gif") no-repeat;
}
.crumbs{
	margin-right:8px;
	width:165px;
	padding-left:20px;
	color:#005CE5;
	cursor:pointer;
	float:left;
	height:20px;
	line-height:20px;
}
.current{
	color:black;
	font-weight: bold;
}
.sep{
	border-right: 1px solid silver;
}

.reviewMsg{
	margin:7px 0 0 0;
	color:red;
	float:left;
	background:url('img/time_warning_obj.gif') no-repeat;
	padding-left:18px;
}

.dijitTreeRowHover .deleteImg{
	background: url("img/del.gif") no-repeat 0px -2px;
	margin-right: 20px;
	width:14px;
	height:14px;
	cursor: pointer;
	display: inline;
	float:right;
}

.dijitTreeRowActive .deleteImg{
	background: url("img/del.gif") no-repeat 0px -2px;
	margin-right: 20px;
	width:14px;
	height:14px;
	cursor: pointer;
	display: inline;
	float:right;
}

.delImg{
	margin-left: 25px;
	display: none;
}
.dojoxGridRowOver .delImg{
	display: block;
}

.deleteImg{
	background: url("../../../dojo/resources/blank.gif") no-repeat ;
	width:25px;
	height:14px;
	cursor: pointer;
	float:right;
	display: inline;
}
.reviewTooltipRight .dijitTooltipConnector {
    
    left: 0px;
    top: 3px;
    background-position:-48px 0%;
    width:16px;
    height:14px;
}

.detail_title {
	background: url('img/review.gif') no-repeat 0% 50%;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
	font-size: 18px;
	font-weight: bold;
	color:	#4b7c9c;
}

.detail_role {
	background: url('img/user_obj.gif') no-repeat;
	margin: 0 20px 0 10px;
	padding: 0 0 0 16px;
}

.detail_file {
	display: inline-block;
	margin: 0 0 0 2px;
	vertical-align: middle;
}

.notClosed{
	background: url('img/time_warning_obj.gif') no-repeat;
	color: green !important;
	margin: 0 0 0 10px;
	padding: 0 0 0 16px;
}

.closed{
	background: url('img/time_warning_obj.gif') no-repeat;
	color: red;
	margin: 0 0 0 10px;
	padding: 0 0 0 16px;
}

.detail_creator {
	color: #4b7c9c;
	margin: 0 0 0 10px;
}

.detail_div {
	margin: 10px 0 10px 0;
}

.davinciAnnotationIcon{
	background-position: center center;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
}
.davinciAnnotationIconArrow{
	background-image: url("img/arrow.gif");
}
.dijitButtonDisabled .davinciAnnotationIconArrow{
	background-image: url("img/arrow_disabled.gif");
}
.davinciAnnotationIconRect{
	background-image: url("img/rect.gif");
}
.dijitButtonDisabled .davinciAnnotationIconRect{
	background-image: url("img/rect_disabled.gif");
}
.davinciAnnotationIconEllipse{
	background-image: url("img/ellipse.gif");
}
.dijitButtonDisabled .davinciAnnotationIconEllipse{
	background-image: url("img/ellipse_disabled.gif");
}
.davinciAnnotationIconText{
	background-image: url("img/text.gif");
}
.dijitButtonDisabled .davinciAnnotationIconText{
	background-image: url("img/text_disabled.gif");
}

.davinciComment{
	border-top: 1px solid black;
}
.davinciComment .commentBody{
	background-color: white;
	padding:4px;
	border: 2px solid #FFFFFF;
}
.davinciComment .displayNone{
	display: none;
}
.davinciComment .commentSubject{
	margin: 2px 0px 2px 0px;
	color: blue;
	font-weight: bold;
}
.davinciComment .commentSubtitle{
	color: #A0A0A0;
	font: x-small arial;
}
.davinciComment .commentLinkButton{
	color: #105CB6;
	text-decoration: none;
	cursor: pointer;
}
.davinciComment .commentContent{
	overflow: auto;
	margin: 5px;
}
.davinciComment .commentFooter{
	margin-bottom: 2px;
	color: #A0A0A0;
	font: x-small arial;
}
.davinciComment .commentReplyBar{
	font: x-small arial;
}
.davinciComment .valignImage{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.davinciComment .commentReplies{
	background-image: url("img/commentIndent.png");	
	background-repeat: no-repeat;
	padding-left: 10px;
	margin-left: 8px;
}
.davinciComment .commentFocused{
	border: 2px solid #F1CA7E;
}
.davinciComment .commentBodyDisabled{
	background-color: #EFEFEF;
}
.davinciComment .commentSubjectDisabled,
.davinciComment .commentLinkButtonDisabled {
	color: #818181;
}

.severityLow {
	background: no-repeat url( "img/severity_low.gif" );
}
.severityMedium {
	background: no-repeat url("img/severity_mid.gif");
}
.severityHigh {
	background: no-repeat url("img/severity_high.gif");
}
.davinciComment .commentTheme .dijitButtonText {
	color: #105CB6;
}

.davinciComment .commentTheme .dijitDownArrowButton,
.davinciComment .commentTheme .dijitButtonText{
	color:black;
}
.davinciComment .commentTheme .dijitButton .dijitButtonNode,
.davinciComment .commentTheme .dijitDropDownButton .dijitButtonNode,
.davinciComment .commentTheme .dijitComboButton .dijitButtonNode,
.davinciComment .commentTheme .dijitToggleButton .dijitButtonNode{
	background-color: white;
	background-image: url("");
	-moz-box-shadow: white 0px 0px;		/* For Firefox, clear the shadow */
	-webkit-box-shadow: white 0px 0px;	/* For Chrome, clear the shadow*/
	-moz-border-radius: 0px;
	border: 0px;
	padding: 0px;
}
.davinciComment #dijit_form_TextBox_0{
	color: black;
}

#davinci_review_title {
	font-weight: 900;
	font-size:larger;
	color:#EAEAEA;
	display: inline-block;
	float:left;
	padding: 10px 0 0 10px;
}

.review-tips {
	color: silver;
	font-style: italic;
}

.claro .dijitTreeIcon{
	width: 16px;
	height: 16px;
}
