<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   	<extension-point id="command" name="Davinci Command" schema="schema/command.exsd"/>
   <extension-point id="jsPlugin" name="Javascript Plugins" schema="schema/jsPlugin.exsd"/>
   <extension-point id="initialUserFiles" name="Initial user files" schema="schema/initialUserFiles.exsd"/>
   	<extension-point id="ajaxLibrary" name="AJAX Library" schema="schema/ajaxLibrary.exsd"/>
   	<extension-point id="personManager" name="Authentication/User Manager " schema="schema/personManager.exsd"/>
   	<extension-point id="welcomePage" name="Welcome page provider" schema="schema/welcomePage.exsd"/>
   <extension-point id="mainPage" name="Welcome page provider" schema="schema/reviewPage.exsd"/>
   <extension-point id="previewPage" name="Preview page provider" schema="schema/previewPage.exsd"/>
   <extension-point id="userManager" name="User Manager" schema="schema/userManager.exsd"/>
   <extension-point id="libraryManager" name="User Manager" schema="schema/libraryManager.exsd"/>
   <extension-point id="libraryFinder" name="Library Finder" schema="schema/libraryFinder.exsd"/>
   
   <extension  id="maqettaLib"  point="org.eclipse.equinox.http.registry.resources"  >
	
	        <!-- maqetta core libraries metadata (maqetta.js and states.js) -->
	        
	        <resource
	              alias="/maqetta/app/metadata/maqetta/core/0.3"
	              base-name="/WebContent/project"
	              />
	 </extension>
	 <!-- maqetta samples library -->
	 <extension point="maqetta.core.server.ajaxLibrary">
		 <ajaxLibrary name="samples" id="maqettaSamples" version="1.0" required="true">
		      <libraryPath location="WebContent/project/samples" name="/samples"></libraryPath>
		      <metadata location="app/metadata/maqetta/core/0.3" />
		 </ajaxLibrary>
	 </extension>
	 
	 <!-- maqetta main library (app.js and app.css)-->
	 
	 <extension point="maqetta.core.server.ajaxLibrary">
		 <ajaxLibrary name="maqetta" id="maqetta" version="0.3" required="true">
		      <libraryPath location="WebContent/project/maqetta" name="/lib/maqetta"></libraryPath>
		      <metadata location="app/metadata/maqetta/core/0.3" />
		 </ajaxLibrary>
	 </extension>
	 
	 <extension point="maqetta.core.server.initialUserFiles">
             <initalUserFile path="WebContent/project/InitialContentReadWrite"/>
      </extension>
	 
</plugin>
