<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="command" name="Davinci Command" schema="schema/command.exsd"/>
   <extension-point id="jsPlugin" name="Javascript Plugins" schema="schema/jsPlugin.exsd"/>
   <extension-point id="initialUserFiles" name="Initial user files" schema="schema/initialUserFiles.exsd"/>
   <extension-point id="ajaxLibrary" name="AJAX Library" schema="schema/ajaxLibrary.exsd"/>
   <extension-point id="personManager" name="Authentication/User Manager " schema="schema/personManager.exsd"/>
   <extension-point id="welcomePage" name="Welcome page provider" schema="schema/welcomePage.exsd"/>
   <extension-point id="mainPage" name="Welcome page provider" schema="schema/reviewPage.exsd"/>
   <extension-point id="previewPage" name="Preview page provider" schema="schema/previewPage.exsd"/>
       
   
   
     <extension-point id="mailConfig" name="Mail Server Configuration" schema="schema/mailConfig.exsd"/>
  
   	<extension
        point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext id="davincicontext">
 		  <resource-mapping path="/" />
	      <mime-mapping extension="manifest" mime-type="text/cache-manifest" />
      </httpcontext>
   </extension>
   
   
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="org.davinci.server.DavinciPageServlet"
            load-on-startup="true">
      </servlet>
      <servlet
            alias="/cmd"
            class="org.davinci.server.DavinciCommandServlet"
            load-on-startup="true">
      </servlet>
   </extension>
   

      <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="davinci.product"
            description="Davinci Server"
            name="Davinci Server">
      </product>
   </extension>
      <extension
            point="maqetta.core.server.command">
         <command path="login" noLogin="true" 
               class="org.davinci.server.internal.command.Login" />
         <command path="getUserInfo"  
               class="org.davinci.server.internal.command.GetUserInfo" />
         <command path="register" noLogin="true" 
               class="org.davinci.server.internal.command.Register" />
         <command path="listFiles" 
               class="org.davinci.server.internal.command.ListFiles" />
         <command path="loadFile" 
               class="org.davinci.server.internal.command.LoadFile" />
         <command path="saveFile"  isPut="true"
               class="org.davinci.server.internal.command.SaveFile" />
         <command path="addFiles" 
               class="org.davinci.server.internal.command.AddFiles" />
         <command path="deleteResource" 
               class="org.davinci.server.internal.command.DeleteResource" />
         <command path="createResource" 
               class="org.davinci.server.internal.command.CreateResource" />
         <command path="getPreferences" 
               class="org.davinci.server.internal.command.GetPreferences" />
         <command path="setPreferences"  isPut="true"
               class="org.davinci.server.internal.command.SetPreferences" />
         <command path="getWorkbenchState" 
               class="org.davinci.server.internal.command.GetWorkbenchState" />
         <command path="setWorkbenchState"  isPut="true"
               class="org.davinci.server.internal.command.SetWorkbenchState" />
         <command path="removeWorkingCopy" 
               class="org.davinci.server.internal.command.RemoveWorkingCopy" />
         <command path="getFileInfo" 
               class="org.davinci.server.internal.command.GetFileInfo" />
         <command path="logoff" 
               class="org.davinci.server.internal.command.LogOff" />
         <command path="download" 
               class="org.davinci.server.internal.command.Download" />
         <command path="findResource" 
               class="org.davinci.server.internal.command.FindResource" />
         <command path="getPlugins" 
               class="org.davinci.server.internal.command.GetPlugins" />
          <command path="getLibRoots" 
               class="org.davinci.server.internal.command.GetLibRoots" /> 
          <command path="listLibs" 
               class="org.davinci.server.internal.command.ListLibs" />   
          <command path="getUserLibs" 
               class="org.davinci.server.internal.command.GetUserLibs" />   
          <command path="getLibMetadata" 
               class="org.davinci.server.internal.command.GetLibMetadata" />  
          <command path="modifyLib" 
               class="org.davinci.server.internal.command.ModifyLib" /> 
          <command path="getMetaRoot" 
               class="org.davinci.server.internal.command.GetMetaRoot" />   
           <command path="copy" 
               class="org.davinci.server.internal.command.Copy" /> 
           <command path="createProject" 
               class="org.davinci.server.internal.command.CreateProject" />         
           <command path="rename" 
               class="org.davinci.server.internal.command.Rename" />         
           <command path="tryIt" noLogin="true"
               class="org.davinci.server.internal.command.TryIt" />         
           <command path="removeUser" noLogin="true"
               class="org.davinci.server.internal.command.RemoveUser" />         
               
      </extension>

</plugin>
