<tr>
	<td class="MultiFieldSmartInput_SmartInput_label" >
		{label}
	</td>
	<td>
		<div class="MultiFieldSmartInput_SmartInput_value">
			<input type="text" name="{textboxId}"  data-dojo-type="{textboxType}" data-dojo-props="trim:true" value="{textboxValue}" id="{textboxId}">
	    </div>
    </td>
    <td class="MultiFieldSmartInput_SmartInput_checkbox">
    	<div id="{checkboxDivId}">
    		<input id="{checkboxId}" name="{checkboxId}" data-dojo-type="dijit/form/CheckBox" {checked} />
			<label for="{checkboxId}">html</label>
    	</div>
	</td>
</tr>

