<div id="iedResizeDiv"  class="iedResizeDiv"> 
<div dojoType="dijit.layout.ContentPane" class="MultiFieldSmartInput_SmartInput_CP">
  <table id="davinci.ve.input.MultiFieldSmartInput_table"> 
    <tbody> 
      {tableContent}
    </tbody> 
  </table> 
</div>   
  <div id="smartInputSim" class="smartInputSim" style="display:none;"></div>
  <div id="iedResizeHandle" dojoType="dojox.layout.ResizeHandle" targetId="iedResizeDiv" constrainMin="true" maxWidth="200" maxHeight="600" minWidth="240" minHeight="60"  activeResize="true" intermediateChanges="true"></div>
</div>
</td>
</tr>
</table>
<div id="davinci.ve.input.SmartInput_div"  class="davinciVeInputSmartInputDiv"> 
  <div id="davinci.ve.input.SmartInput_radio_div" class="smartInputRadioDiv"> 
   <div class="smartInputHelpDiv"> 
      <span id="davinci.ve.input.SmartInput_img_help"  title="Help" class="inlineEditHelp"> </span>
      <span class="smartInputSpacerSpan">
      <button id="davinci.ve.input.SmartInput_ok"  dojoType="dijit.form.Button" type="submit" class="inlineEditHelpOk">{buttonOk}</button> <button id=davinci.ve.input.SmartInput_cancel dojoType="dijit.form.Button" class="inlineEditHelpCancel">{buttonCancel}</button>  
      </span>   
    </div> 
    <div id="davinci.ve.input.SmartInput_div_help" style="display:none;" class="smartInputHelpTextDiv"> 
      <div dojoType="dijit.layout.ContentPane" class="smartInputHelpTextDivContentPane" style="padding:0;">{helpText}</div> 
      <div style="text-align: left; padding:0; height:2px;"></div> 
    </div> 
  </div> 
</div> 

