<div dojoType="dijit.layout.BorderContainer" design="headline" gutters="false" 
	style="width:{width}; height:{height}" liveSplitters="false" id="borderContainer">
	
		<!--Center region -->
		<div dojoType="dijit.layout.ContentPane" region="center">
			<table width="100%">
				<tr class="sliderInputDiv sliderInputChildrenLabel">
					<td colspan="5">{ruleAndLabelsHeader}</td>
				</tr>
				<tr class="sliderInputChildRow">
					<th></th>
					<th></th>
					<th>{typeColHeader}</th>
					<th>{containerColHeader}</th>
					<th></th>
				</tr>
				<!--  child rows for rules and rule labels added dynamically -->
				<tr class="sliderInputBeforeOptionsLabel sliderInputOptionsLabelRow"></tr>
			</table>
        </div>
		
        <!--Preview area -- "trailing" region -->
		<div dojoType="dijit.layout.ContentPane" style="width: 40%;" region="trailing" >
			<table width="100%">
				<tr class="sliderInputDiv sliderInputChildrenLabel">
					<td>{preview}</td>
				</tr>
				<!--  child rows for rules and rule labels added dynamically -->
				<tr>
					<td>
						<div class="sliderPreviewDisablingDiv" ></div>
						<div dojoType="dijit.layout.ContentPane" id="previewArea"> 
						</div>
					</td>
				</tr>
			</table>
      	</div>
        
        <!--OK/Cancel button area on bottom -->
		<div dojoType="dijit.layout.LayoutContainer" style="height: 4em;" region="bottom">
			<div dojoType="dijit.layout.ContentPane" layoutAlign="left" style="width: 40%"></div>
			<div dojoType="dijit.layout.ContentPane" layoutAlign="client" style="width: 100px">
				<button dojoType="dijit.form.Button" type="button" id="okButton" >{buttonOk}</button>
				<button dojoType="dijit.form.Button" type="button" id="cancelButton">{buttonCancel}</button>
			<div dojoType="dijit.layout.ContentPane" layoutAlign="right" style="width: 40%"></div>
			</div>
		</div>

</div>