<div dojoType="dijit.layout.BorderContainer" style="width: 550px; height: 300px" design="headline" gutters="false">
	<!--Center region -->
	<div dojoType="dijit.layout.ContentPane" region="center">
	  <div class="iconContainerInputRows">
	  </div>
	</div>
		
	<!-- OK/Cancel button area on bottom -->
	<div dojoType="dijit.layout.ContentPane" style="height: 4em;" region="bottom">
		<button dojoType="dijit.form.Button" class="okButton" type="button">{buttonOk}</button>
		<button dojoType="dijit.form.Button" class="cancelButton" type="button">{buttonCancel}</button>
	</div>
</div>
