<div class="dijit dijitReset dijitInlineTable dijitLeft"
	id="widget_${id}" waiRole="presentation"
	><div class="dijitReset dijitButtonNode dijitSpinnerButtonContainer"
		><input class="dijitReset dijitInputField dijitSpinnerButtonInner" type="text" tabIndex="-1" readOnly waiRole="presentation"
		/><div class="dijitReset dijitLeft dijitButtonNode dijitArrowButton dijitUpArrowButton"
			dojoAttachPoint="upArrowNode"
			><div class="dijitArrowButtonInner"
				><input class="dijitReset dijitInputField" value="&#9650;" type="text" tabIndex="-1" readOnly waiRole="presentation"
					${_buttonInputDisabled}
			/></div
		></div
		><div class="dijitReset dijitLeft dijitButtonNode dijitArrowButton dijitDownArrowButton"
			dojoAttachPoint="downArrowNode"
			><div class="dijitArrowButtonInner"
				><input class="dijitReset dijitInputField" value="&#9660;" type="text" tabIndex="-1" readOnly waiRole="presentation"
					${_buttonInputDisabled}
			/></div
		></div
	></div
	><div class='dijitReset dijitValidationContainer'
		><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="&Chi; " type="text" tabIndex="-1" readOnly waiRole="presentation"
	/></div
	><div class="dijitReset dijitInputField dijitInputContainer"
		><input class='dijitReset dijitInputInner' dojoAttachPoint="textbox,focusNode" type="${type}" dojoAttachEvent="onkeypress:_onKeyPress"
			waiRole="spinbutton" autocomplete="off" ${!nameAttrSetting}
	/></div
></div>
