.davinciMediaInput .iedResizeDiv {
	width: 500px; 
	height: 40px; 
}

.davinciMediaInput  .smartInputTextArea {
	width: 500px; 
	height: 40px; 
}

.davinciMediaInputMulti .iedResizeDiv {
	width: 500px; 
	height: 75px; 
}

.davinciMediaInputMulti  .smartInputTextAreaMulti {
	width: 500px; 
	height: 75px; 
}