<table cellspacing="0" cellpadding="0" class="dijitCalendarContainer" role="grid" dojoAttachEvent="onkeypress: _onKeyPress">
	<thead>
		<tr class="dijitReset dijitCalendarMonthContainer" valign="top">
			<th class='dijitReset dijitCalendarArrow' dojoAttachPoint="decrementMonth">
				<img src="${_blankGif}" alt="" class="dijitCalendarIncrementControl dijitCalendarDecrease" waiRole="presentation"/>
				<span dojoAttachPoint="decreaseArrowNode" class="dijitA11ySideArrow">-</span>
			</th>
			<th class='dijitReset' colspan="5">
				<div class="dijitVisible">
					<div class="dijitPopup dijitMenu dijitMenuPassive dijitHidden" dojoAttachPoint="monthDropDown" dojoAttachEvent="onmouseup: _onMonthSelect, onmouseover: _onMenuHover, onmouseout: _onMenuHover">
						<div class="dijitCalendarMonthLabelTemplate dijitCalendarMonthLabel"></div>
					</div>
				</div>
				<div dojoAttachPoint="monthLabelSpacer" class="dijitSpacer"></div>
				<div dojoAttachPoint="monthLabelNode" class="dijitCalendarMonthLabel dijitInline dijitVisible" dojoAttachEvent="onmousedown: _onMonthToggle"></div>
			</th>
			<th class='dijitReset dijitCalendarArrow' dojoAttachPoint="incrementMonth">
				<img src="${_blankGif}" alt="" class="dijitCalendarIncrementControl dijitCalendarIncrease" waiRole="presentation"/>
				<span dojoAttachPoint="increaseArrowNode" class="dijitA11ySideArrow">+</span>
			</th>
		</tr>
		<tr>
			<th class="dijitReset dijitCalendarDayLabelTemplate" role="columnheader"><span class="dijitCalendarDayLabel"></span></th>
		</tr>
	</thead>
	<tbody dojoAttachEvent="onclick: _onDayClick, onmouseover: _onDayMouseOver, onmouseout: _onDayMouseOut, onmousedown: _onDayMouseDown, onmouseup: _onDayMouseUp" class="dijitReset dijitCalendarBodyContainer">
		<tr class="dijitReset dijitCalendarWeekTemplate" role="row">
			<td class="dijitReset dijitCalendarDateTemplate" role="gridcell"><span class="dijitCalendarDateLabel"></span></td>
		</tr>
	</tbody>
	<tfoot class="dijitReset dijitCalendarYearContainer">
		<tr>
			<td class='dijitReset' valign="top" colspan="7">
				<h3 class="dijitCalendarYearLabel">
					<span dojoAttachPoint="previousYearLabelNode" class="dijitInline dijitCalendarPreviousYear"></span>
					<span dojoAttachPoint="currentYearLabelNode" class="dijitInline dijitCalendarSelectedYear"></span>
					<span dojoAttachPoint="nextYearLabelNode" class="dijitInline dijitCalendarNextYear"></span>
				</h3>
			</td>
		</tr>
	</tfoot>
</table>