<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension point="maqetta.core.server.personManager">
    	<personManager class="maqetta.core.server.standalone.servlets.PersonManagerImpl"/>
   	  </extension>

     <extension point="maqetta.core.server.userManager">
    	<userManager class="maqetta.core.server.standalone.servlets.UserManagerImpl"/>
   	 </extension>
	
	
	<!-- this probably should eventually be moved to a dojo or RAD specific plugin -->
	<extension point="maqetta.core.server.libraryFinder">
    	<libraryFinder class="maqetta.core.server.standalone.DojoLibraryFinder"/>
   	 </extension>

   	  
      
     <extension id="maqetta.core.client" point="org.eclipse.equinox.http.registry.resources">
        <resource alias="/maqetta/app/system" 
        		  base-name="/WebContent/system" 
        		   />      
     </extension>
             
      

	 
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/maqetta"
         
            class="maqetta.core.server.standalone.DavinciPageServlet"
            load-on-startup="true">
      </servlet>

   </extension>
   

      <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="davinci.product"
            description="Davinci Server"
            name="Davinci Server">
      </product>
   </extension>
      <extension
            point="maqetta.core.server.command">
         <command path="login" noLogin="true" 
               class="maqetta.core.server.standalone.command.Login" />
         <command path="register" noLogin="true" 
               class="maqetta.core.server.standalone.command.Register" />
         <command path="listFiles" 
               class="maqetta.core.server.standalone.command.ListFiles" />
         <command path="addFiles" 
               class="maqetta.core.server.standalone.command.AddFiles" />
         <command path="deleteResource" 
               class="maqetta.core.server.standalone.command.DeleteResource" />
         <command path="createResource" 
               class="maqetta.core.server.standalone.command.CreateResource" />
         <command path="getPreferences" 
               class="maqetta.core.server.standalone.command.GetPreferences" />
         <command path="setPreferences"  isPut="true"
               class="maqetta.core.server.standalone.command.SetPreferences" />
         <command path="getWorkbenchState" 
               class="maqetta.core.server.standalone.command.GetWorkbenchState" />
         <command path="setWorkbenchState"  isPut="true"
               class="maqetta.core.server.standalone.command.SetWorkbenchState" />
         <command path="removeWorkingCopy" 
               class="maqetta.core.server.standalone.command.RemoveWorkingCopy" />
         <command path="logoff" 
               class="maqetta.core.server.standalone.command.LogOff" />
         <command path="download" 
               class="maqetta.core.server.standalone.command.Download" />
         <command path="findResource" 
               class="maqetta.core.server.standalone.command.FindResource" />
         <command path="getPlugins" 
               class="maqetta.core.server.standalone.command.GetPlugins" />
          <command path="getLibRoots" 
               class="maqetta.core.server.standalone.command.GetLibRoots" /> 
          <command path="listLibs" 
               class="maqetta.core.server.standalone.command.ListLibs" />   
          <command path="getUserLibs" 
               class="maqetta.core.server.standalone.command.GetUserLibs" />   
          <command path="getLibMetadata" 
               class="maqetta.core.server.standalone.command.GetLibMetadata" />  
          <command path="modifyLib" 
               class="maqetta.core.server.standalone.command.ModifyLib" /> 
          <command path="getMetaRoot" 
               class="maqetta.core.server.standalone.command.GetMetaRoot" />   
           <command path="copy" 
               class="maqetta.core.server.standalone.command.Copy" /> 
           <command path="createProject" 
               class="maqetta.core.server.standalone.command.CreateProject" />         
           <command path="rename" 
               class="maqetta.core.server.standalone.command.Rename" />         
           <command path="tryIt" noLogin="true"
               class="maqetta.core.server.standalone.command.TryIt" />         
           <command path="removeUser" noLogin="true"
               class="maqetta.core.server.standalone.command.RemoveUser" />         
               
      </extension>

</plugin>
