<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension point="maqetta.core.server.personManager">
    	<personManager class="maqetta.core.server.user.manager.PersonManagerImpl" priority="0"/>
   	  </extension>

     <extension point="maqetta.core.server.userManager">
    	<userManager class="maqetta.core.server.user.manager.UserManagerImpl"/>
   	 </extension>
	
	
	<!-- this probably should eventually be moved to a dojo or RAD specific plugin -->
	<extension point="maqetta.core.server.libraryFinder">
    	<libraryFinder class="maqetta.core.server.DojoLibraryFinder"/>
   	 </extension>

     <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/maqetta"
         
            class="maqetta.core.server.DavinciPageServlet"
            load-on-startup="true">
           </servlet>

     <servlet
            alias="/review"
            class="maqetta.core.server.DavinciReviewServlet"
            load-on-startup="true">
      </servlet>

   </extension>
   

      <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="davinci.product"
            description="Davinci Server"
            name="Davinci Server">
      </product>
   </extension>
      <extension
            point="maqetta.core.server.command">
         <command path="login" noLogin="true" 
               class="maqetta.core.server.command.Login" />
         <command path="register" noLogin="true" 
               class="maqetta.core.server.command.Register" />
         <command path="listFiles" 
               class="maqetta.core.server.command.ListFiles" />
         <command path="addFiles" 
               class="maqetta.core.server.command.AddFiles" />
         <command path="deleteResource" 
               class="maqetta.core.server.command.DeleteResource" />
         <command path="createResource" 
               class="maqetta.core.server.command.CreateResource" />
         <command path="getPreferences" 
               class="maqetta.core.server.command.GetPreferences" />
         <command path="setPreferences"  isPut="true"
               class="maqetta.core.server.command.SetPreferences" />
         <command path="getWorkbenchState" 
               class="maqetta.core.server.command.GetWorkbenchState" />
         <command path="setWorkbenchState"  isPut="true"
               class="maqetta.core.server.command.SetWorkbenchState" />
         <command path="removeWorkingCopy" 
               class="maqetta.core.server.command.RemoveWorkingCopy" />
         <command path="logoff" 
               class="maqetta.core.server.command.LogOff" />
         <command path="download" 
               class="maqetta.core.server.command.Download" />
         <command path="findResource" 
               class="maqetta.core.server.command.FindResource" />
         <command path="getPlugins" 
               class="maqetta.core.server.command.GetPlugins" />
          <command path="getLibRoots" 
               class="maqetta.core.server.command.GetLibRoots" /> 
          <command path="listLibs" 
               class="maqetta.core.server.command.ListLibs" />   
          <command path="getUserLibs" 
               class="maqetta.core.server.command.GetUserLibs" />   
          <command path="getLibMetadata" 
               class="maqetta.core.server.command.GetLibMetadata" />  
          <command path="modifyLib" 
               class="maqetta.core.server.command.ModifyLib" /> 
          <command path="getMetaRoot" 
               class="maqetta.core.server.command.GetMetaRoot" />   
           <command path="copy" 
               class="maqetta.core.server.command.Copy" /> 
           <command path="createProject" 
               class="maqetta.core.server.command.CreateProject" />         
           <command path="rename" 
               class="maqetta.core.server.command.Rename" />         
           <command path="tryIt" noLogin="true"
               class="maqetta.core.server.command.TryIt" />         
           <command path="removeUser" noLogin="true"
               class="maqetta.core.server.command.RemoveUser" />
           <command path="keepalive" 
               class="maqetta.core.server.command.KeepAlive" />
                
          <!-- Review and Commenting Commands -->        
          <command path="listVersions"
               class="maqetta.core.server.command.ListVersions" />
         <command path="addComment"
               class="maqetta.core.server.command.AddComment" />
         <command path="updateComment"
               class="maqetta.core.server.command.UpdateComment" />
         <command path="getComments"
               class="maqetta.core.server.command.GetComments" />
         <command path="publish"
         	   class="maqetta.core.server.command.Publish" />
	     <command path="getBluePageInfo"
         	   class="maqetta.core.server.command.GetBluePageInfo" />         	   
         <command path="listReviewFiles"
         	   class="maqetta.core.server.command.ListReviewFiles" />
         <command path="getLatestVersionId"
         	   class="maqetta.core.server.command.GetLatestVersionId" />
         <command path="managerVersion"
         	   class="maqetta.core.server.command.ManagerVersion" />
         <command path="getReviewUserInfo"
         	   class="maqetta.core.server.command.GetReviewUserInfo" />   
               
      </extension>

</plugin>
