.gridWizardDialog {
	padding:0px;
}

.gridWizard {
	width:800px;
	height:475px;
	padding:0px;
}

.gridWizard .steps {
	height: 25px;
}

.gridWizard .mainSection {
	padding:0px;
}

.gridWizard .wizardStackContainer {
	padding: 0px;
}

.gridWizard .pageNode {
	overflow:hidden;
	padding-top:0px;
	padding-bottom:0px;
}

.gridWizard .wizardPanel {
	width:100%;
	height:100%;
	padding:0px;
}

.gridWizard .bottomSection {
	margin:10px 0 0 0;
}

.gridWizard .cancelButton {
	float:right;
	margin:7px 0px 0 5px; 
	text-decoration:none;
}

.gridWizard .bottomButton {
	float:right;
}

.gridWizard .todo {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -85px -866px;
  width: 20px;
  height: 20px;
  float: left;
}

.gridWizard .done {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -723px;
  width: 20px;
  height: 20px;
  float: left;
}

.gridWizard .crumbs {
	margin-right:8px;
	width:33%;
	color:#005CE5;
	cursor:pointer;
	float:left;
	height:20px;
	line-height:20px;
	display:inline;
}

.gridWizard .crumbsLast {
	width:30%;
}

.gridWizard .current {
	color:black;
	font-weight: bold;
}

.gridWizard .sep {
	border-right: 1px solid silver;
}

.gridWizard .reviewMsg {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
	margin:7px 0 0 0;
	color:red;
	float:left;
	background-position: -85px -800px;
	width: 16px; 
	height: 16px; 
	padding-left:18px;
	white-space: nowrap;
}

/************ Data Source Page (Page 1) ***********/

.gridWizard .dataSourcePanelDataSourceInputContainer {
 	overflow: auto;
	padding: 0px;
}

/* Embedded Smart input formatting */

.gridWizard .dojoStoreBasedWidgetInput {
	overflow: visible;
	padding: 0px;
}
.gridWizard .smartInputDataGridFolderDiv {
	background-color: white;
}

.gridWizard .smartInputRadioDiv {
	background-color: white;
}

/************ Column selection page (Page 2) **********/
.gridWizard .selectPanelDiv {
	text-align:center;
	overflow:auto;
}

.gridWizard .selectPanelSloshBucketTable {
	display:inline-block;
}

.gridWizard .sourceListLabel, .targetListLabel {
	text-align:left;
}

.gridWizard .sourceList, .targetList {
	width:245px;
	height:240px;
	border:1px solid #DBDBDB;
}

.gridWizard .sloshBucketIcon {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat; 
}

.gridWizard .sloshBucketMoveToTargetIcon {
	background-image: url(img/forward_nav.gif);
}

.gridWizard .sloshBucketMoveToSourceIcon {
	background-image: url(img/back_nav.gif);
}

.gridWizard .sloshBucketMoveTargetUpIcon {
	background-image: url(img/up_nav.gif);
}

.gridWizard .sloshBucketMoveTargetDownIcon {
	background-image: url(img/down_nav.gif);
}

/* Grid preview page (Page 3) */
.gridWizard .previewPanelBorderContainer {
	width: 100%;
	height:100%;
}

.gridWizard .previewPanelCenterContentPane {
	overflow:hidden;
}

.gridWizard .previewPanelSectionLabelContainer {
	padding:0px;
	height: 14px;
	white-space: nowrap;
	overflow: hidden;
}

.gridWizard .previewPanelPreviewNote {
	font-style: italic;
	margin-left:10px;
}

.gridWizard .previewPanelPreviewPaneCenter {
	margin-top: 8px;
	padding:0px; 
	overflow:auto;
	border: 1px solid grey;
}

.gridWizard .previewPanelGridPreviewDiv {
	margin:0px;
	overflow:visible;
}

.gridWizard .previewPanelGridContentPane {
	padding: 15px;
	overflow: visible;
}

.gridWizard .previewPanelTrailingContentPane {
	width: 137px;
	overflow:hidden;
}

.gridWizard .previewPanelColumnPropsPaneCenter {
	margin-top: 8px;
	padding:0px; 
	overflow:hidden;
}

.gridWizard .previewPanelColumnPropsDiv {
	border: 1px solid grey;
	height:40%;
	overflow:auto;
	padding: 5px;
}

.gridWizard .previewPanelColumnPropsTable {
	width:100%;
}

.gridWizard .previewPanelColumnInputField {
	width:100%;
	min-width:75px;
}

.gridWizard .previewPanelResetButtonContainer {
	margin-top:20px;
	text-align: center;
	width:100%;
	height:100%;
}

.gridWizard .previewPanelResetButton {
	display:inline-block;
}

